<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.wb.wbk.WBKAFutureCarContestListMapper">

    <!--
         쿼리명 : WBKAFutureCarContest.selectFutureCarContestList
         설  명 : 게시판 리스트
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  민윤기     최초 생성
    -->
    <select id="selectFutureCarContestList" parameterType="WBFutureCarContestSearchDTO" resultType="WBFutureCarContestMstDTO">
        SELECT /* WBEAFutureCarContestListMapper.selectFutureCarContestList */ *
        FROM (
            SELECT
            EPISD_SEQ
            ,BSN_CD
            ,YEAR
            ,ACCS_STRT_DTM
            ,ACCS_END_DTM
            ,BSN_STRT_DTM
            ,BSN_END_DTM
            ,(SELECT
                COUNT(*)
            FROM
                (
                SELECT *
                FROM cx_episd_mst
                WHERE bsn_cd = 'BSN11'
                )B
                INNER JOIN cx_appctn_mst C on C.episd_seq = b.episd_seq
                WHERE C.episd_seq = a.episd_seq
            ) AS REG_CLI
            ,(SELECT
                COUNT(*)
            FROM
                (
                SELECT *
                FROM cx_episd_mst
                WHERE bsn_cd = 'BSN11'
                )B
                inner join cx_appctn_mst C on C.episd_seq = b.episd_seq
                inner join cx_appctn_rsume_dtl D on D.appctn_seq = C.appctn_seq
                WHERE C.episd_seq = a.episd_seq
                AND D.rsume_ord = 3 and D.mng_stts_cd='WBKB_REG_LRT001'
            )WIN_CLI
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
            ELSE '사업종료'
            END AS DATE_STATE
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
            ELSE 'STATE05'
            END AS DATE_STATE_CD
            , (SELECT NM FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS PLACE_NM
            , (SELECT SUM(PRIZE_PMT) FROM CX_EPISD_PRIZE_DTL WHERE EPISD_SEQ = A.EPISD_SEQ) AS PRIZE_PMT
            ,EXPS_YN
            ,REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            ,REG_DTM
            ,MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            ,MOD_DTM
            FROM CX_EPISD_MST A
        ) A
        <include refid="selectFutureCarContestListwhereSql" />
        ORDER BY A.REG_DTM DESC
    </select>

    <!--
         쿼리명 : WBKAFutureCarContestListMapper.getFutureCarContestListTotCnt
         설  명 : 게시판 총 갯수
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  민윤기     최초 생성
    -->
    <select id="getFutureCarContestListTotCnt" parameterType="WBFutureCarContestSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBKAFutureCarContestMapper.getFutureCarContestListTotCnt*/ COUNT(*)
        FROM (
            SELECT
            EPISD_SEQ
            ,BSN_CD
            ,YEAR
            ,EPISD
            ,ACCS_STRT_DTM
            ,ACCS_END_DTM
            ,BSN_STRT_DTM
            ,BSN_END_DTM
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
            ELSE '사업종료'
            END AS DATE_STATE
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
            ELSE 'STATE05'
            END AS DATE_STATE_CD
            , (SELECT NM FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS PLACE_NM
            , (SELECT SUM(PRIZE_PMT) FROM CX_EPISD_PRIZE_DTL WHERE EPISD_SEQ = A.EPISD_SEQ) AS PRIZE_PMT
            ,EXPS_YN
            ,REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            ,REG_DTM
            ,MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            ,MOD_DTM
            FROM CX_EPISD_MST A
        ) A
        <include refid="selectFutureCarContestListwhereSql" />
    </select>


    <!--
         쿼리명 : WBKAFutureCarContestListMapper.selectFutureCarContestDtl
         설  명 : 회차 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  민윤기     최초 생성
    -->
    <select id="selectFutureCarContestDtl" parameterType="WBFutureCarContestSearchDTO" resultType="WBFutureCarContestMstDTO">
        SELECT /* WBKAFutureCarContestMapper.selectFutureCarContestDtl*/
            EPISD_SEQ
             ,BSN_CD
             ,YEAR
             ,EPISD
             ,ACCS_STRT_DTM
             ,ACCS_END_DTM
             ,BSN_STRT_DTM
             ,BSN_END_DTM
             , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
                WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
                WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
                WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
                ELSE '사업종료'
            END AS DATE_STATE
             ,PLACE_SEQ
             ,ADD_NTFY_CNTN
             ,EXPS_YN
             ,REG_ID
             ,REG_IP
             ,(SELECT
					COUNT(*)
				FROM
					(
					SELECT *
					FROM cx_episd_mst
					WHERE bsn_cd = 'BNS11'
					)B
					INNER JOIN cx_appctn_mst C on C.episd_seq = b.episd_seq
					WHERE C.episd_seq = a.episd_seq
				) AS REG_CLI
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             ,REG_DTM
             ,MOD_ID
             ,MOD_IP
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             ,MOD_DTM
        FROM CX_EPISD_MST A
        WHERE EPISD_SEQ = #{detailsKey}
    </select>

    <!--
     쿼리명 : WBKAFutureCarContestListMapper.getRoundDtl
     설  명 : 최신 회차 상세 조회
     수정일     수정자     수정내용
    ==========  ======  ==============
    2024.01.03  민윤기     최초 생성
-->
    <select id="getRoundDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstSearchDTO">
        SELECT /* WBBARoundMapper.getRoundDtl */ *
        FROM (
                 SELECT
                     EPISD_SEQ
                      ,BSN_CD
                      ,YEAR
                      ,EPISD
                      ,ACCS_STRT_DTM
                      ,ACCS_END_DTM
                      ,BSN_STRT_DTM
                      ,BSN_END_DTM
                      ,EXPS_YN
                      , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 2
                     WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 1
                     ELSE 3
                     END AS DATE_ORD
                 FROM CX_EPISD_MST A
                 WHERE BSN_CD = 'BSN11' AND EXPS_YN = 'Y'
             ) A
        WHERE DATE_ORD = 1
        ORDER BY ACCS_STRT_DTM, BSN_STRT_DTM ASC
            LIMIT 1
    </select>

    <!--
     쿼리명 : WBKAFutureCarContest.selectPrizeList
     설  명 : 포상금/포상종류 조회
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.20  민윤기     최초 생성
-->
    <select id="selectPrizeList" parameterType="wBFutureCarContestMstDTO" resultType="WBPrizeMstDTO">
        SELECT /* WBKAFutureCarContest.selectPrizeList*/
            PRIZE_SEQ
             ,EPISD_SEQ
             ,WDCRM_CD
             ,PTCPT_TYPE
             ,PRIZE_PMT
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.WDCRM_CD) AS WDCRM_NAME
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.PTCPT_TYPE) AS PTCPT_NAME
        FROM CX_EPISD_PRIZE_DTL A
        WHERE EPISD_SEQ = #{detailsKey}
        ORDER BY PRIZE_SEQ ASC

    </select>

    <!--
         쿼리명 : WBKAFutureCarContest.selectPlaceList
         설  명 : 장소 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.20  민윤기     최초 생성
    -->
    <select id="selectPlaceList" parameterType="wBFutureCarContestMstDTO" resultType="EBFEduRoomDetailDTO">
        SELECT /* WBKAFutureCarContest.selectPlaceList */
                (SELECT NM FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS NM
             , (SELECT CD_NM FROM ED_EDCTN_PLACE_MST B INNER JOIN CO_CODE_MST C ON B.RGNS_CD = C.CD WHERE B.PLACE_SEQ = A.PLACE_SEQ) AS RGNS_NAME
             , (SELECT ZIPCODE FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS ZIPCODE
             , (SELECT BSC_ADDR FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS BSC_ADDR
             , (SELECT DTL_ADDR FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS DTL_ADDR
             , (SELECT RPRSNT_TEL_NO FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = A.PLACE_SEQ) AS RPRSNT_TEL_NO
        FROM CX_EPISD_MST A
        WHERE EPISD_SEQ = #{detailsKey}
    </select>

    <!--
		쿼리명 : selectFutureCarContestListwhereSql
		설  명 : 게시판 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.08    민윤기       최초생성
    -->
    <sql id="selectFutureCarContestListwhereSql">
        <where>
            AND BSN_CD = 'BSN11'
            <if test="carbonDate != null and carbonDate != ''.toString() ">
                <choose>
                    <when test="carbonDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                                ACCS_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                ACCS_END_DTM BETWEEN STR_TO_DATE(#{endDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                                OR
                                STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                            )
                        </if>
                    </when>
                    <when test="carbonDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                                BSN_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                BSN_END_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                                OR
                                STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                            )
                        </if>
                    </when>
                </choose>
            </if>

            <if test="carbonCdList != null and carbonCdList.size() > 0">
                AND (
                <foreach collection="carbonCdList" item="carbonCdList" index="index" open="" close="" separator=" or ">
                    A.DATE_STATE_CD = #{carbonCdList}
                </foreach>
                )
            </if>
            <if test="expsYnList != null and expsYnList.size() > 0">
                AND (
                <foreach collection="expsYnList" item="expsYnList" index="index" open="" close="" separator=" or ">
                    EXPS_YN = #{expsYnList}
                </foreach>
                )
            </if>
            <if test="q != null and q != ''.toString() ">
                <choose>
                    <when test="f == 1">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <when test="f == 2">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <otherwise>
                        AND (
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        OR
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>



    <!--
     쿼리명 : WBKAFutureCarContestListMapper.insertCFutureCarContest
     설  명 : 회차 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  민윤기     최초 생성
    -->
    <insert id="insertCFutureCarContest" parameterType="WBFutureCarContestMstDTO">
        INSERT /* WBKAFutureCarContestMapper.insertCFutureCarContest */ INTO CX_EPISD_MST
        (
            EPISD_SEQ
        ,BSN_CD
        ,YEAR
        ,EPISD
        ,ACCS_STRT_DTM
        ,ACCS_END_DTM
        ,BSN_STRT_DTM
        ,BSN_END_DTM
        ,PLACE_SEQ
        ,ADD_NTFY_CNTN
        ,EXPS_YN
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
            VALUE
            (
            #{episdSeq}
            ,#{bsnCd}
            ,#{year}
            ,#{episd}
            ,#{accsStrtDtm}
            ,#{accsEndDtm}
            ,#{bsnStrtDtm}
            ,#{bsnEndDtm}
            ,#{placeSeq}
            ,#{addNtfyCntn}
            ,#{expsYn}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </insert>

    <!--
  쿼리명 : WBKAFutureCarContest.insertPrizeList
  설  명 : 포상금/포상종류 생성
  수정일     수정자     수정내용
 ==========  ======  ==============
 2023.11.20  민윤기     최초 생성
 -->
    <insert id="insertPrizeList" parameterType="WBPrizeMstDTO">
        INSERT /* WBKAFutureCarContest.insertPrizeList */ INTO CX_EPISD_PRIZE_DTL
        (
            PRIZE_SEQ
        ,EPISD_SEQ
        ,WDCRM_CD
        ,PTCPT_TYPE
        ,PRIZE_PMT
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
            #{prizeSeq}
            ,#{episdSeq}
            ,#{wdcrmCd}
            ,#{ptcptType}
            ,#{prizePmt}
            ,#{regId}
            ,#{regIp}
            ,now()
            )
    </insert>

    <!--
     쿼리명 : WBKAFutureCarContestMapper.updatePrizeList
     설  명 : 시상 수정
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  민윤기     최초 생성
    -->
    <insert id="updatePrizeList" parameterType="WBPrizeMstDTO">
        INSERT /* WBKAFutureCarContestMapper.updatePrizeList */ INTO CX_EPISD_PRIZE_DTL
        (
            PRIZE_SEQ
        ,EPISD_SEQ
        ,WDCRM_CD
        ,PTCPT_TYPE
        ,PRIZE_PMT
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
            #{prizeSeq}
            ,#{detailsKey}
            ,#{wdcrmCd}
            ,#{ptcptType}
            ,#{prizePmt}
            ,#{regId}
            ,#{regIp}
            ,now()
            )
    </insert>

    <!--
		쿼리명 : WBKAFutureCarContestMapper.updateFutureCarContest
		설  명 : 회차 수정
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.11.08  민윤기     최초 생성
	-->
    <update id="updateFutureCarContest" parameterType="WBFutureCarContestMstDTO">
        UPDATE CX_EPISD_MST SET /* WBKAFutureCarContestMapper.updateFutureCarContest  */
              YEAR = #{year}
              ,EPISD =  #{episd}
              ,ACCS_STRT_DTM = #{accsStrtDtm}
              ,ACCS_END_DTM = #{accsEndDtm}
              ,BSN_STRT_DTM = #{bsnStrtDtm}
              ,BSN_END_DTM = #{bsnEndDtm}
                              ,ADD_NTFY_CNTN = #{addNtfyCntn}
                              ,PLACE_SEQ = #{placeSeq}
              ,EXPS_YN = #{expsYn}
              ,MOD_ID = #{modId}
              ,MOD_IP = #{modIp}
              ,MOD_DTM = NOW()
        WHERE EPISD_SEQ = #{detailsKey}
    </update>


    <!--
         쿼리명 : WBKAFutureCarContestMapper.selectYearDtl
         설  명 : 연도 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  민윤기     최초 생성
    -->
    <select id="selectYearDtl" parameterType="wBFutureCarContestSearchDTO" resultType="WBFutureCarContestMstDTO">
        SELECT /* WBKAFutureCarContestMapper.selectYearDtl */
            MIN(YEAR) AS YEAR
        FROM CX_EPISD_MST
    </select>


    <!--
      쿼리명 : WBKAFutureCarContestListMapper.deletePrizeList
      설  명 : 포상 삭제
       수정일	 수정자     수정내용
      ==========   ======   =============
      2023.11.20  민윤기     최초 생성
  -->
    <delete id="deletePrizeList" parameterType="WBFutureCarContestMstDTO">
        DELETE /* WBKAFutureCarContestMapper.deletePrizeList */
        FROM CX_EPISD_PRIZE_DTL
        WHERE EPISD_SEQ = #{detailsKey}
    </delete>

    <!--
       쿼리명 : WBKAFutureCarContestListMapper.deleteFutureCarContest
       설  명 : 회차 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  민윤기     최초 생성
   -->
    <delete id="deleteFutureCarContest" parameterType="WBFutureCarContestMstDTO">
        DELETE /* WBKAFutureCarContestMapper.deleteFutureCarContest */
        FROM CX_EPISD_MST
        WHERE EPISD_SEQ = #{detailsKey}
    </delete>

</mapper>



