<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.wb.wbb.WBBARoundMapper">

    <!--
         쿼리명 : WBBARoundMapper.selectCarbonList
         설  명 : 게시판 리스트
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectRoundList" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBBARoundMapper.selectRoundList */ *
        FROM (
        SELECT
        EPISD_SEQ
        ,BSN_CD
        ,YEAR
        ,EPISD
        ,ACCS_STRT_DTM
        ,ACCS_END_DTM
        ,BSN_STRT_DTM
        ,BSN_END_DTM
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
        WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
        WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
        ELSE '사업종료'
        END AS DATE_STATE
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
        WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
        WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
        ELSE 'STATE05'
        END AS DATE_STATE_CD
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수대기'
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
        ELSE '마감'
        END AS ACCT_STATUS
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 2
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 1
        ELSE 3
        END AS DATE_ORD
        , DATEDIFF(ACCS_END_DTM,NOW()) AS D_DAY
        ,EXPS_YN
        ,REG_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
        ,REG_DTM
        ,MOD_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
        ,MOD_DTM
        FROM CX_EPISD_MST A
        ) A
        <include refid="selectRoundListwhereSql" />
        <choose>
            <when test="ordFlag == 1">
                ORDER BY DATE_ORD,
                CASE WHEN DATE_ORD = 1 THEN ACCS_END_DTM END,
                CASE WHEN DATE_ORD = 2 THEN ACCS_STRT_DTM END,
                CASE WHEN DATE_ORD = 3 THEN
                CASE WHEN BSN_END_DTM IS NULL THEN ACCS_END_DTM ELSE BSN_END_DTM END
                END DESC
            </when>
            <otherwise>
                ORDER BY A.REG_DTM DESC
            </otherwise>
        </choose>
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : WBBARoundMapper.getRoundListTotCnt
         설  명 : 게시판 총 갯수
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="getRoundListTotCnt" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBBARoundMapper.getRoundListTotCnt*/ COUNT(*)
        FROM (
        SELECT
        EPISD_SEQ
        ,BSN_CD
        ,YEAR
        ,EPISD
        ,ACCS_STRT_DTM
        ,ACCS_END_DTM
        ,BSN_STRT_DTM
        ,BSN_END_DTM
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
        WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
        WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
        ELSE '사업종료'
        END AS DATE_STATE
        , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
        WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
        WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
        WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
        ELSE 'STATE05'
        END AS DATE_STATE_CD
        ,EXPS_YN
        ,REG_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
        ,REG_DTM
        ,MOD_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
        ,MOD_DTM
        FROM CX_EPISD_MST A
        ) A
        <include refid="selectRoundListwhereSql" />
    </select>


    <!--
         쿼리명 : WBBARoundMapper.selectRoundDtl
         설  명 : 회차 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectRoundDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBBARoundMapper.selectRoundDtl*/
            EPISD_SEQ
             ,BSN_CD
             ,YEAR
             ,EPISD
             ,ACCS_STRT_DTM
             ,ACCS_END_DTM
             ,BSN_STRT_DTM
             ,BSN_END_DTM
             , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
            ELSE '사업종료'
        END AS DATE_STATE
             ,EXPS_YN
             ,REG_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             ,REG_IP
             ,REG_DTM
             ,MOD_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             ,MOD_IP
             ,MOD_DTM
        FROM CX_EPISD_MST A
        WHERE EPISD_SEQ = #{detailsKey}
    </select>

    <!--
         쿼리명 : WBBARoundMapper.getRoundDtl
         설  명 : 최신 회차 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="getRoundDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstSearchDTO">
        SELECT /* WBBARoundMapper.getRoundDtl */ *
            FROM (
                SELECT
                    EPISD_SEQ
                    ,BSN_CD
                    ,YEAR
                    , (SELECT cd_nm FROM co_code_mst WHERE cd = BSN_CD) AS BSN_NM
                    ,EPISD
                    ,ACCS_STRT_DTM
                    ,ACCS_END_DTM
                    ,BSN_STRT_DTM
                    ,BSN_END_DTM
                    ,EXPS_YN
                    , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 2
                    WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 1
                    ELSE 3
                    END AS DATE_ORD
                FROM CX_EPISD_MST A
                WHERE BSN_CD = #{bsnCd} AND EXPS_YN = 'Y'
        ) A
        WHERE DATE_ORD = 1
        ORDER BY ACCS_END_DTM, BSN_STRT_DTM ASC
        LIMIT 1
    </select>

    <!--
        쿼리명 : WBBARoundMapper.selectOPtnList
        설  명 : 최신 회차 상세 조회
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.11.24  김태훈     최초 생성
   -->
    <select id="selectOPtnList" parameterType="wBRoundMstSearchDTO" resultType="WBAManagementOptnDTO">
        SELECT /* WBBARoundMapper.selectOPtnList */ *
        FROM (
                 SELECT
                     OPTN_SEQ
                     , A.STAGE_SEQ
                     , OPTN_NM
                     , OPTN_ORD
                     , FILE_SEQ
                     , (SELECT CONCAT(file_dsc,'.',file_extn)  FROM CO_FILE_DTL WHERE USE_YN = 'Y' AND FILE_SEQ = A.FILE_SEQ) AS FILE_NM
                     , STAGE_ORD
                 FROM CX_OPTN_DTL A
                 JOIN CX_STAGE_DTL B ON A.STAGE_SEQ = B.STAGE_SEQ AND B.BSN_CD = #{bsnCd} AND B. FILE_YN = 'Y'
                 ORDER BY OPTN_ORD ASC
             ) TMP
        WHERE TMP.STAGE_ORD = #{stageOrd}
    </select>

    <!--
        쿼리명 : WBBARoundMapper.getApplyCount
        설  명 : 회차사업 참여 카운트
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.11.24  김태훈     최초 생성
   -->
    <select id="getApplyCount" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBBARoundMapper.getApplyCount */ COUNT(*)
        FROM CX_APPCTN_MST A
        JOIN CX_APPCTN_RSUME_DTL B ON A.appctn_seq = B.appctn_seq AND B.rsume_ord = 1
        WHERE EPISD_SEQ = #{episdSeq} AND MEM_SEQ = #{memSeq} AND APPCTN_STTS_CD != 'PRO_TYPE04_2_5'
    </select>

    <!--
        쿼리명 : WBBARoundMapper.getApplyPartsCount
        설  명 : 동일 부품사 회차사업 참여 카운트
        수정일     수정자     수정내용
       ==========  ======  ==============
       2024.02.29  구은희     최초 생성
    -->
    <select id="getApplyPartsCount" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBBARoundMapper.getApplyPartsCount */ COUNT(*)
        FROM (
             SELECT EPISD_SEQ
             FROM cx_episd_mst
             WHERE BSN_CD = #{bsnCd} AND YEAR = #{year}
         ) cem
        JOIN CX_APPCTN_MST cam ON cem.EPISD_SEQ = cam.episd_seq
        JOIN CX_APPCTN_RSUME_DTL B ON cam.appctn_seq = B.appctn_seq AND B.rsume_ord = 1 AND APPCTN_STTS_CD != 'PRO_TYPE07001_01_004'
        WHERE 1=1
          AND appctn_bsnm_no = #{bsnmNo}
          AND mem_seq != #{memSeq}
    </select>

    <!--
		쿼리명 : selectRoundListwhereSql
		설  명 : 게시판 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.24    김태훈       최초생성
    -->
    <sql id="selectRoundListwhereSql">
        <where>
            AND BSN_CD = #{bsnCd}
            <if test="carbonDate != null and carbonDate != ''.toString() ">
                <choose>
                    <when test="carbonDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                            ACCS_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                            OR
                            ACCS_END_DTM BETWEEN STR_TO_DATE(#{endDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                            OR
                            STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                            OR
                            STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                            )
                        </if>
                    </when>
                    <when test="carbonDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                            BSN_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                            OR
                            BSN_END_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                            OR
                            STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                            OR
                            STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                            )
                        </if>
                    </when>
                    <when test="carbonDate == 3">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND REG_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                    <when test="carbonDate == 4">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                </choose>
            </if>

            <if test="carbonCdList != null and carbonCdList.size() > 0">
                AND (
                <foreach collection="carbonCdList" item="carbonCdList" index="index" open="" close="" separator=" or ">
                    A.DATE_STATE_CD = #{carbonCdList}
                </foreach>
                )
            </if>
            <if test="expsYn != null and expsYn != ''.toString()">
                AND EXPS_YN = #{expsYn}
            </if>
            <if test="expsYnList != null and expsYnList.size() > 0">
                AND (
                <foreach collection="expsYnList" item="expsYnList" index="index" open="" close="" separator=" or ">
                    EXPS_YN = #{expsYnList}
                </foreach>
                )
            </if>
            <if test="q != null and q != ''.toString() ">
                <choose>
                    <when test="f == 1">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <when test="f == 2">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <otherwise>
                        AND (
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        OR
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>



    <!--
     쿼리명 : WBBARoundMapper.insertRound
     설  명 : 회차 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertRound" parameterType="wBRoundMstDTO">
        INSERT /* WBBARoundMapper.insertRound */ INTO CX_EPISD_MST
        (
            EPISD_SEQ
        ,BSN_CD
        ,YEAR
        ,EPISD
        ,ACCS_STRT_DTM
        ,ACCS_END_DTM
        ,BSN_STRT_DTM
        ,BSN_END_DTM
        ,EXPS_YN
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
            VALUE
            (
            #{episdSeq}
            ,#{bsnCd}
            ,#{year}
            ,#{episd}
            ,#{accsStrtDtm}
            ,#{accsEndDtm}
            ,#{bsnStrtDtm}
            ,#{bsnEndDtm}
            ,#{expsYn}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </insert>

    <!--
		쿼리명 : WBBARoundMapper.updateRound
		설  명 : 회차 수정
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.11.24  김태훈     최초 생성
	-->
    <update id="updateRound" parameterType="wBRoundMstDTO">
        UPDATE CX_EPISD_MST SET /* WBBARoundMapper.updateRound  */
            YEAR = #{year}
                              ,EPISD =  #{episd}
                              ,ACCS_STRT_DTM = #{accsStrtDtm}
                              ,ACCS_END_DTM = #{accsEndDtm}
                              ,BSN_STRT_DTM = #{bsnStrtDtm}
                              ,BSN_END_DTM = #{bsnEndDtm}
                              ,EXPS_YN = #{expsYn}
                              ,MOD_ID = #{modId}
                              ,MOD_IP = #{modIp}
                              ,MOD_DTM = NOW()
        WHERE EPISD_SEQ = #{detailsKey}
    </update>


    <!--
         쿼리명 : WBBARoundMapper.selectYearDtl
         설  명 : 연도 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectYearDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBBARoundMapper.selectYearDtl */
            MIN(YEAR) AS YEAR
        FROM CX_EPISD_MST
    </select>

    <!--
       쿼리명 : WBBARoundMapper.deleteRound
       설  명 : 회차 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.24  김태훈     최초 생성
   -->
    <delete id="deleteRound" parameterType="wBRoundMstDTO">
        DELETE /* WBBARoundMapper.deleteRound */
        FROM CX_EPISD_MST
        WHERE EPISD_SEQ = #{detailsKey}
    </delete>

    <!--
         쿼리명 : WBBARoundMapper.getApplyUserCount
         설  명 : 사업 참여자 카운트
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.10    김태훈       최초생성
    -->
    <select id="getApplyUserCount" parameterType="wBRoundMstDTO" resultType="java.lang.Integer">
        SELECT COUNT(*) /* WBBARoundMapper.getApplyUserCount*/
        FROM
            (SELECT EPISD_SEQ FROM CX_EPISD_MST
             WHERE EPISD_SEQ = #{detailsKey}) A
                INNER JOIN CX_APPCTN_MST B
        WHERE A.EPISD_SEQ = B.EPISD_SEQ
    </select>

    <!--
         쿼리명 : WBBARoundMapper.getAppctnCnt
         설  명 : 매핑 정보 확인
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="getAppctnCnt" parameterType="WBRoundMstDTO" resultType="java.lang.Integer">
        SELECT /* WBBARoundMapper.getAppctnCnt*/ COUNT(*)
        FROM CX_APPCTN_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    EPISD_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    EPISD_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
       쿼리명 : WBBARoundMapper.deleteList
       설  명 : 회차 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="deleteList" parameterType="wBRoundMstDTO">
        DELETE /* WBBARoundMapper.deleteList */
        FROM CX_EPISD_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    EPISD_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    EPISD_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : WBBARoundMapper.episdChk
         설  명 : 회차 중복 체크
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="episdChk" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CX_EPISD_MST
        WHERE BSN_CD = #{bsnCd}
        AND YEAR = #{year}
        AND EPISD = #{episd}
        <if test="detailsKey != null and detailsKey != ''.toString() ">
            AND EPISD_SEQ != #{detailsKey}
        </if>
    </select>
</mapper>



