<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPAUserMapper">
    <!--
        쿼리명 : MPAUserMapper.selectUserList
        설  명 : 일반 사용자 목록을 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    양현우       최초생성
    -->
    <select id="selectUserList" parameterType="MPAUserDto" resultType="MPAUserDto">
        SELECT MEM_SEQ /* MPAUserMapper.selectUserList */
             , ID
             , NAME
             , HP_NO
             , EMAIL
             , REG_DTM
             , MOD_DTM
             , MEM_CD
             , WORK_BSNM_NO
             , MOD_NAME
             , CMPN_NM
             , SIZE_CD_NM
             , SIZE_CD
             , CTGRY_CD_NM
             , CTGRY_CD
             , GNDR
             , TEL_NO
             , ZIPCODE
             , BSC_ADDR
             , DTL_ADDR
             , NTFY_SMS_RCV_YN
             , NTFY_EMAIL_RCV_YN
             , CMSSR_TYPE_CD
             , CMSSR_TYPE_CD_NM
             , CMSSR_CBSN_CD
             , CMSSR_CBSN_CD_NM
             , CMSSR_WORK_CD
             , CMSSR_WORK_CD_NM
             , CMT_MOD_NAME
             , CMPN_TEL_NO
             , mod_id
             , dept_cd
             , dept_dtl_nm
             , dept_cd_nm
             , pstn_cd_nm
             , pstn_cd
             , reg_id
             , cmssr_mjr_carer_cntn
             , birth
          FROM ( SELECT MEM.MEM_SEQ
                      , MEM.ID
                      , MEM.NAME
                      , MEM.HP_NO
                      , MEM.EMAIL
                      , MEM.REG_DTM
                      , MEM.MOD_DTM
                      , MEM.GNDR
                      , MEM.MEM_CD
                      , MEM.WORK_BSNM_NO
                      , MEM.NTFY_SMS_RCV_YN
                      , MEM.NTFY_EMAIL_RCV_YN
                      , CASE WHEN MST.MOD_CD ='AD' THEN (SELECT NAME FROM CO_ADM_MST WHERE ID=MST.REG_ID)
                             WHEN MST.MOD_CD = 'CO' THEN (SELECT NAME FROM CO_MEM_MST WHERE ID=MST.REG_ID)
                              ELSE NULL END AS MOD_NAME
                      , CMPN_MST.CMPN_NM
                      , CASE WHEN CMPN_MST.SIZE_CD != '' THEN  (SELECT CD_NM FROM CO_CODE_MST WHERE  CD=CMPN_MST.SIZE_CD )
                              ELSE '' END as SIZE_CD_NM
                      , CASE WHEN CMPN_MST.SIZE_CD != '' THEN  (SELECT CD FROM CO_CODE_MST WHERE  CD=CMPN_MST.SIZE_CD )
                              ELSE '' END as SIZE_CD
                      , CASE WHEN CMPN_MST.CTGRY_CD != '' THEN (SELECT CD_NM FROM CO_CODE_MST WHERE  CD=CMPN_MST.CTGRY_CD )
                              ELSE '' END as CTGRY_CD_NM
                      , CMPN_MST.CTGRY_CD
                      , MEM.TEL_NO
                      , MEM.ZIPCODE
                      , MEM.BSC_ADDR
                      , MEM.DTL_ADDR
                      , MEM.CMSSR_TYPE_CD
                      , CASE WHEN MEM.CMSSR_TYPE_CD != '' THEN  (SELECT CD_NM FROM CO_CODE_MST WHERE  CD=MEM.CMSSR_TYPE_CD )
                              ELSE '' END as CMSSR_TYPE_CD_NM
                      , MEM.CMSSR_CBSN_CD
                      , CASE WHEN MEM.CMSSR_CBSN_CD != '' THEN  (SELECT CD_NM FROM CO_CODE_MST WHERE  CD=MEM.CMSSR_CBSN_CD )
                              ELSE '' END as CMSSR_CBSN_CD_NM
                      , MEM.CMSSR_WORK_CD
                      , CASE WHEN MEM.CMSSR_WORK_CD != '' THEN  (SELECT CD_NM FROM CO_CODE_MST WHERE  CD=MEM.CMSSR_WORK_CD )
                              ELSE '' END as CMSSR_WORK_CD_NM
                      , CASE WHEN (SELECT COUNT(*) FROM CO_ADM_MST WHERE ID=MEM.REG_ID) > 0 THEN (SELECT NAME FROM CO_ADM_MST WHERE ID=MEM.REG_ID)
                             WHEN (SELECT COUNT(*) FROM CO_ADM_MST WHERE ID=MEM.REG_ID) = 0 THEN (SELECT NAME FROM CO_MEM_MST WHERE ID=MEM.REG_ID)
                              ELSE NULL END AS CMT_MOD_NAME
                      , MEM.BIRTH
                      , MEM.CMSSR_MPLMN_DT
                      , MEM.CMSSR_RSGNT_DT
                      , MEM.WTHDRW_YN
                      , CMPN_MST.TEL_NO AS CMPN_TEL_NO
                      , mst.reg_id as mod_id
                      , mem.dept_cd
                      , (select cd_nm from co_code_mst where  cd=mem.dept_cd ) as dept_cd_nm
                      , mem.dept_dtl_nm
                      , mem.pstn_cd
                      , (select cd_nm from co_code_mst where  cd=mem.pstn_cd ) as pstn_cd_nm
                      , mem.reg_id
                      , mem.cmssr_mjr_carer_cntn
                    FROM CO_MEM_MST MEM
                     INNER JOIN ( SELECT MEM_MOD_SEQ
                                       , MEM_SEQ
                                       , MOD_CD
                                       , REG_ID
                                    FROM CO_MEM_MOD_LOG
                                     WHERE ( MEM_MOD_SEQ , MEM_SEQ)
                                      IN ( SELECT MAX(MEM_MOD_SEQ)
                                                , MEM_SEQ
                                             FROM CO_MEM_MOD_LOG
                                              GROUP BY MEM_SEQ ) ) MST
                      ON MEM.MEM_SEQ = MST.MEM_SEQ
                     LEFT OUTER JOIN CO_MEM_CMPN_REL CMPN_REL
                      ON MEM.MEM_SEQ = CMPN_REL.MEM_SEQ
                       AND MEM.WORK_BSNM_NO = CMPN_REL.BSNM_NO
                     LEFT OUTER JOIN CP_CMPN_MST CMPN_MST
                      ON MEM.WORK_BSNM_NO  = CMPN_MST.BSNM_NO) AS MA
                    <include refid="selectUserListWhereSql" />
                        ORDER BY MA.REG_DTM DESC
                    <if test="excelYn != 'Y'.toString() ">
                        LIMIT   #{firstIndex}, #{recordCountPerPage}
                    </if>
    </select>

    <!--
        쿼리명 : MPAUserMapper.selectUserCompanyInfoList
        설  명 : 부품 회원사의 회사 정보를 함께 리스트로 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    양현우       최초생성
    -->
    <select id="selectUserCompanyInfoList" parameterType="MPAUserDto" resultType="MPAUserDto">
        SELECT mem_seq /* MPAUserMapper.selectUserCompanyInfoList */
             , id
             , name
             , hp_no
             , email
             , reg_dtm
             , mod_dtm
             , mem_cd
             , work_bsnm_no
             , mod_name
             , cmpn_nm
             , size_cd_nm
             , ctgry_cd_nm
             , gndr
             , tel_no
             , zipcode
             , bsc_addr
             , dtl_addr
             , ntfy_sms_rcv_yn
             , ntfy_email_rcv_yn
          FROM (SELECT mem.mem_seq
                     , mem.id
                     , mem.name
                     , mem.hp_no
                     , mem.email
                     , mem.reg_dtm
                     , mem.mod_dtm
                     , mem.gndr
                     , mem.mem_cd
                     , mem.work_bsnm_no
                     , mem.ntfy_sms_rcv_yn
                     , mem.ntfy_email_rcv_yn
                     , CASE WHEN mst.mod_cd = 'AD' THEN (SELECT name FROM co_adm_mst WHERE id = mst.reg_id)
                            WHEN mst.mod_cd = 'CO' THEN (SELECT name FROM co_mem_mst WHERE id = mst.reg_id)
                             ELSE NULL end AS mod_name
                     , cmpn_mst.cmpn_nm
                     , (SELECT cd_nm FROM  co_code_mst WHERE cd = cmpn_mst.size_cd)  AS size_cd_nm
                     , (SELECT cd_nm FROM  co_code_mst WHERE cd = cmpn_mst.ctgry_cd) AS ctgry_cd_nm
                     , cmpn_mst.ctgry_cd
                     , mem.tel_no
                     , mem.zipcode
                     , mem.bsc_addr
                     , mem.dtl_addr
                 FROM co_mem_mst mem
                  INNER JOIN (SELECT mem_mod_seq
                                   , mem_seq
                                   , mod_cd
                                   , reg_id
                                 FROM co_mem_mod_log
                                  WHERE  ( mem_mod_seq, mem_seq )
                                   IN (SELECT Max(mem_mod_seq)
                                            , mem_seq
                                         FROM co_mem_mod_log
                                          GROUP BY mem_seq)) mst
                   ON mem.mem_seq = mst.mem_seq
                  LEFT OUTER JOIN co_mem_cmpn_rel cmpn_rel
                   ON mem.mem_seq = cmpn_rel.mem_seq
                    AND mem.work_bsnm_no = cmpn_rel.bsnm_no
                  LEFT OUTER JOIN cp_cmpn_mst cmpn_mst
                    ON mem.work_bsnm_no  = cmpn_mst.bsnm_no) AS ma
                    <include refid="selectUserListWhereSql" />
                      order by ma.reg_dtm desc
                    <if test="excelYn != 'Y'.toString() ">
                        limit   #{firstIndex}, #{recordCountPerPage}
                    </if>
    </select>

    <!--
        쿼리명 : MPAUserMapper.selectUserListCnt
        설  명 : 사용자[일반,부품사,위원] 갯수을 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    양현우       최초생성
    -->
    <select id="selectUserListCnt" parameterType="MPAUserDto" resultType="java.lang.Integer">
        select count(*) /* MPAUserMapper.selectUserListCnt */
        from (select mem.mem_seq
                   , mem.id
                   , mem.name
                   , mem.hp_no
                   , mem.email
                   , mem.reg_dtm
                   , mem.mod_dtm
                   , mem.mem_cd
                   , mem.work_bsnm_no
                   , mem.gndr
                   , case when mst.mod_cd ='AD' then (select name from co_adm_mst where id=mst.reg_id)
                          when mst.mod_cd = 'CO' then (select name FROM co_mem_mst where id=mst.reg_id)
                            else null end as mod_name
                   , cmpn_mst.cmpn_nm
                   , (select cd_nm from co_code_mst where  cd=cmpn_mst.size_cd ) as size_cd_nm
                   , (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd ) as ctgry_cd_nm
                   , cmpn_mst.ctgry_cd
                   , mem.tel_no
                   , mem.zipcode
                   , mem.bsc_addr
                   , mem.dtl_addr
                   , mem.cmssr_type_cd
                   , case when mem.cmssr_type_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_type_cd )
                           else '' end as cmssr_type_cd_nm
                   , mem.cmssr_cbsn_cd
                   , case when mem.cmssr_cbsn_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_cbsn_cd )
                           else '' end as cmssr_cbsn_cd_nm
                   , mem.cmssr_work_cd
                   ,  case when mem.cmssr_work_cd != ''  then  (select cd_nm from co_code_mst where  cd=mem.cmssr_work_cd )
                           else '' end as cmssr_work_cd_nm
                   , case when (select count(*) from co_adm_mst where id=mem.reg_id) > 0 then (select name from co_adm_mst where id=mem.reg_id)
                          when (select count(*) from co_adm_mst where id=mem.reg_id) = 0 then (select name FROM co_mem_mst where id=mem.reg_id)
                           else null end as cmt_mod_name
                   , mem.birth
                   , mem.cmssr_mplmn_dt
                   , mem.cmssr_rsgnt_dt
                   , mem.wthdrw_yn
                 from co_mem_mst mem
                  inner join ( select mem_mod_seq
                                    , mem_seq
                                    , mod_cd
                                    , reg_id
                                 from co_mem_mod_log
                                  where ( mem_mod_seq , mem_seq)
                                   in ( select max(mem_mod_seq)
                                             , mem_seq
                                          from co_mem_mod_log
                                            group by mem_seq ) ) mst
                  on mem.mem_seq = mst.mem_seq
                 left outer join co_mem_cmpn_rel cmpn_rel
                  on mem.mem_seq = cmpn_rel.mem_seq
                   and mem.work_bsnm_no = cmpn_rel.bsnm_no
                 left outer join cp_cmpn_mst cmpn_mst
                  on mem.work_bsnm_no  =cmpn_mst.bsnm_no ) as ma
                    <include refid="selectUserListWhereSql" />
    </select>

    <!--
           쿼리명 : selectUserListWhereSql
           설  명 : 일반사용자 목록 검색 조건 SQL
             수정일      수정자       수정내용
           ==========   ========   ==============
           2023.11.09   양현우       최초생성
           2023.12.05   임서화       컨설팅 사업관리 관련하여 검색 제외 쿼리 추가
   -->
    <sql id="selectUserListWhereSql">
        <where>
            and ma.mem_cd = #{memCd}
            and ma.wthdrw_yn = #{wthdrwYn}
            <if test="date == 1">
                <if test="strtDt != null and strtDt != ''.toString() ">
                    and ma.reg_dtm <![CDATA[>=]]> str_to_date(#{strtDt}, '%Y-%m-%d')
                </if>
                <if test="endDt != null and endDt != ''.toString() ">
                    and ma.reg_dtm <![CDATA[<]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                </if>
            </if>
            <if test="date == 2">
                <if test="strtDt != null and strtDt != ''.toString() ">
                    and ma.mod_dtm <![CDATA[>=]]> str_to_date(#{strtDt}, '%Y-%m-%d')
                </if>
                <if test="endDt != null and endDt != ''.toString() ">
                    and ma.mod_dtm <![CDATA[<]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                </if>
            </if>
            <if test="ctgryCdList != null and ctgryCdList.size() > 0">
                and (
                <foreach collection="ctgryCdList" item="ctgryCdList" index="index" open="" close="" separator=" or ">
                    ma.ctgry_cd = #{ctgryCdList}
                </foreach>
                )
            </if>
            <if test="cmssrTypeList != null and cmssrTypeList.size() > 0">
                and (
                <foreach collection="cmssrTypeList" item="cmssrTypeList" index="index" open="" close="" separator=" or ">
                    ma.cmssr_type_cd = #{cmssrTypeList}
                </foreach>
                )
            </if>
            <if test="cmssrWorkList != null and cmssrWorkList.size() > 0">
                and (
                <foreach collection="cmssrWorkList" item="cmssrWorkList" index="index" open="" close="" separator=" or ">
                    ma.cmssr_work_cd = #{cmssrWorkList}
                </foreach>
                )
            </if>
            <if test="srchLayer == 'Y'.toString() "> /* 회원검색 레이어일 경우 특정 부품사의 회원들만 조회되도록 */
                <if test="workBsnmNo != null and workBsnmNo != ''.toString() ">
                    and ma.work_bsnm_no = #{workBsnmNo}
                </if>
            </if>

            <if test="srchDivide == 'Y'.toString() and memCd == 'CP'.toString() "> /* 회원검색시 1차 2차 필요 할때 */
               and ma.ctgry_cd in ('COMPANY01001' , 'COMPANY01002')
            </if>

            <if test="srchDivide == 'Y'.toString() and memCd == 'CS'.toString()"> /* 회원검색시 1차 2차 필요 할때 */
                and ma.cmssr_work_cd in ('MEM_CD04001')
            </if>

            <if test="q != null and q != ''.toString() ">
                <choose>
                    <when test="f == 1">
                        and ma.id like concat('%', #{q}, '%')
                    </when>
                    <when test="f == 2">
                        and ma.name like concat('%', #{q}, '%')
                    </when>
                    <when test="f == 3">
                        and ma.hp_no like concat('%', #{q}, '%')
                    </when>
                    <when test="f == 4">
                        and ma.email like concat('%', #{q}, '%')
                    </when>
                    <when test="f == 5">
                        and (ma.mod_name like concat('%', #{q}, '%') )
                    </when>
                    <when test="f == 6">
                        and (ma.cmpn_nm like concat('%', #{q}, '%') )
                    </when>
                    <when test="f == 7">
                        and (ma.work_bsnm_no like concat('%', #{q}, '%') )
                    </when>
                    <when test="f == 8">
                        and (ma.cmt_mod_name like concat('%', #{q}, '%') )
                    </when>

                    <otherwise>
                        and
                        (
                        ma.id like concat('%', #{q}, '%')
                        or
                        ma.name like concat('%', #{q}, '%')
                        or
                        ma.hp_no like concat('%', #{q}, '%')
                        or
                        ma.email like concat('%', #{q}, '%')
                        or
                        ma.mod_name like concat('%', #{q}, '%')
                        or
                        ma.cmpn_nm like concat('%', #{q}, '%')
                        or
                        ma.work_bsnm_no like concat('%', #{q}, '%')
                        or
                        ma.cmt_mod_name like concat('%', #{q}, '%')
                        )
                    </otherwise>
                </choose>
            </if>
            <if test="cnstgSeq != null and cnstgSeq != ''.toString()">
                and ma.mem_seq not in (select bfre_mem_seq from cp_Cnstg_appctn_trnsf_dtl where cnstg_seq = #{cnstgSeq})
            </if>
        </where>
    </sql>

    <!--
            쿼리명 : MPAUserMapper.selectUserDtl
            설  명 :  [일반 , 부품 , 위원 ] 사용자 상세을 조회한다.
              수정일      수정자       수정내용
            ==========   ========   ==============
            2023.11.09    양현우       최초생성
    -->
    <select id="selectUserDtl" parameterType="MPAUserDto" resultType="MPAUserDto">
        select mem.mem_seq /* MPAUserMapper.selectUserDtl */
             , mem.id
             , mem.name
             , mem.hp_no
             , mem.email
             , mem.reg_dtm
             , mem.mod_dtm
             , mem.last_lgn_dtm
             , mem.mem_cd
             , mem.wthdrw_yn
             , case when mem.cmssr_type_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_type_cd )
                    else '' end as cmssr_type_cd_nm
             , case when mem.cmssr_cbsn_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_cbsn_cd )
                    else '' end as cmssr_cbsn_cd_nm
             ,  case when mem.cmssr_work_cd != ''  then  (select cd_nm from co_code_mst where  cd=mem.cmssr_work_cd )
                     else '' end as cmssr_work_cd_nm
             , cmpn_mst.cmpn_nm
             , (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd ) as ctgry_cd_nm
             , case when mst.mod_cd ='AD' then (select name from co_adm_mst where id=mst.reg_id)
                    when mst.mod_cd = 'CO' then (select name FROM co_mem_mst where id=mst.reg_id)
                    else null end as mod_name
        from co_mem_mst mem
                 inner join ( select mem_mod_seq
                                   , mem_seq
                                   , mod_cd
                                   , reg_id
                              from co_mem_mod_log
                              where ( mem_mod_seq
                                        , mem_seq)
                                        in ( select max(mem_mod_seq)
                                                  , mem_seq
                                             from co_mem_mod_log
                                             group by mem_seq ) ) mst
                            on mem.mem_seq = mst.mem_seq
                 left outer join co_mem_cmpn_rel cmpn_rel
                                 on mem.mem_seq = cmpn_rel.mem_seq
                                     and mem.work_bsnm_no = cmpn_rel.bsnm_no
                 left outer join cp_cmpn_mst cmpn_mst
                                 ON mem.work_bsnm_no  = cmpn_mst.bsnm_no
--                                  on cmpn_mst.bsnm_no  = cmpn_rel.bsnm_no
        where mem.mem_seq = #{detailsKey}
    </select>

    <!--
           쿼리명 : MPAUserMapper.selectUserDtlTab
           설  명 : [일반 , 부품 , 위원 ] 사용자 상세을 조회한다.
             수정일      수정자       수정내용
           ==========   ========   ==============
           2023.11.10    양현우       최초생성
       -->
    <select id="selectUserDtlTab" parameterType="MPAUserDto" resultType="MPAUserDto">
        select mem.mem_seq /* MPAUserMapper.selectUserDtlTab */
             , mem.id
             , mem.name
             , mem.zipcode
             , mem.bsc_addr
             , mem.dtl_addr
             , mem.tel_no
             , mem.hp_no
             , mem.email
             , mem.birth
             , mem.gndr
             , mem.mod_dtm
             , mem.ntfy_sms_rcv_chng_dtm
             , mem.ntfy_sms_rcv_yn
             , mem.ntfy_email_rcv_chng_dtm
             , mem.ntfy_email_rcv_yn
             , mem.mem_cd
             , mem.cmssr_type_cd
             , mem.cmssr_cbsn_cd
             , mem.cmssr_work_cd
             , mem.cmssr_mplmn_dt
             , mem.cmssr_rsgnt_dt
             , mem.cmssr_photo_file_seq
             , mem.cmssr_mjr_carer_cntn
             , mem.cmssr_cnstg_fld_cntn
             , mem.cmssr_mjr_carer_exps_yn
             , mem.work_bsnm_no
             , cmpn_mst.cmpn_nm
             , cmpn_mst.ctgry_cd
             , cmpn_mst.zipcode as cmpn_zipcode
             , cmpn_mst.bsc_addr as cmpn_bsc_addr
             , cmpn_mst.dtl_addr as cmpn_dtl_addr
             , cmpn_mst.rprsnt_nm as rprsntNm
             , mem.dept_cd
             , mem.dept_dtl_nm
             , mem.pstn_cd
             , mem.reg_dtm
             , case when cmpn_mst.ctgry_cd != '' then  (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd )
                       else '' end as ctgry_cd_nm
             , case when (select count(*) from co_adm_mst where id=mem.reg_id) > 0 then (select name from co_adm_mst where id=mem.reg_id)
                    when (select count(*) from co_adm_mst where id=mem.reg_id) = 0 then (select name FROM co_mem_mst where id=mem.reg_id)
                    else null end as reg_name
             , case when mst.mod_cd ='AD' then (select name from co_adm_mst where id=mst.reg_id)
                    when mst.mod_cd = 'CO' then (select name FROM co_mem_mst where id=mst.reg_id)
                    else null end as mod_name
             , mst.reg_id as mod_id
             , mem.reg_id as reg_id
             , mem.pstn_nm
             , dtl.ci
             , dtl.fndn_ntfy_rcv_yn
        from co_mem_mst mem
                 inner join ( select mem_mod_seq
                                   , mem_seq
                                   , mod_cd
                                   , reg_id
                              from co_mem_mod_log
                              where ( mem_mod_seq
                                        , mem_seq)
                                        in ( select max(mem_mod_seq)
                                                  , mem_seq
                                             from co_mem_mod_log
                                             group by mem_seq )
        ) mst
                            on mem.mem_seq = mst.mem_seq
        inner join co_mem_dtl dtl
            on mem.mem_seq = dtl.mem_seq
                 left outer join co_mem_cmpn_rel cmpn_rel
                                 on mem.mem_seq = cmpn_rel.mem_seq
                                     and mem.work_bsnm_no = cmpn_rel.bsnm_no
                 left outer join cp_cmpn_mst cmpn_mst
                                 ON mem.work_bsnm_no  = cmpn_mst.bsnm_no
--                                  on cmpn_mst.bsnm_no  = cmpn_rel.bsnm_no
        where mem.mem_seq = #{detailsKey}
    </select>


    <!--
        쿼리명 : MPAUserMapper.selectDupEmail
        설  명 : 이메일 중복 검사
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.10    양현우       최초생성
    -->
    <select id="selectDupEmail" parameterType="MPAUserDto" resultType="java.lang.Integer">
        select count(*) /* MPAUserMapper.selectDupEmail */
         from co_mem_mst
          where 1=1
        <if test="detailsKey != null and detailsKey != ''.toString() ">
           and mem_seq not in(#{detailsKey})
        </if>
           and email=#{email}
    </select>

    <!--
쿼리명 : MPAUserMapper.selectDupId
설  명 : id 중복 검사
  수정일      수정자       수정내용
==========   ========   ==============
2023.11.21    양현우       최초생성
-->
    <select id="selectDupId" parameterType="MPAUserDto" resultType="java.lang.Integer">
        select count(*)  /* MPAUserMapper.selectDupId */
         from co_mem_mst
          where id =#{id}
    </select>

    <!--
          쿼리명 : MPAUserMapper.updateUserDtl
          설  명 :  [위원 ] 사용자  수정
            수정일      수정자       수정내용
          ==========   ========   ==============
          2023.11.10    양현우       최초생성
   -->
    <update id="updateUserDtl" parameterType="MPAUserDto">
        update co_mem_mst  /* MPAUserMapper.updateUserDtl */
           set work_bsnm_no =#{workBsnmNo}
             , dept_cd =#{deptCd}
             , dept_dtl_nm =#{deptDtlNm}
             , zipcode =#{zipcode}
             , pstn_cd =#{pstnCd}
             , pstn_nm =#{pstnNm}
             , bsc_addr =#{bscAddr}
             , dtl_addr =#{dtlAddr}
        <if test="telNo != null and telNo != ''.toString() ">
             , tel_no =#{telNo}
        </if>
             , email =#{email}
        <if test="hpNo != null and hpNo != ''.toString() ">
             , hp_no =#{hpNo}
        </if>
        <if test="chngSms != 'N'.toString() ">
             , ntfy_sms_rcv_yn =#{ntfySmsRcvYn}
             , ntfy_sms_rcv_chng_dtm = now()
        </if>
        <if test="chngEmail != 'N'.toString() ">
             , ntfy_email_rcv_yn =#{ntfyEmailRcvYn}
             , ntfy_email_rcv_chng_dtm =now()
        </if>
             , cmssr_type_cd =#{cmssrTypeCd}
             , cmssr_cbsn_cd =#{cmssrCbsnCd}
             , cmssr_work_cd =#{cmssrWorkCd}
             , cmssr_cnstg_fld_cntn =#{cmssrCnstgFldCntn}
        <if test="birth != null and birth != ''.toString() ">
             , birth =#{birth}
        </if>
             , cmssr_mplmn_dt =#{cmssrMplmnDt}
        <if test="cmssrRsgntDt != ''.toString() ">
             , cmssr_rsgnt_dt =#{cmssrRsgntDt}
        </if>
             , cmssr_mjr_carer_cntn =#{cmssrMjrCarerCntn}
             , cmssr_mjr_carer_exps_yn =#{cmssrMjrCarerExpsYn}
             , mod_id =#{regId}
             , mod_ip =#{regIp}
             , mod_dtm = now()
           where id =#{id}
    </update>

    <!--
        쿼리명 : MPAUserMapper.insertUserDtlHistory
        설  명 :  [일반 , 부품 , 위원 ] 사용자 수정  이력
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.10    양현우       최초생성
    -->
    <insert id="insertUserDtlHistory" parameterType="MPAUserDto">
        insert into co_mem_mod_log /* MPAUserMapper.insertUserDtlHistory */
        ( mem_mod_seq
        , mem_seq
        , mod_cd
        , bfre_zipcode
        , bfre_bsc_addr
        , bfre_dtl_addr
        , bfre_email
        , bfre_dept_cd
        , bfre_pstn_cd
        , bfre_tel_no
        , bfre_bsnm_reg_no
        , bfre_sms_rcv_yn
        , bfre_email_rcv_yn
        , reg_ip
        , reg_dtm
        , reg_id
        )
        select #{modSeq}
             , mem_seq
             , #{modCd}
             , zipcode
             , bsc_addr
             , dtl_addr
             , email
             , dept_cd
             , pstn_cd
             , tel_no
             , work_bsnm_no
             , ntfy_sms_rcv_yn
             , ntfy_email_rcv_yn
             , #{regIp}
             , now()
             , #{regId}
        from co_mem_mst
        where id =#{id}
    </insert>


    <!--
       쿼리명 : MPAUserMapper.selectAttcntList
       설  명 :  [일반 , 부품 ] 사용자 미래차공모전 리스트 조회
         수정일      수정자       수정내용
       ==========   ========   ==============
       2023.11.13    양현우       최초생성
    -->
    <select id="selectAttcntList" parameterType="MPAAttctnDto" resultType="MPAAttctnDto">
        select appctn_mst.mem_seq /* MPAUserMapper.selectAttcntList */
             , appctn_mst.reg_dtm
             , episd_mst.year
             , episd_mst.episd
             , rsume_dtl.appctn_stts_cd
             , rsume_dtl.mng_stts_cd
             , ( select name from cx_appctn_rsume_prize_car_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 1) as name
             , ( select ptcpt_type from cx_appctn_rsume_prize_car_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 1) as ptcpt_type
             , ( select theme_cd from cx_appctn_rsume_prize_car_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 1) as theme_cd
             , ( select wdcrm_cd from cx_appctn_rsume_prize_car_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 3) as wdcrm_cd
             , ( select appctn_stts_cd from cx_appctn_rsume_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 1) as seoryu_cd
             , ( select appctn_stts_cd from cx_appctn_rsume_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 2) as first_cd
             , ( select mng_stts_cd from cx_appctn_rsume_dtl where rsume_seq = rsume_dtl.rsume_seq and rsume_ord = 3) as end_cd
        from cx_appctn_mst appctn_mst
                 inner join cx_episd_mst episd_mst
                            on appctn_mst.episd_seq = episd_mst.episd_seq
                 inner join cx_appctn_rsume_dtl rsume_dtl
                            on appctn_mst.appctn_seq =rsume_dtl.appctn_seq
        where rsume_ord = 1
          and appctn_mst.mem_seq=#{detailsKey}
        order by appctn_mst.appctn_seq desc
            limit   #{firstIndex}, #{recordCountPerPage}
    </select>


    <!--
        쿼리명 : MPAUserMapper.selectAttcntList
        설  명 :  [일반 , 부품  ] 사용자 미래차공모전 갯수 조회
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.13    양현우       최초생성
    -->
    <select id="selectAttcntListCnt" parameterType="MPAAttctnDto" resultType="java.lang.Integer">
        select count(*)  from cx_appctn_mst appctn_mst /* MPAUserMapper.selectAttcntListCnt */
          inner join cx_episd_mst episd_mst
           on appctn_mst.episd_seq = episd_mst.episd_seq
          inner join cx_appctn_rsume_dtl rsume_dtl
           on appctn_mst.appctn_seq =rsume_dtl.appctn_seq
            where rsume_ord = 1
             and appctn_mst.mem_seq=#{detailsKey}
    </select>

    <!--
        쿼리명 : MPAUserMapper.selectInqrList
        설  명 : 문의 내용 리스트 조회
         수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.13    양현우       최초생성
    -->
    <select id="selectInqrList" parameterType="MPAInqrDto" resultType="MPAInqrDto">
        select qa_mst.qa_seq /* MPAUserMapper.selectInqrList */
             , qa_mst.reg_dtm as start_inqr_dtm
             , qa_mst.titl
             , rply_dtl.reg_dtm as end_inqr_dtm
             , (select cd_nm from co_code_mst where cd_id='INQUIRY_TYPE' and cd=ctgry_dtl.parnt_ctgry_cd) as parnt_ctgry_cd_nm
             , (select cd_nm from co_code_mst where cd_id='INQUIRY_TYPE' and cd=ctgry_dtl.ctgry_cd) as ctgry_cd_nm
             , case when qa_mst.init_chk_dtm is null then '접수대기'
                    when qa_mst.init_chk_dtm is not null and rply_dtl.cntn is null then '접수완료'
                    when qa_mst.init_chk_dtm is not null and rply_dtl.cntn is not null then '답변완료'
                    else null end as inqr_stts
          from bd_qa_mst qa_mst
           inner join bd_qa_ctgry_dtl ctgry_dtl
            on qa_mst.qa_seq = ctgry_dtl.qa_seq
           left outer join bd_qa_rply_dtl rply_dtl
            on ctgry_dtl.qa_seq  = rply_dtl.qa_seq
             where qa_mst.mem_seq =#{detailsKey}
              order by qa_mst.qa_seq desc
               limit   #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
        쿼리명 : MPAUserMapper.selectInqrListCnt
        설  명 : 문의 내용 리스트 갯수 조회
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.13    양현우       최초생성
    -->
    <select id="selectInqrListCnt" parameterType="MPAInqrDto" resultType="java.lang.Integer">
        select count(*)  /* MPAUserMapper.selectInqrListCnt */
         from bd_qa_mst qa_mst
          inner join bd_qa_ctgry_dtl ctgry_dtl
           on qa_mst.qa_seq = ctgry_dtl.qa_seq
          left outer join bd_qa_rply_dtl rply_dtl
           on ctgry_dtl.qa_seq  = rply_dtl.qa_seq
            where qa_mst.mem_seq =#{detailsKey}
    </select>

    <!--
          쿼리명 : selectMemDtl.selectMemEmail
          설  명 : 회원 이메일 , 코드 검색
          수정일      수정자       수정내용
          ==========   ========   ==============
          2023.11.15    양현우       최초생성
    -->
    <select id="selectMemDtl" parameterType="MPPwdInitDto" resultType="MPPwdInitDto">
        SELECT  /* MPAUserMapper.selectMemDtl */
            email
          , mem_cd
          , name
        from co_mem_mst
        where id =#{id}
    </select>


    <!--
        쿼리명 : MPAUserMapper.updatePwdInit
        설  명 : 회원 비밀번호 초기화
        수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    양현우       최초생성
    -->
    <update id="updatePwdInit" parameterType="MPPwdInitDto">
        update co_mem_mst /* MPAUserMapper.updatePwdInit */
           set pwd = #{newEncPwd}
             , pwd_chng_dtm = now()
             , lgn_fail_cnt = 0
             , chng_xtnsn_cnt = 0
             , mod_id = #{modId}
             , mod_ip = #{modIp}
             , mod_dtm = now()
             , tmp_pwd_yn = 'Y'
           where id =#{id}

    </update>

    <!--
           쿼리명 : MPAUserMapper.insertUser
           설  명 :  [일반 , 부품  ] 사용자 등록
             수정일      수정자       수정내용
           ==========   ========   ==============
           2023.12.08    양현우       최초생성
   -->
    <insert id="insertUser" parameterType="MPAUserDto">
        insert into co_mem_mst  /*  MPAUserMapper.insertUser */
        (  mem_seq
        , mem_cd
        , id
        , name
        , pwd
        , birth
        , gndr
        , hp_no
        , email
        , tel_no
        , zipcode
        , bsc_addr
        , dtl_addr
        , ntfy_sms_rcv_yn
        , ntfy_sms_rcv_chng_dtm
        , ntfy_email_rcv_yn
        , ntfy_email_rcv_chng_dtm
        , lgn_fail_cnt
        , pwd_chng_dtm
        , chng_xtnsn_cnt
        , tmp_pwd_yn
        , wthdrw_yn
        , reg_id
        , reg_ip
        , reg_dtm
        , mod_id
        , mod_ip
        , mod_dtm
        <if test="memCd == 'CP' ">
            , dept_cd
            , dept_dtl_nm
            , pstn_cd
            , pstn_nm
            , work_bsnm_no
        </if>
        )
        values(
        #{memSeq}
        , #{memCd}
        , #{id}
        , #{name}
        , #{encPwd}
        , #{birth}
        , #{gndr}
        , #{hpNo}
        , #{email}
        , #{telNo}
        , #{zipcode}
        , #{bscAddr}
        , #{dtlAddr}
        , #{ntfySmsRcvYn}
        , now()
        , #{ntfyEmailRcvYn}
        , now()
        , 0
        , now()
        , 0
        , 'N'
        , 'Y'
        , #{regId}
        , #{regIp}
        , now()
        , #{regId}
        , #{regIp}
        , now()
        -- 부품사
        <if test="memCd == 'CP' ">
            , #{deptCd}
            , #{deptDtlNm}
            , #{pstnCd}
            , #{pstnNm}
            , #{workBsnmNo}
        </if>
        )
    </insert>

    <!--
          쿼리명 : MPAUserMapper.insertUserDtl
          설  명 :  [일반 , 부품  ] 사용자 상세 등록
            수정일      수정자       수정내용
          ==========   ========   ==============
          2023.12.08    양현우       최초생성
      -->
    <insert id="insertUserDtl" parameterType="MPAUserDto">
        insert into co_mem_dtl /*  MPAUserMapper.insertUserDtl */
        ( mem_seq
        , ci
        , trms_agmnt_yn
        , psnif_agmnt_yn
        , psnif_3_agmnt_yn
        , fndn_ntfy_rcv_yn
        , reg_id
        , reg_ip
        , reg_dtm
        , mod_id
        , mod_ip
        ,mod_dtm
        )
        values ( #{memSeq}
               , #{ci}
               , #{trmsAgmntYn}
               , #{psnifAgmntYn}
               , #{psnif3AgmntYn}
               , #{fndnNtfyRcvYn}
               , #{regId}
               , #{regIp}
               , now()
               , #{regId}
               , #{regIp}
               , now()
       )
    </insert>



    <!--
        쿼리명 : MPAUserMapper.selectCiCnt
        설  명 : 사용자 ci 개수 조회
        수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.08    양현우       최초생성
    -->
    <select id="selectCiCnt" parameterType="MPAUserDto" resultType="java.lang.Integer">
        select count(*) /* MPAUserMapper.selectCiCnt */
         from co_mem_mst a
          inner join co_mem_dtl b
           on a.mem_seq = b.mem_seq
             where 1=1
              and b.ci = #{ci}
    </select>

    <!--
        쿼리명 : MPAUserMapper.selectcmpnMst
        설  명 : 부품사 회사 개수 조회
        수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.08    양현우       최초생성
    -->
    <select id="selectcmpnMst" parameterType="MPEPartsCompanyDTO" resultType="java.lang.Integer">
        select count(*) /* MPAUserMapper.selectcmpnMst */
         from cp_cmpn_mst
          where 1=1
           and bsnm_no = #{bsnmNo}
    </select>

    <!--
          쿼리명 : MPAUserMapper.insertUserCmpnRel
          설  명 :  부품사 회원회사관계 등록
            수정일      수정자       수정내용
          ==========   ========   ==============
          2023.12.08    양현우       최초생성
    -->
    <insert id="insertUserCmpnRel" parameterType="MPAUserDto">
        insert into co_mem_cmpn_rel /* MPAUserMapper.insertUserCmpnRel */
        (  mem_seq
         , bsnm_no
         , reg_id
         , reg_ip
         , reg_dtm
         , mod_id
         , mod_ip
         , mod_dtm
        )
        values( #{memSeq}
              , #{workBsnmNo}
              , #{regId}
              , #{regIp}
              , now()
              , #{regId}
              , #{regIp}
              , now()
       )
    </insert>

    <!--
         쿼리명 : MPAUserMapper.updateUserDtlMod
         설  명 :  [일반 , 부품  ] 사용자  수정
           수정일      수정자       수정내용
         ==========   ========   ==============
         2023.12.13    양현우       최초생성
    -->
    <update id="updateUserDtlMod" parameterType="MPAUserDto">
        update co_mem_mst  /* MPAUserMapper.updateUserDtlMod */
            set mem_cd =#{memCd}
              , name=#{name}
              , birth =#{birth}
              , gndr =#{gndr}
              , hp_no =#{hpNo}
              , email =#{email}
              , tel_no =#{telNo}
              , zipcode =#{zipcode}
              , bsc_addr =#{bscAddr}
              , dtl_addr =#{dtlAddr}
        <if test="chngSms != 'N'.toString() ">
              , ntfy_sms_rcv_yn =#{ntfySmsRcvYn}
              , ntfy_sms_rcv_chng_dtm = now()
        </if>
        <if test="chngEmail != 'N'.toString() ">
              , ntfy_email_rcv_yn =#{ntfyEmailRcvYn}
              , ntfy_email_rcv_chng_dtm =now()
        </if>
        <if test="chngPwd != 'N'.toString() ">
              , pwd =#{encPwd}
              , pwd_chng_dtm = now()
              , chng_xtnsn_cnt = 0
        </if>
              , mod_id =#{modId}
              , mod_ip =#{modIp}
              , mod_dtm = now()
        <if test="memCd != 'CO'.toString() ">
              , dept_cd=#{deptCd}
              , dept_dtl_nm=#{deptDtlNm}
              , pstn_cd =#{pstnCd}
              , pstn_nm =#{pstnNm}
              , work_bsnm_no =#{workBsnmNo}
        </if>
          where mem_seq =#{memSeq}
    </update>

    <!--
         쿼리명 : MPAUserMapper.updateUserDtlModS
         설  명 :  [일반 , 부품  ] 사용자  수정
           수정일      수정자       수정내용
         ==========   ========   ==============
         2023.12.13    양현우       최초생성
    -->
    <update id="updateUserDtlModS" parameterType="MPAUserDto">
        update co_mem_dtl
         set fndn_ntfy_rcv_yn = #{fndnNtfyRcvYn}
           , mod_id =#{modId}
           , mod_ip=#{modIp}
           , mod_dtm=now()
          where mem_seq = #{memSeq}
    </update>

    <!--
         쿼리명 : MPAUserMapper.updateUserDtlMod
         설  명 :  [일반 , 부품  ] 사업자등록만 변경
           수정일      수정자       수정내용
         ==========   ========   ==============
         2023.12.13    양현우       최초생성
    -->
    <update id="updateUserDtlModBsnm" parameterType="MPAUserDto">
        update co_mem_mst  /* MPAUserMapper.updateUserDtlMod */
         set work_bsnm_no =#{workBsnmNo}
           , mod_id =#{modId}
           , mod_ip =#{modIp}
           , mod_dtm = now()
          where mem_seq =#{memSeq}
    </update>

    <!--
            쿼리명 : MPAUserMapper.selectMPHPartList
            설  명 : 사용자 상생 조회
              수정일      수정자       수정내용
            ==========   ========   ==============
            2023.11.09    양현우       최초생성
    -->
    <select id="selectMPHPartList" parameterType="MPAUserDto" resultType="MPAPartDto">
        select dtl.rsume_stts_cd /* MPAUserMapper.selectMPHPartList */
             , dtl.rsume_seq
             , mem_seq
         from cx_appctn_mst mst
          inner join cx_appctn_rsume_dtl dtl
            on mst.appctn_seq = dtl.appctn_seq
          inner join cx_appctn_rsume_prize_part_dtl part_dtl
            on dtl.rsume_seq = part_dtl.rsume_seq
             and dtl.rsume_ord = part_dtl.rsume_ord
        <include refid="selectMPHPartListWhereSql" />
        union
        select dtl.rsume_stts_cd
             , dtl.rsume_seq
             , mem_seq
         from cx_appctn_mst mst
          inner join cx_appctn_rsume_dtl dtl
           on mst.appctn_seq = dtl.appctn_seq
          inner join cx_appctn_rsume_task_dtl task_dtl
           on dtl.rsume_seq = task_dtl.rsume_seq
           and dtl.rsume_ord = task_dtl.rsume_ord
            <include refid="selectMPHPartListWhereSql" />
        union
        select dtl.rsume_stts_cd
             , dtl.rsume_seq
             , mem_seq
         from cx_appctn_mst mst
          inner join cx_appctn_rsume_dtl dtl
           on mst.appctn_seq = dtl.appctn_seq
          inner join cx_appctn_rsume_pbsn_dtl pbsn_dtl
           on dtl.rsume_seq = pbsn_dtl.rsume_seq
            and dtl.rsume_ord = pbsn_dtl.rsume_ord
        <include refid="selectMPHPartListWhereSql" />
        union
        select dtl.rsume_stts_cd
             , dtl.rsume_seq
             , mem_seq
         from cx_appctn_mst mst
          inner join cx_appctn_rsume_dtl dtl
           on mst.appctn_seq = dtl.appctn_seq
          inner join cx_appctn_rsume_tchlg_dtl tchlg_dtl
           on dtl.rsume_seq = tchlg_dtl.rsume_seq
            and dtl.rsume_ord = tchlg_dtl.rsume_ord
        <include refid="selectMPHPartListWhereSql" />


    </select>

    <!--
            쿼리명 : MPAUserMapper.selectConListCnt
            설  명 : 사용자 컨설팅 개수 조회
              수정일      수정자       수정내용
            ==========   ========   ==============
            2023.11.09    양현우       최초생성
    -->
        <select id="selectConListCnt" parameterType="MPAUserDto" resultType="java.lang.Integer">
        select count(*)  /* MPAUserMapper.selectConListCnt */
         from cp_cnstg_appctn_mst
          where appctn_mem_seq =#{memSeq}
           and rsume_stts_cd in ( 'MNGTECH_STATUS_01'
                                , 'MNGTECH_STATUS_03'
                                , 'MNGTECH_STATUS_06'
                                , 'MNGTECH_STATUS_08'
                                , 'MNGTECH_STATUS_09' )

    </select>

    <sql id="selectMPHPartListWhereSql">
    <where>
        and mem_seq=#{memSeq}
        and dtl.rsume_stts_cd in ('PRO_TYPE01001','PRO_TYPE02001','PRO_TYPE03001','PRO_TYPE04001','PRO_TYPE05001','PRO_TYPE06001','PRO_TYPE07001')
    </where>
    </sql>

    <!--
        쿼리명 : MPAUserMapper.updateUserWthdrw
        설  명 :  [일반 , 부품  ] 탈퇴 여부 Y
        수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.19    양현우       최초생성
    -->
    <update id="updateUserWthdrw" parameterType="MPIWthdrwDto">
        update co_mem_mst  /* MPAUserMapper.updateUserWthdrw */
         set wthdrw_yn = 'N'
           , mod_id =#{modId}
           , mod_ip=#{modIp}
           , mod_dtm =now()
          where mem_seq=#{memSeq}
    </update>

    <!--
        쿼리명 : MPAUserMapper.updateUserCiDel
        설  명 :  [일반 , 부품  ] ci값 삭제
        수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.19    양현우       최초생성
    -->
    <update id="updateUserCiDel" parameterType="MPIWthdrwDto">
        update co_mem_dtl  /* MPAUserMapper.updateUserCiDel */
         set ci = ''
           , mod_id =#{modId}
           , mod_ip =#{modIp}
           , mod_dtm = now()
          where mem_seq =#{memSeq}
    </update>


    <!--
          쿼리명 : MPAUserMapper.insertUserWthdrw
          설  명 :  [일반 , 부품] 사용자 삭제
            수정일      수정자       수정내용
          ==========   ========   ==============
          2023.11.10    양현우       최초생성
      -->
    <insert id="insertUserWthdrw" parameterType="MPIWthdrwDto">
        insert into co_mem_wthdrw_dtl /* MPAUserMapper.insertUserWthdrw */
        (  mem_seq
        , wthdrw_rsn_cd
        , wthdrw_rsn_etc_nm
        , reg_id
        , reg_ip
        , reg_dtm
        , mod_id
        , mod_ip
        , mod_dtm )
        values( #{memSeq}
              , #{wthdrwRsnCd}
              , #{wthdrwRsnEtcNm}
              , #{regId}
              , #{regIp}
              , now()
              , #{modId}
              , #{modIp}
              , now()
              )
    </insert>

    <!--
          쿼리명 : MPAUserMapper.selectUserDtlId
          설  명 : 일반 사용자 목록을 조회한다.
            수정일      수정자       수정내용
          ==========   ========   ==============
          2023.11.09    양현우       최초생성
    -->
    <select id="selectUserDtlId" parameterType="MPAUserDto" resultType="MPAUserDto">
        select mem.mem_seq /* MPAUserMapper.selectUserDtl */
             , mem.id
             , mem.name
             , mem.hp_no
             , mem.email
             , mem.reg_dtm
             , mem.mod_dtm
             , mem.last_lgn_dtm
             , mem.mem_cd
             , mem.wthdrw_yn
             , case when mem.cmssr_type_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_type_cd )
                    else '' end as cmssr_type_cd_nm
             , case when mem.cmssr_cbsn_cd != '' then  (select cd_nm from co_code_mst where  cd=mem.cmssr_cbsn_cd )
                    else '' end as cmssr_cbsn_cd_nm
             ,  case when mem.cmssr_work_cd != ''  then  (select cd_nm from co_code_mst where  cd=mem.cmssr_work_cd )
                     else '' end as cmssr_work_cd_nm
             , cmpn_mst.cmpn_nm
             , (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd ) as ctgry_cd_nm
             , case when mst.mod_cd ='AD' then (select name from co_adm_mst where id=mst.reg_id)
                    when mst.mod_cd = 'CO' then (select name FROM co_mem_mst where id=mst.reg_id)
                    else null end as mod_name
        from co_mem_mst mem
         inner join ( select mem_mod_seq
                           , mem_seq
                           , mod_cd
                           , reg_id
                        from co_mem_mod_log
                         where ( mem_mod_seq , mem_seq)
                          in ( select max(mem_mod_seq)
                                    , mem_seq
                                  from co_mem_mod_log
                                   group by mem_seq ) ) mst
          on mem.mem_seq = mst.mem_seq
         left outer join co_mem_cmpn_rel cmpn_rel
          on mem.mem_seq = cmpn_rel.mem_seq
           and mem.work_bsnm_no = cmpn_rel.bsnm_no
         left outer join cp_cmpn_mst cmpn_mst
          ON mem.work_bsnm_no  = cmpn_mst.bsnm_no
            where mem.id = #{id}
    </select>

</mapper>
