<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPBMemberPartsSocietyMapper">

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectEduList
설  명 : 부품 사회원 교육 사업 리스트 조회
  수정일      수정자       수정내용
==========   ========   ==============
2023.11.13    양현우       최초생성
-->
    <select id="selectEduList" parameterType="MPBEduDto" resultType="MPBEduDto">
        select parnt_seq
             , prnt_cd_nm /*MPBMemberPartsSocietyMapper.selectEduList*/
             , ctgry_cd
             , ctgry_cd_nm
             , nm
             , stduy_mthd_cd
             , stduy_mthd_cd_nm
             , stduy_dd_cd
             , stduy_dd_cd_nm
             , stduy_time_cd
             , stduy_time_cd_nm
             , episd_year
             , episd_ord
             , accs_strt_dtm
             , accs_end_dtm
             , accs_status_nm
             , edctn_strt_dtm
             , edctn_end_dtm
             , edctn_status_nm
             , isttr_name
             , ffltn_nm
             , isttr_out_cnt
             , fxnum_cnt
             , acc_cnt
             , rcrmt_mthd_cd
             , rcrmt_mthd_cd_nm
             , pic_nm
             , pic_email
             , pic_tel_no
             , place_seq
             , place_nm
             , reg_id
             , reg_name
             , reg_dtm
             , mod_id
             , mod_name
             , exps_yn
             , cmpn_nm
             , ctgry_cd_cp_nm
             , size_cd_nm
             , work_bsnm_no
        from (select parnt_seq
                  , (select cd_nm from co_code_mst WHERE cd_seq = aa.parnt_seq) AS prnt_cd_nm
                  , ctgry_cd
                  , ctgry_cd_nm
                  , nm
                  , stduy_mthd_cd
                  , stduy_mthd_cd_nm
                  , stduy_dd_cd
                  , stduy_dd_cd_nm
                  , stduy_time_cd
                  , stduy_time_cd_nm
                  , episd_year
                  , episd_ord
                  , accs_strt_dtm
                  , accs_end_dtm
                  , case
                       when NOW() <![CDATA[<]]> accs_strt_dtm then '접수대기'
                       when NOW() <![CDATA[>]]> accs_strt_dtm AND NOW() <![CDATA[<]]>  accs_end_dtm then '접수중'
                       when NOW() <![CDATA[>]]> accs_end_dtm OR (fxnum_impsb_yn = 'N' AND 30 <![CDATA[>=]]> fxnum_cnt) then '마감'
                            END  AS accs_status_nm
                  , edctn_strt_dtm
                  , edctn_end_dtm
                  , case
                       when NOW() <![CDATA[<]]> edctn_strt_dtm then '교육대기'
                       when NOW() <![CDATA[>]]> edctn_strt_dtm AND NOW() <![CDATA[<]]> edctn_end_dtm then '교육중'
                       when NOW() <![CDATA[>]]> edctn_end_dtm then '교육마감'
                            END  AS edctn_status_nm
                  , (SELECT NAME FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS isttr_name
                  , (SELECT ffltn_nm FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS ffltn_nm
                  , case when isttr_cnt<![CDATA[<=]]> 1 then ''
                        when isttr_cnt  <![CDATA[>]]>   1 then isttr_cnt-1
                            END isttr_out_cnt
                  , fxnum_cnt
                  , 30 AS 'acc_cnt'
                  , rcrmt_mthd_cd
                  , rcrmt_mthd_cd_nm
                  , pic_nm
                  , pic_email
                  , pic_tel_no
                  , place_seq
                  , place_nm
                  , reg_id
                  , reg_name
                  , reg_dtm
                  , mod_id
                  , mod_name
                  , exps_yn
                  , cmpn_nm
                  , ctgry_cd_cp_nm
                  , size_cd_nm
                  , work_bsnm_no
               FROM (SELECT b.ctgry_cd
                          , (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
                          , (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
                         , b.nm
                         , b.stduy_mthd_cd
                         , (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
                         , b.stduy_dd_cd
                         , (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
                         , b.stduy_time_cd
                         , (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
                         , a.episd_year
                         , a.episd_ord
                         , a.accs_strt_dtm
                         , a.accs_end_dtm
                         , a.edctn_strt_dtm
                         , a.edctn_end_dtm
                         , (SELECT min(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS min_isttr_seq
                         , (SELECT COUNT(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS isttr_cnt
                         , a.fxnum_cnt
                         , a.fxnum_impsb_yn
                         , a.rcrmt_mthd_cd
                         , (select cd_nm from co_code_mst where cd=a.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
                         , a.pic_nm
                         , a.pic_email
                         , a.pic_tel_no
                         , a.place_seq
                         , (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
                         , a.reg_id
                         , (select name from co_adm_mst where id = a.reg_id) as reg_name
                         , a.reg_dtm
                         , a.mod_id
                         , (select name from co_adm_mst where id = a.reg_id) as mod_name
                         , a.mod_dtm
                         , a.exps_yn
                         , cmpn_mst.cmpn_nm
                         , (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd ) as ctgry_cd_cp_nm
                         , (select cd_nm from co_code_mst where  cd=cmpn_mst.size_cd  ) as size_cd_nm
                         , cmm.work_bsnm_no
                      FROM ed_edctn_episd_mst a
                       LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq
                       inner join ep_edctn_ptcpt_mst ptcpt_mst
                        on ptcpt_mst.edctn_seq = b.edctn_seq
                       inner join co_mem_mst cmm
                        on cmm.mem_seq = ptcpt_mst.mem_seq
                       inner join cp_cmpn_mst cmpn_mst
                        on cmm.work_bsnm_no  = cmpn_mst.bsnm_no
                          where ptcpt_mst.mem_seq=#{detailsKey} ) AA
                order by reg_dtm desc ) as cc
                 group by parnt_seq
                        , prnt_cd_nm
                        , ctgry_cd
                        , ctgry_cd_nm
                        , nm
                        , stduy_mthd_cd
                        , stduy_mthd_cd_nm
                        , stduy_dd_cd
                        , stduy_dd_cd_nm
                        , stduy_time_cd
                        , stduy_time_cd_nm
                        , episd_year
                        , episd_ord
                        , accs_strt_dtm
                        , accs_end_dtm
                        , accs_status_nm
                        , edctn_strt_dtm
                        , edctn_end_dtm
                        , edctn_status_nm
                        , isttr_name
                        , ffltn_nm
                        , isttr_out_cnt
                        , fxnum_cnt
                        , acc_cnt
                        , rcrmt_mthd_cd
                        , rcrmt_mthd_cd_nm
                        , pic_nm
                        , pic_email
                        , pic_tel_no
                        , place_seq
                        , place_nm
                        , reg_id
                        , reg_name
                        , reg_dtm
                        , mod_id
                        , mod_name
                        , exps_yn
                        , cmpn_nm
                        , ctgry_cd_cp_nm
                        , size_cd_nm
                        , work_bsnm_no
                     limit #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectEduListCnt
설  명 : 부품 사회원 교육 사업 리스트 갯수 조회
수정일      수정자       수정내용
==========   ========   ==============
2023.11.13    양현우       최초생성
-->
    <select id="selectEduListCnt" parameterType="MPBEduDto" resultType="java.lang.Integer">
       select count(*) /*MPBMemberPartsSocietyMapper.selectEduList*/
       from ( select parnt_seq
                   , prnt_cd_nm
                  , ctgry_cd
                  , ctgry_cd_nm
                  , nm
                  , stduy_mthd_cd
                  , stduy_mthd_cd_nm
                  , stduy_dd_cd
                  , stduy_dd_cd_nm
                  , stduy_time_cd
                  , stduy_time_cd_nm
                  , episd_year
                  , episd_ord
                  , accs_strt_dtm
                  , accs_end_dtm
                  , accs_status_nm
                  , edctn_strt_dtm
                  , edctn_end_dtm
                  , edctn_status_nm
                  , isttr_name
                  , ffltn_nm
                  , isttr_out_cnt
                  , fxnum_cnt
                  , acc_cnt
                  , rcrmt_mthd_cd
                  , rcrmt_mthd_cd_nm
                  , pic_nm
                  , pic_email
                  , pic_tel_no
                  , place_seq
                  , place_nm
                  , reg_id
                  , reg_name
                  , reg_dtm
                  , mod_id
                  , mod_name
                  , exps_yn
                  , cmpn_nm
                  , ctgry_cd_cp_nm
                  , size_cd_nm
                  , work_bsnm_no
              from (select parnt_seq
                         , (select cd_nm from co_code_mst WHERE cd_seq = aa.parnt_seq) AS prnt_cd_nm
                         , ctgry_cd
                         , ctgry_cd_nm
                         , nm
                         , stduy_mthd_cd
                         , stduy_mthd_cd_nm
                         , stduy_dd_cd
                         , stduy_dd_cd_nm
                         , stduy_time_cd
                         , stduy_time_cd_nm
                         , episd_year
                         , episd_ord
                         , accs_strt_dtm
                         , accs_end_dtm
                         , case
                               when NOW() <![CDATA[<]]> accs_strt_dtm then '접수대기'
                               when NOW() <![CDATA[>]]> accs_strt_dtm AND NOW() <![CDATA[<]]>  accs_end_dtm then '접수중'
                               when NOW() <![CDATA[>]]> accs_end_dtm OR (fxnum_impsb_yn = 'N' AND 30 <![CDATA[>=]]> fxnum_cnt) then '마감'
                                    END  AS accs_status_nm
                         , edctn_strt_dtm
                         , edctn_end_dtm
                         , case
                               when NOW() <![CDATA[<]]> edctn_strt_dtm then '교육대기'
                               when NOW() <![CDATA[>]]> edctn_strt_dtm AND NOW() <![CDATA[<]]> edctn_end_dtm then '교육중'
                               when NOW() <![CDATA[>]]> edctn_end_dtm then '교육마감'
                                    END  AS edctn_status_nm
                         , (SELECT NAME FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS isttr_name
                         , (SELECT ffltn_nm FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS ffltn_nm
                         , case when isttr_cnt<![CDATA[<=]]> 1 then ''
                                when isttr_cnt  <![CDATA[>]]>   1 then isttr_cnt-1
                                    END isttr_out_cnt
                         , fxnum_cnt
                         , 30 AS 'acc_cnt'
                         , rcrmt_mthd_cd
                         , rcrmt_mthd_cd_nm
                         , pic_nm
                         , pic_email
                         , pic_tel_no
                         , place_seq
                         , place_nm
                         , reg_id
                         , reg_name
                         , reg_dtm
                         , mod_id
                         , mod_name
                         , exps_yn
                         , cmpn_nm
                         , ctgry_cd_cp_nm
                         , size_cd_nm
                         , work_bsnm_no
                     FROM (SELECT b.ctgry_cd
                                , (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
                                , (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
                                , b.nm
                                , b.stduy_mthd_cd
                                , (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
                                , b.stduy_dd_cd
                                , (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
                                , b.stduy_time_cd
                                , (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
                                , a.episd_year
                                , a.episd_ord
                                , a.accs_strt_dtm
                                , a.accs_end_dtm
                                , a.edctn_strt_dtm
                                , a.edctn_end_dtm
                                , (SELECT min(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS min_isttr_seq
                                , (SELECT COUNT(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS isttr_cnt
                                , a.fxnum_cnt
                                , a.fxnum_impsb_yn
                                , a.rcrmt_mthd_cd
                                , (select cd_nm from co_code_mst where cd=a.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
                                , a.pic_nm
                                , a.pic_email
                                , a.pic_tel_no
                                , a.place_seq
                                , (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
                                , a.reg_id
                                , (select name from co_adm_mst where id = a.reg_id) as reg_name
                                , a.reg_dtm
                                , a.mod_id
                                , (select name from co_adm_mst where id = a.reg_id) as mod_name
                                , a.mod_dtm
                                , a.exps_yn
                                , cmpn_mst.cmpn_nm
                                , (select cd_nm from co_code_mst where  cd=cmpn_mst.ctgry_cd ) as ctgry_cd_cp_nm
                                , (select cd_nm from co_code_mst where  cd=cmpn_mst.size_cd  ) as size_cd_nm
                                , cmm.work_bsnm_no
                       FROM ed_edctn_episd_mst a
                        LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq
                        inner join ep_edctn_ptcpt_mst ptcpt_mst
                          on ptcpt_mst.edctn_seq = b.edctn_seq
                        inner join co_mem_mst cmm
                          on cmm.mem_seq = ptcpt_mst.mem_seq
                        inner join cp_cmpn_mst cmpn_mst
                          on cmm.work_bsnm_no  = cmpn_mst.bsnm_no
                      where ptcpt_mst.mem_seq=#{detailsKey} ) AA
                        order by reg_dtm desc ) as cc
                        group by parnt_seq
                               , prnt_cd_nm
                               , ctgry_cd
                               , ctgry_cd_nm
                               , nm
                               , stduy_mthd_cd
                               , stduy_mthd_cd_nm
                               , stduy_dd_cd
                               , stduy_dd_cd_nm
                               , stduy_time_cd
                               , stduy_time_cd_nm
                               , episd_year
                               , episd_ord
                               , accs_strt_dtm
                               , accs_end_dtm
                               , accs_status_nm
                               , edctn_strt_dtm
                               , edctn_end_dtm
                               , edctn_status_nm
                               , isttr_name
                               , ffltn_nm
                               , isttr_out_cnt
                               , fxnum_cnt
                               , acc_cnt
                               , rcrmt_mthd_cd
                               , rcrmt_mthd_cd_nm
                               , pic_nm
                               , pic_email
                               , pic_tel_no
                               , place_seq
                               , place_nm
                               , reg_id
                               , reg_name
                               , reg_dtm
                               , mod_id
                               , mod_name
                               , exps_yn
                               , cmpn_nm
                               , ctgry_cd_cp_nm
                               , size_cd_nm
                               , work_bsnm_no ) as ccc

    </select>

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectBusList
설  명 : [부품,위원] 컨설팅 사업 리스트  조회
수정일      수정자       수정내용
==========   ========   ==============
2023.11.20    양현우       최초생성
-->
    <select id="selectBusList" parameterType="MPBBusDto" resultType="MPBBusDto">
        select m1.cnstg_seq  -- 순번  /*MPBMemberPartsSocietyMapper.selectBusList*/
              ,m1.bsn_year -- 사업년도
              , (select cd_nm from co_code_mst where  cd=m1.cnstg_cd  ) as cnstg_cd_nm -- 사업구분
              , case when (select count(*) from cp_cnstg_rsume_mst where cnstg_seq = m1.cnstg_seq )=0 then '신청'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' then '사전심사선정'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT02' then '사전심사탈락'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT03' then '지원단이관'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT04' then '봉사단이관'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT05' then '사용자취소'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01'  then '지도승인'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT02'  then '지도불가'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_bgn_dt > now()  then '지도투입'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_bgn_dt > now() and now()> guide_pscnd_dt  then '지도중'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_pscnd_cd ='GUIDE_PSCND01' then '지도연기'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_pscnd_cd ='GUIDE_PSCND02' then '제단취소'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_pscnd_cd ='GUIDE_PSCND03' then '부품사취소'
                     when m3.bfre_jdgmt_rslt_cd ='BF_JDGMT_RSLT01' and m3.init_vst_rslt_cd='INIT_VST_RSLT01' and guide_pscnd_cd ='GUIDE_PSCND04' then '지도완료'
                        end as status_nm -- 진행상태
               , m2.cmpn_nm-- 부품사명
               , (select cd_nm from co_code_mst where  cd=m2.ctgry_cd ) as ctgry_cd_nm -- 구분
               , (select cd_nm from co_code_mst where  cd=m1.cmpn_size_cd ) as cmpn_size_cd_nm-- 규모
               , m1.appctn_bsnm_no-- 사업자등록번호
               , (select cd_nm from co_code_mst where  cd=m1.appctn_fld_cd ) as appctn_fld_cd_nm--  신청분야/업종
               , CONCAT((select cd_nm from co_code_mst where  cd=m1.first_rgns_cd ),' ',(select cd_nm from co_code_mst where  cd=m1.scnd_rgns_cd ))  as rgns_cd_nm-- 신청 소재지
               , m4.name-- 담당위원
               , m1.appctn_dt-- 신청일
               , m3.guide_bgn_dt-- 지도착수일
               , m3.guide_pscnd_dt-- 지도완료일
               , m3.flty_impvm_rate -- 개선률
             from cp_cnstg_appctn_mst m1
              inner join cp_cmpn_mst m2
                on m1.appctn_bsnm_no = m2.bsnm_no
              left outer join cp_cnstg_rsume_mst m3
               on m1.cnstg_seq = m3.cnstg_seq
              left outer join co_mem_mst m4
               on m3.cmssr_seq = m4.mem_seq
                 where 1 = 1
                <if test="chkPS == 'P'.toString() ">
                  and appctn_mem_seq=#{detailsKey}
                </if>
                <if test="chkPS == 'S'.toString() ">
                    and m3.cmssr_seq=#{detailsKey}
                </if>
                  order by cnstg_seq desc
                  limit #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectBusListCnt
설  명 : 부품 사회원 컨설팅 사업 리스트  갯수 조회
수정일      수정자       수정내용
==========   ========   ==============
2023.11.20    양현우       최초생성
-->
    <select id="selectBusListCnt" parameterType="MPBBusDto" resultType="java.lang.Integer">
        select count(*)   /*MPBMemberPartsSocietyMapper.selectBusListCnt */
        from cp_cnstg_appctn_mst m1
                 inner join cp_cmpn_mst m2
                            on m1.appctn_bsnm_no = m2.bsnm_no
                 left outer join cp_cnstg_rsume_mst m3
                                 on m1.cnstg_seq = m3.cnstg_seq
                 left outer join co_mem_mst m4
                                 on m3.cmssr_seq = m4.mem_seq
            where 1 = 1
            <if test="chkPS == 'P'.toString() ">
                and appctn_mem_seq=#{detailsKey}
            </if>
            <if test="chkPS == 'S'.toString() ">
                and m3.cmssr_seq=#{detailsKey}
            </if>
    </select>

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectSanList
설  명 : [부품 사회원,위원] 상생 사업 리스트  조회
수정일      수정자       수정내용
==========   ========   ==============
2023.11.20    양현우       최초생성
-->
    <select id="selectSanList" parameterType="MPBSanDto" resultType="MPBSanDto">
        select m1.episd_seq as san_ctn_seq  /*MPBMemberPartsSocietyMapper.selectSanList */
             , m1.year-- 사업년도
             , m1.episd-- 회차
             , (select cd_nm from co_code_mst where  cd=m4.optn_cd )  as type_cd_nm-- 사업구분
             , m4.optn_nm as bsnCdNm
             , (select cd_nm from co_code_mst where  cd=m5.rsume_stts_cd )  as status -- 진행상태
             , m3.cmpn_nm -- 부품사명
             , (select cd_nm from co_code_mst where  cd=m3.ctgry_cd ) as ctgry_cd_nm -- 구분
             , (select cd_nm from co_code_mst where  cd=m3.size_cd ) as cmpn_size_cd_nm -- 규모
             , m2.appctn_bsnm_no-- 사업자등록번호
             , (select name from co_mem_mst where mem_seq=m2.pic_cmssr_seq) as name -- 담당위원
             , m2.reg_dtm-- 신청일
         from cx_episd_mst m1
          inner join cx_appctn_mst m2
           on m1.episd_seq = m2.episd_seq
          inner join cp_cmpn_mst m3
           on m2.appctn_bsnm_no  = m3.bsnm_no
          inner join cx_episd_bsn_optn_dtl m4
           on m1.episd_seq  = m4.episd_seq
          inner join cx_appctn_rsume_dtl m5
           on m2.appctn_seq = m5.appctn_seq
            where 1 = 1
            <if test="chkPS == 'P'.toString() ">
                and m2.mem_seq =#{detailsKey}
            </if>
            <if test="chkPS == 'S'.toString() ">
                and m2.pic_cmssr_seq=#{detailsKey}
            </if>
             order by m1.episd_seq desc
              limit #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
쿼리명 : MPBMemberPartsSocietyMapper.selectSanListCnt
설  명 : 부품 사회원 상생 사업 리스트  조회
수정일      수정자       수정내용
==========   ========   ==============
2023.11.20    양현우       최초생성
-->
    <select id="selectSanListCnt" parameterType="MPBBusDto" resultType="java.lang.Integer">
        select count(*) /*MPBMemberPartsSocietyMapper.selectSanListCnt */
        from cx_episd_mst m1
                 inner join cx_appctn_mst m2
                            on m1.episd_seq = m2.episd_seq
                 inner join cp_cmpn_mst m3
                            on m2.appctn_bsnm_no  = m3.bsnm_no
                 inner join cx_episd_bsn_optn_dtl m4
                            on m1.episd_seq  = m4.episd_seq
                 inner join cx_appctn_mst m5
                            on m2.appctn_seq = m5.appctn_seq
        where m2.mem_seq =#{detailsKey}
    </select>

</mapper>