<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPCLecturerMapper">
    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerList
         설  명 : 강사 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   구은희       최초생성
    -->
    <select id="selectLecturerList" parameterType="MPCLecturerDTO">
        SELECT /* MPCLecturerMapper.selectLecturerList */
            ISTTR_SEQ
            , NAME
            , FFLTN_NM
            , DEPT_NM
            , PSTN_NM
            , TEL_NO
            , HP_NO
            , EMAIL
            , SPCL_CNTN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            , #{srchDate} AS 'srchDate'
            , #{dStrDt} AS 'dStrDt'
            , #{dEndDt} AS 'dEndDt'
        FROM CP_ISTTR_MST A
        <include refid="selectLecturerWhereSql" />
        ORDER BY
        REG_DTM DESC
            LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerCnt
         설  명 : 부품사 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    구은희       최초생성
    -->
    <select id="selectLecturerCnt" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT /* MPCLecturerMapper.selectLecturerCnt*/
        COUNT(ISTTR_SEQ)
        FROM
        CP_ISTTR_MST A
        <include refid="selectLecturerWhereSql" />
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerDtl
         설  명 : 강사 상세를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   구은희       최초생성
    -->
    <select id="selectLecturerDtl" parameterType="MPCLecturerDTO">
        SELECT /* MPCLecturerMapper.selectLecturerDtl */
            ISTTR_SEQ
             , NAME
             , FFLTN_NM
             , DEPT_NM
             , PSTN_NM
             , TEL_NO
             , HP_NO
             , EMAIL
             , SPCL_CNTN
             , REG_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             , REG_IP
             , REG_DTM
             , MOD_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             , MOD_IP
             , MOD_DTM
        FROM CP_ISTTR_MST A
        WHERE 1=1
          AND ISTTR_SEQ = #{isttrSeq}
    </select>

    <!--
        쿼리명 : MPCLecturerMapper.selectDupEmail
        설  명 : 강사 이메일 중복 체크
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.17    구은희       최초생성
    -->
    <select id="selectDupEmail" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT
            COUNT(ISTTR_SEQ)
        FROM CP_ISTTR_MST
        WHERE 1=1
        <if test="isttrSeq != null and isttrSeq != ''.toString()">
            AND ISTTR_SEQ NOT IN(#{isttrSeq})
        </if>
          AND EMAIL = #{email}
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.insertLecturer
         설  명 : 강사를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <insert id="insertLecturer" parameterType="MPCLecturerDTO">
        INSERT /* MPCLecturerMapper.insertLecturer */ INTO CP_ISTTR_MST
        (
            ISTTR_SEQ
            , NAME
            , FFLTN_NM
            , DEPT_NM
            , PSTN_NM
            , TEL_NO
            , HP_NO
            , EMAIL
            , SPCL_CNTN
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUES
            (
            #{isttrSeq}
            , #{name}
            , #{ffltnNm}
            , #{deptNm}
            , #{pstnNm}
            , #{telNo}
            , #{hpNo}
            , #{email}
            , #{spclCntn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : MPCLecturerMapper.updateLecturer
         설  명 : 부품사를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <update id="updateLecturer" parameterType="MPCLecturerDTO">
        UPDATE /* MPCLecturerMapper.updateLecturer */ CP_ISTTR_MST
        SET
            NAME = #{name}
            , FFLTN_NM = #{ffltnNm}
            , DEPT_NM = #{deptNm}
            , PSTN_NM = #{pstnNm}
            , TEL_NO = #{telNo}
            , HP_NO = #{hpNo}
            , EMAIL = #{email}
            , SPCL_CNTN = #{spclCntn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1=1
          AND ISTTR_SEQ = #{isttrSeq}
    </update>

    <!--
         쿼리명 : MPCLecturerMapper.deleteLecturer
         설  명 : 강사를 삭제한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <delete id="deleteLecturer" parameterType="MPCLecturerDTO">
        DELETE /* MPCLecturerMapper.deleteLecturer */
        FROM
        CP_ISTTR_MST
        <where>
            <choose>
                <when test="delValueList != null">
                    ISTTR_SEQ IN
                    <foreach collection="delValueList" item="item" index="index" separator=", " open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    ISTTR_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>


    <!--
         쿼리명 : MPCLecturerMapper.selectWinBusinessList
         설  명 :  강사의 상생 사업 현황 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.08   구은희       최초생성
    -->
    <select id="selectWinBusinessList" parameterType="MPCLecturerDTO">
        SELECT /*MPCLecturerMapper.selectWinBusinessList*/
            B.APPCTN_SEQ
             , A.YEAR -- 사업연도
             , C.rsume_stts_cd -- 진행상태코드
             , (SELECT cd_nm FROM co_code_mst WHERE cd = C.rsume_stts_cd) as rsume_stts_nm -- 진행상태명
             , A.bsn_strt_dtm -- 사업시작일시
             , A.bsn_end_dtm -- 사업종료일시
             , A.episd -- 회차
             , A.bsn_cd -- 사업코드
             , (SELECT cd_nm FROM co_code_mst WHERE cd = A.bsn_cd) as bsn_nm -- 사업코드명
             , (select cd_nm from co_code_mst where cd = G.optn_cd)  as type_cd_nm-- 사업구분명
             , F.CMPN_NM -- 부품사명
             , F.BSNM_NO -- 사업자등록번호
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.CTGRY_CD ) AS CTGRY_NM -- 구분명
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.SIZE_CD) AS SIZE_NM -- 규모명
             , B.REG_DTM -- 신청일

        FROM CX_EPISD_MST A
                 JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
                 JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
                 JOIN CO_MEM_MST D ON B.MEM_SEQ = D.MEM_SEQ
                 JOIN CP_CMPN_MST F ON  D.WORK_BSNM_NO = F.BSNM_NO
                 LEFT JOIN CX_APPCTN_RSUME_TCHLG_DTL V ON C.RSUME_SEQ = V.RSUME_SEQ
                 LEFT JOIN cx_episd_bsn_optn_dtl G ON A.episd_seq  = G.episd_seq
                 INNER JOIN (
            SELECT C.APPCTN_SEQ, MAX(C.RSUME_ORD) AS RSUME_ORD
            FROM CX_EPISD_MST A
                     JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
                     JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
                     INNER JOIN cp_isttr_mst E ON B.pic_cmssr_seq = E.isttr_seq
            WHERE E.isttr_seq = #{isttrSeq}
            GROUP BY APPCTN_SEQ
        ) ORD ON C.RSUME_ORD = ORD.RSUME_ORD AND C.APPCTN_SEQ = ORD.APPCTN_SEQ
        WHERE A.bsn_cd IN ('INQ07003', 'INQ07004', 'INQ07005', 'INQ07006')
        ORDER BY A.YEAR DESC, B.APPCTN_SEQ DESC
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--select A.episd_seq as san_ctn_seq  /*MPCLecturerMapper.selectWinBusinessList */
        , A.year&#45;&#45; 사업년도
        , A.episd&#45;&#45; 회차
        , B.pic_cmssr_seq &#45;&#45; 위원 seq
        , (select cd_nm from co_code_mst where  cd=D.optn_cd )  as type_cd_nm&#45;&#45; 사업구분
        , D.optn_nm as bsnCdNm
        , (select cd_nm from co_code_mst where  cd=E.rsume_stts_cd )  as status &#45;&#45; 진행상태
        , C.cmpn_nm &#45;&#45; 부품사명
        , C.bsnm_no &#45;&#45; 사업자등록번호
        , (select cd_nm from co_code_mst where  cd=C.ctgry_cd ) as ctgry_cd_nm &#45;&#45; 구분
        , (select cd_nm from co_code_mst where  cd=C.size_cd ) as cmpn_size_cd_nm &#45;&#45; 규모
        , B.appctn_bsnm_no&#45;&#45; 사업자등록번호
        , (select name from co_mem_mst where mem_seq=B.pic_cmssr_seq) as name &#45;&#45; 담당위원
        , B.reg_dtm&#45;&#45; 신청일
        , A.bsn_strt_dtm &#45;&#45; 사업시작일시
        , A.bsn_end_dtm &#45;&#45; 사업종료일시
    from cx_episd_mst A
    inner join cx_appctn_mst B
    on A.episd_seq = B.episd_seq
    inner join cp_cmpn_mst C
    on B.appctn_bsnm_no  = C.bsnm_no
    inner join cx_episd_bsn_optn_dtl D
    on A.episd_seq  = D.episd_seq
    inner join cx_appctn_rsume_dtl E
    on B.appctn_seq = E.appctn_seq
    INNER JOIN cp_isttr_mst F
    ON B.pic_cmssr_seq = F.isttr_seq
    WHERE F.isttr_seq = '23'
    order by A.episd_seq desc
    limit 0, 10-->

    <!--
         쿼리명 : MPCLecturerMapper.selectWinBusinessCnt
         설  명 : 상생 사업 현황 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.08    구은희       최초생성
    -->
    <select id="selectWinBusinessCnt" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT /* MPCLecturerMapper.selectWinBusinessCnt*/
            count(A.episd_seq)
        FROM
            (
                SELECT * FROM cx_episd_mst
                WHERE bsn_cd IN ('INQ07003', 'INQ07004', 'INQ07005', 'INQ07006')
                -- 강사 및 위탁위원관리에서는 보안솔루션구축, 안전설비구축, 탄소배출저감, 스마트공장구축만 노출
            ) A INNER JOIN cx_appctn_mst B ON B.episd_seq = A.episd_seq
                INNER JOIN
            (
                SELECT A.mem_seq, B.cmpn_nm, B.ctgry_cd, B.size_cd, B.bsnm_no
                FROM co_mem_mst a INNER JOIN cp_cmpn_mst b ON A.work_bsnm_no = B.bsnm_no
            ) C
            ON C.mem_seq = B.mem_seq
                INNER JOIN
            (
                SELECT appctn_seq, rsume_stts_cd
                FROM cx_appctn_rsume_dtl
            ) D
            ON B.appctn_seq = D.appctn_seq
                INNER JOIN cp_isttr_mst E ON B.pic_cmssr_seq = E.isttr_seq
        ORDER BY year DESC, episd DESC
    </select>

    <!--
		쿼리명 : selectLecturerWhereSql
		설  명 : 강사 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.20    구은희       최초생성
    -->
    <sql id="selectLecturerWhereSql">
        <where>
            <if test="srchDate != null and srchDate != ''.toString() ">
                <choose>
                    <when test="srchDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND REG_DTM <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <when test="srchDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(STR_TO_DATE(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
            <if test="q != null and q != ''">
                <choose>
                    <when test="f == 1">
                        AND NAME LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 2">
                        AND FFLTN_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 3">
                        AND DEPT_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 4">
                        AND PSTN_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 5">
                        AND HP_NO LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 6">
                        AND EMAIL LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 7">8
                        AND (
                        INSTR(#{q}, A.REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <when test="f == 8">
                        AND (
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <otherwise>
                        AND (
                        NAME LIKE CONCAT('%', #{q}, '%') OR
                        FFLTN_NM LIKE CONCAT('%', #{q}, '%') OR
                        DEPT_NM LIKE CONCAT('%', #{q}, '%') OR
                        PSTN_NM LIKE CONCAT('%', #{q}, '%') OR
                        HP_NO LIKE CONCAT('%', #{q}, '%') OR
                        EMAIL LIKE CONCAT('%', #{q}, '%') OR
                        INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
</mapper>