<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPCLecturerMapper">
    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerList
         설  명 : 강사 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   구은희       최초생성
    -->
    <select id="selectLecturerList" parameterType="MPCLecturerDTO">
        SELECT /* MPCLecturerMapper.selectLecturerList */
            ISTTR_SEQ
            , NAME
            , FFLTN_NM
            , DEPT_NM
            , PSTN_NM
            , TEL_NO
            , HP_NO
            , EMAIL
            , SPCL_CNTN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            , #{srchDate} AS 'srchDate'
            , #{dStrDt} AS 'dStrDt'
            , #{dEndDt} AS 'dEndDt'
        FROM CP_ISTTR_MST A
        <include refid="selectLecturerWhereSql" />
        ORDER BY
        REG_DTM DESC
            LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerCnt
         설  명 : 부품사 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    구은희       최초생성
    -->
    <select id="selectLecturerCnt" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT /* MPCLecturerMapper.selectLecturerCnt*/
        COUNT(ISTTR_SEQ)
        FROM
        CP_ISTTR_MST A
        <include refid="selectLecturerWhereSql" />
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.selectLecturerDtl
         설  명 : 강사 상세를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   구은희       최초생성
    -->
    <select id="selectLecturerDtl" parameterType="MPCLecturerDTO">
        SELECT /* MPCLecturerMapper.selectLecturerDtl */
            ISTTR_SEQ
             , NAME
             , FFLTN_NM
             , DEPT_NM
             , PSTN_NM
             , TEL_NO
             , HP_NO
             , EMAIL
             , SPCL_CNTN
             , REG_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             , REG_IP
             , REG_DTM
             , MOD_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             , MOD_IP
             , MOD_DTM
        FROM CP_ISTTR_MST A
        WHERE 1=1
          AND ISTTR_SEQ = #{isttrSeq}
    </select>

    <!--
        쿼리명 : MPCLecturerMapper.selectDupEmail
        설  명 : 강사 이메일 중복 체크
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.17    구은희       최초생성
    -->
    <select id="selectDupEmail" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT
            COUNT(ISTTR_SEQ)
        FROM CP_ISTTR_MST
        WHERE 1=1
        <if test="isttrSeq != null and isttrSeq != ''.toString()">
            AND ISTTR_SEQ NOT IN(#{isttrSeq})
        </if>
          AND EMAIL = #{email}
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.insertLecturer
         설  명 : 강사를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <insert id="insertLecturer" parameterType="MPCLecturerDTO">
        INSERT /* MPCLecturerMapper.insertLecturer */ INTO CP_ISTTR_MST
        (
            ISTTR_SEQ
            , NAME
            , FFLTN_NM
            , DEPT_NM
            , PSTN_NM
            , TEL_NO
            , HP_NO
            , EMAIL
            , SPCL_CNTN
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUES
            (
            #{isttrSeq}
            , #{name}
            , #{ffltnNm}
            , #{deptNm}
            , #{pstnNm}
            , #{telNo}
            , #{hpNo}
            , #{email}
            , #{spclCntn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : MPCLecturerMapper.updateLecturer
         설  명 : 부품사를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <update id="updateLecturer" parameterType="MPCLecturerDTO">
        UPDATE /* MPCLecturerMapper.updateLecturer */ CP_ISTTR_MST
        SET
            NAME = #{name}
            , FFLTN_NM = #{ffltnNm}
            , DEPT_NM = #{deptNm}
            , PSTN_NM = #{pstnNm}
            , TEL_NO = #{telNo}
            , HP_NO = #{hpNo}
            , EMAIL = #{email}
            , SPCL_CNTN = #{spclCntn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1=1
          AND ISTTR_SEQ = #{isttrSeq}
    </update>

    <!--
         쿼리명 : MPCLecturerMapper.deleteLecturer
         설  명 : 강사를 삭제한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   구은희       최초생성
    -->
    <delete id="deleteLecturer" parameterType="MPCLecturerDTO">
        DELETE /* MPCLecturerMapper.deleteLecturer */
        FROM
        CP_ISTTR_MST
        <where>
            <choose>
                <when test="delValueList != null">
                    ISTTR_SEQ IN
                    <foreach collection="delValueList" item="item" index="index" separator=", " open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    ISTTR_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>


    <!--
         쿼리명 : MPCLecturerMapper.selectWinBusinessList
         설  명 :  강사의 상생 사업 현황 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.08   구은희       최초생성
    -->
    <select id="selectWinBusinessList" parameterType="MPCLecturerDTO">
        SELECT /*MPCLecturerMapper.selectWinBusinessList*/
            appctn_seq
             , year -- 사업연도
             , episd -- 회차
             , bsn_cd
             , bsn_nm -- 사업명
             , rsume_stts_nm -- 진행상태
             , cmpn_nm -- 부품사명
             , bsnm_no -- 사업자등록번호
             , ctgry_cd
             , ctgry_nm -- 구분명
             , size_cd
             , size_nm -- 규모명
             , reg_dtm -- 신청일
             , bsn_strt_dtm -- 사업시작일
             , bsn_end_dtm -- 사업종료일
        FROM
            (
            SELECT
            DISTINCT B.appctn_seq
                , A.year -- 사업연도
                , A.episd -- 회차
                , A.bsn_cd
                , (SELECT cd_nm FROM co_code_mst WHERE cd = A.bsn_cd) AS bsn_nm -- 사업명
                , (SELECT cd_nm FROM co_code_mst WHERE cd = C.rsume_stts_cd) AS rsume_stts_nm -- 진행상태
                , C.rsume_ord
                , D.cmpn_nm -- 부품사명
                , B.appctn_bsnm_no AS bsnm_no -- 사업자등록번호
                , D.ctgry_cd
                , (SELECT cd_nm FROM co_code_mst WHERE cd = D.ctgry_cd) AS ctgry_nm -- 구분명
                , D.size_cd
                , (SELECT cd_nm FROM co_code_mst WHERE cd = D.size_cd) AS size_nm -- 규모명
                , B.reg_dtm -- 신청일
                , A.bsn_strt_dtm -- 사업시작일
                , A.bsn_end_dtm -- 사업종료일
            FROM CX_EPISD_MST A
            INNER JOIN  CX_APPCTN_MST B
            ON A.episd_seq = B.episd_seq
            INNER JOIN cx_appctn_rsume_dtl C
            ON B.appctn_seq = C.appctn_seq
            INNER JOIN cp_cmpn_mst D
            ON B.appctn_bsnm_no = D.bsnm_no
            WHERE 1=1
                AND B.pic_cmssr_seq = #{isttrSeq}
                AND A.bsn_cd IN ("BSN03", "BSN05", "BSN04", "BSN06")
                AND C.rsume_ord = (SELECT MAX(rsume_ord) FROM cx_appctn_rsume_dtl WHERE appctn_seq = B.appctn_seq)
            ) TB
        ORDER BY reg_dtm DESC
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : MPCLecturerMapper.selectWinBusinessCnt
         설  명 : 상생 사업 현황 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.08    구은희       최초생성
    -->
    <select id="selectWinBusinessCnt" parameterType="MPCLecturerDTO" resultType="java.lang.Integer">
        SELECT /* MPCLecturerMapper.selectWinBusinessCnt*/
            count(appctn_seq)
        FROM
            (
                SELECT
                    DISTINCT B.appctn_seq
                           , A.year -- 사업연도
                           , A.episd -- 회차
                           , A.bsn_cd
                           , (SELECT cd_nm FROM co_code_mst WHERE cd = A.bsn_cd) AS bsn_nm -- 사업명
                           , (SELECT cd_nm FROM co_code_mst WHERE cd = C.rsume_stts_cd) AS rsume_stts_nm -- 진행상태
                           , C.rsume_ord
                           , D.cmpn_nm -- 부품사명
                           , B.appctn_bsnm_no AS bsnm_no -- 사업자등록번호
                           , D.ctgry_cd
                           , (SELECT cd_nm FROM co_code_mst WHERE cd = D.ctgry_cd) AS ctgry_nm -- 구분명
                           , D.size_cd
                           , (SELECT cd_nm FROM co_code_mst WHERE cd = D.size_cd) AS size_nm -- 규모명
                           , B.reg_dtm -- 신청일
                           , A.bsn_strt_dtm -- 사업시작일
                           , A.bsn_end_dtm -- 사업종료일
                FROM CX_EPISD_MST A
                INNER JOIN  CX_APPCTN_MST B
                ON A.episd_seq = B.episd_seq
                INNER JOIN cx_appctn_rsume_dtl C
                ON B.appctn_seq = C.appctn_seq
                INNER JOIN cp_cmpn_mst D
                ON B.appctn_bsnm_no = D.bsnm_no
                WHERE 1=1
                  AND B.pic_cmssr_seq = #{isttrSeq}
                  AND A.bsn_cd IN ("BSN03", "BSN05", "BSN04", "BSN06")
                  AND C.rsume_ord = (SELECT MAX(rsume_ord) FROM cx_appctn_rsume_dtl WHERE appctn_seq = B.appctn_seq)
            ) TB
    </select>

    <!--
		쿼리명 : selectLecturerWhereSql
		설  명 : 강사 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.20    구은희       최초생성
    -->
    <sql id="selectLecturerWhereSql">
        <where>
            <if test="srchDate != null and srchDate != ''.toString() ">
                <choose>
                    <when test="srchDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND REG_DTM <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <when test="srchDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(STR_TO_DATE(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
            <if test="q != null and q != ''">
                <choose>
                    <when test="f == 1">
                        AND NAME LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 2">
                        AND FFLTN_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 3">
                        AND DEPT_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 4">
                        AND PSTN_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 5">
                        AND HP_NO LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 6">
                        AND EMAIL LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 7">8
                        AND (
                        A.REG_ID LIKE CONCAT('%', #{q}, '%') OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%') <![CDATA[>]]> 0)
                        )
                    </when>
                    <when test="f == 8">
                        AND (
                        A.MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%') <![CDATA[>]]> 0)
                        )
                    </when>
                    <otherwise>
                        AND (
                        NAME LIKE CONCAT('%', #{q}, '%') OR
                        FFLTN_NM LIKE CONCAT('%', #{q}, '%') OR
                        DEPT_NM LIKE CONCAT('%', #{q}, '%') OR
                        PSTN_NM LIKE CONCAT('%', #{q}, '%') OR
                        HP_NO LIKE CONCAT('%', #{q}, '%') OR
                        EMAIL LIKE CONCAT('%', #{q}, '%') OR
                        A.REG_ID LIKE CONCAT('%', #{q}, '%') OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%') <![CDATA[>]]> 0) OR
                        A.MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%') <![CDATA[>]]> 0)
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
</mapper>