<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPDCmtMapper">

    <!--
        쿼리명 : MPDCmtMapper.insertUserDtlHistory
        설  명 : 사용자 수정  이력
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.10    양현우       최초생성
        -->
    <insert id="insertCmt" parameterType="MPAUserDto">
        insert into co_mem_mst
        (   mem_seq 				-- 회원순번
        , mem_cd  				-- 회원코드
        , id   					-- id
        , name  					-- 이름
        , pwd  					-- 비밀번호
        , birth 					-- 생년월일
        , hp_no 					-- 휴대번호
        , email  					-- 이메일
        , cmssr_type_cd 			-- 위원구분 코드
        , cmssr_cbsn_cd 			-- 업종/분야
        , cmssr_work_cd 			-- 재직코드
        , cmssr_mplmn_dt 			-- 입사일
        <if test="cmssrRsgntDt != ''.toString() ">
        , cmssr_rsgnt_dt  		-- 퇴사일
        </if>
        , cmssr_photo_file_seq  	-- 파일순번
        , cmssr_mjr_carer_cntn  	-- 경력 내용
        , cmssr_mjr_carer_exps_yn -- 노출 여
        , ntfy_sms_rcv_yn  		-- sms 여부
        , ntfy_sms_rcv_chng_dtm
        , ntfy_email_rcv_yn  		-- email 여부
        , ntfy_email_rcv_chng_dtm
        , wthdrw_yn   			-- 탈퇴여부
        , lgn_fail_cnt
        , reg_id 					-- 등록id
        , reg_ip  				-- 등록ip
        , reg_dtm  				-- 등록일
        , mod_id  				-- 수정id
        , mod_ip  				-- 수정ip
        , mod_dtm	 				-- 수정일
        , pwd_chn
        , chng_xtnsn_cnt
        , tmp_pwd_yn
        , pwd_chng_dtm
        )
        values(
                #{memSeq}
              , #{memCd}
              , #{id}
              , #{name}
              , #{encPwd}
              , #{birth}
              , #{hpNo}
              , #{email}
              , #{cmssrTypeCd}
              , #{cmssrCbsnCd}
              , #{cmssrWorkCd}
              , #{cmssrMplmnDt}
        <if test="cmssrRsgntDt != ''.toString() ">
              , #{cmssrRsgntDt}
        </if>
              , #{cmssrPhotoFileSeq}
              , #{cmssrMjrCarerCntn}
              , #{cmssrMjrCarerExpsYn}
              , 'N'
              , now()
              , 'N'
              , now()
              , 'Y'
              , '0'
              , #{regId}
              , #{regIp}
              , now()
              , #{regId}
              , #{regIp}
              , now()
              , '0'
              , 'N'
              , now()
              )
    </insert>


    <!--
     쿼리명 : MPDCmtMapper.deleteCmt
     설  명 : 위원을 삭제한다.
      수정일     수정자       수정내용
    ==========   ======    ==============
    2023.11.21   양현우       최초생성
-->
    <delete id="deleteCmt" parameterType="MPAUserDto">
        delete /* MPDCmtMapper.deleteCmt */
        from co_mem_mst
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    mem_seq in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    adm_seq = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
     쿼리명 : MPDCmtMapper.selectKenList
     설  명 : 근태 목록을 조회한다.
       수정일      수정자       수정내용
     ==========   ========   ==============
     2023.11.23    양현우       최초생성
 -->
    <select id="selectKenList" parameterType="MPDKenDto" resultType="MPDKenDto">
        select (select cd_nm from co_code_mst where  cd=m1.atndc_cd ) -- 근태옵션
             , atndc_cd
             , guide_part_cmpn_1 -- 지도부품사1
             , rgns_1-- 소재지역1
             , guide_part_cmpn_2-- 지도부품사2
             , rgns_2-- 소재지역2
             , etc_bsntrp-- 기타출장
             , etc-- 기타
             , m1.reg_dtm-- 근태체크일시
             , name
        from co_cmssr_atndc_mst m1
         inner join co_mem_mst m2
          on m1.mem_seq = m2.mem_seq
        where 1=1
        <if test="detailsKey != null and detailsKey != ''.toString() ">
            and m1.mem_seq =#{detailsKey}
        </if>
          and year=#{year}
          and mnth=#{mnth}
        <if test="dd != null and dd != ''.toString() ">
            and dd = #{dd}
        </if>
            order by reg_dtm desc
        <if test="excelYn != 'Y'.toString() ">
            limit   #{firstIndex}, #{recordCountPerPage}
        </if>

    </select>


    <!--
쿼리명 : MPDCmtMapper.selectKenListCnt
설  명 : 근태 갯수을 조회한다.
  수정일      수정자       수정내용
==========   ========   ==============
2023.11.23    양현우       최초생성
-->
    <select id="selectKenListCnt" parameterType="MPDKenDto" resultType="java.lang.Integer">
    select count(*)
        from co_cmssr_atndc_mst m1
         inner join co_mem_mst m2
          on m1.mem_seq = m2.mem_seq
         where 1=1
        <if test="detailsKey != null and detailsKey != ''.toString() ">
         and m1.mem_seq =#{detailsKey}
        </if>
          and year=#{year}
          and mnth=#{mnth}
        <if test="dd != null and dd != ''.toString() ">
            and dd = #{dd}
        </if>
    </select>


    <!--
 쿼리명 : MPDCmtMapper.selectKenMonthList
 설  명 : 근태 월 목록을 조회한다.
   수정일      수정자       수정내용
 ==========   ========   ==============
 2023.11.23    양현우       최초생성
-->
    <select id="selectKenMonthList" parameterType="MPDKenDto" resultType="MPDKenDto">
        SELECT m2.name
             , m2.mem_seq
             , GROUP_CONCAT(atndc_dt order by atndc_dt asc SEPARATOR ', ' ) AS monthDays
             , GROUP_CONCAT(atndc_cd order by atndc_dt asc SEPARATOR ', ' ) AS monthTypes
             , (select count(*) from co_cmssr_atndc_mst where mem_seq = m1.mem_seq and atndc_cd not in('a','b') and year=#{year}) as total -- TODO 코드 확정시 not in 수정
         FROM co_cmssr_atndc_mst m1
         inner join co_mem_mst m2
          on m1.mem_seq = m2.mem_seq
           where year=#{year}
            and mnth=#{mnth}
             and m2.wthdrw_yn=#{wthdrwYn}
             GROUP BY m1.mem_seq
        <if test="excelYn != 'Y'.toString() ">
        limit  #{firstIndex}, #{recordCountPerPage}
        </if>
    </select>


    <!--
쿼리명 : MPDCmtMapper.selectKenMonthListCnt
설  명 : 근태 월 갯수을 조회한다.
  수정일      수정자       수정내용
==========   ========   ==============
2023.11.23    양현우       최초생성
-->
    <select id="selectKenMonthListCnt" parameterType="MPDKenDto" resultType="java.lang.Integer">
        select count(*) from(
        SELECT count(*)
         FROM co_cmssr_atndc_mst m1
          inner join co_mem_mst m2
           on m1.mem_seq = m2.mem_seq
            where  year=#{year}
             and mnth=#{mnth}
              and m2.wthdrw_yn=#{wthdrwYn}
              group by m1.mem_seq ) as a
    </select>


</mapper>