<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.mp.MPEPartsCompanyMapper">
    <!--
         쿼리명 : MPEPartsCompanyMapper.selectPartsCompanyList
         설  명 : 부품사 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <select id="selectPartsCompanyList" parameterType="MPEPartsCompanyDTO">
        SELECT /* MPEPartsCompanyMapper.selectPartsCompanyList */
            BSNM_NO
            , RPRSNT_NM
            , CMPN_NM
            , CMPN_CD
            , CTGRY_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD_ID = 'COMPANY_TYPE' AND CD = A.CTGRY_CD) AS CTGRY_NM
            , SIZE_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD_ID = 'COMPANY_TYPE' AND CD = A.SIZE_CD) AS SIZE_NM
            , BSNM_NO
            , BSC_ADDR
            , DTL_ADDR
            , SLS_PMT
            , MPLE_CNT
            , TEL_NO
            , STBSM_DT
            , ZIPCODE
            , TEL_NO
            , MJR_PRDCT_1
            , MJR_PRDCT_2
            , MJR_PRDCT_3
            , QLTY_5_STAR_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD_ID = 'COMPANY_TYPE' AND CD = A.QLTY_5_STAR_CD) AS QLTY_5_STAR_CD_NM
            , QLTY_5_STAR_YEAR
            , PAY_5_STAR_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD_ID = 'COMPANY_TYPE' AND CD = A.PAY_5_STAR_CD) AS PAY_5_STAR_CD_NM
            , PAY_5_STAR_YEAR
            , TCHLG_5_STAR_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD_ID = 'COMPANY_TYPE' AND CD = A.TCHLG_5_STAR_CD) AS TCHLG_5_STAR_CD_NM
            , TCHLG_5_STAR_YEAR
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        <if test="srchDate != null and srchDate != ''.toString() ">
            , #{srchDate} AS 'srchDate'
        </if>
        <if test="dStrDt != null and dStrDt != ''.toString() ">
            , #{dStrDt} AS 'dStrDt'
        </if>
        <if test="dEndDt != null and dEndDt != ''.toString() ">
            , #{dEndDt} AS 'dEndDt'
        </if>
        FROM CP_CMPN_MST A
        <include refid="selectPartsComListwhereSql" />
        ORDER BY
            REG_DTM DESC
        <if test="excelYn != 'Y'.toString() ">
            LIMIT #{firstIndex}, #{recordCountPerPage}
        </if>
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectPartsCompanyCnt
         설  명 : 부품사 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    구은희       최초생성
    -->
    <select id="selectPartsCompanyCnt" parameterType="MPEPartsCompanyDTO" resultType="java.lang.Integer">
        SELECT /* MPEPartsCompanyMapper.selectPartsCompanyCnt*/
            COUNT(BSNM_NO)
        FROM
        CP_CMPN_MST A
        <include refid="selectPartsComListwhereSql" />
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectPartsCompanyDtl
         설  명 : 부품사 상세를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <select id="selectPartsCompanyDtl" parameterType="MPEPartsCompanyDTO">
        SELECT /* MPEPartsCompanyMapper.selectPartsCompanyDtl */
             A.BSNM_NO
             , A.CMPN_NM
             , A.RPRSNT_NM
             , A.CMPN_NFRML_NM
             , A.CMPN_CD
             , A.CTGRY_CD
             , (select cd_nm from co_code_mst where cd = A.CTGRY_CD) as CTGRY_NM
             , A.SIZE_CD
             , (select cd_nm from co_code_mst where cd = A.SIZE_CD) as SIZE_NM
             , A.STBSM_DT
             , A.TEL_NO
             , A.ZIPCODE
             , A.BSC_ADDR
             , A.DTL_ADDR
             , A.SLS_PMT
             , A.SLS_YEAR
             , A.MPLE_CNT
             , A.MJR_PRDCT_1
             , A.MJR_PRDCT_2
             , A.MJR_PRDCT_3
             , A.QLTY_5_STAR_CD
             , A.QLTY_5_STAR_YEAR
             , A.PAY_5_STAR_CD
             , A.PAY_5_STAR_YEAR
             , A.TCHLG_5_STAR_CD
             , A.TCHLG_5_STAR_YEAR
             , A.ADM_MEMO
             , A.REG_ID
             , A.REG_IP
             , A.REG_DTM
             , B.cbsn_seq
             , B.nm
             , B.score
             , B.year
             , B.crtfn_cmpn_nm
        FROM cp_cmpn_mst A
        LEFT JOIN cp_cmpn_cbsn_dtl B
        ON A.bsnm_no = B.bsnm_no
        WHERE 1=1
          AND A.BSNM_NO = #{bsnmNo}
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectPartsComSQInfo
         설  명 : 엑셀 다운로드에 사용할 SQ정보 리스트를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.15    구은희       최초생성
    -->
    <select id="selectPartsComSQInfo" parameterType="MPEPartsCompanyDTO">
        SELECT /* MPEPartsCompanyMapper.selectPartsComSQInfo*/
            nm
            , score
            , YEAR
            , crtfn_cmpn_nm
        from cp_cmpn_cbsn_dtl
        where bsnm_no = #{bsnmNo}
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.checkBsnmNo
         설  명 : 부품사의 사업자번호 등록여부를 확인한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <select id="checkBsnmNo" parameterType="MPEPartsCompanyDTO">
        SELECT /* MPEPartsCompanyMapper.checkBsnmNo */
            BSNM_NO
             , CMPN_NM
             , RPRSNT_NM
        FROM CP_CMPN_MST
        WHERE BSNM_NO = #{bsnmNo}
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.insertPartsCompany
         설  명 : 부품사를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <insert id="insertPartsCompany" parameterType="MPEPartsCompanyDTO">
        INSERT /* MPEPartsCompanyMapper.insertPartsCompany */ INTO CP_CMPN_MST
        (
            BSNM_NO
            , CMPN_NM
            , RPRSNT_NM
            , CMPN_NFRML_NM
            , CMPN_CD
            , CTGRY_CD
            , SIZE_CD
            , STBSM_DT
            , TEL_NO
            , ZIPCODE
            , BSC_ADDR
            , DTL_ADDR
            , SLS_PMT
            , SLS_YEAR
            , MPLE_CNT
            , MJR_PRDCT_1
            , MJR_PRDCT_2
            , MJR_PRDCT_3
            , QLTY_5_STAR_CD
            , QLTY_5_STAR_YEAR
            , PAY_5_STAR_CD
            , PAY_5_STAR_YEAR
            , TCHLG_5_STAR_CD
            , TCHLG_5_STAR_YEAR
            , ADM_MEMO
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUES
            (
            #{bsnmNo}
            , #{cmpnNm}
            , #{rprsntNm}
            , #{cmpnNfrmlNm}
            , #{cmpnCd}
            , #{ctgryCd}
            , #{sizeCd}
            , #{stbsmDt}
            , #{telNo}
            , #{zipcode}
            , #{bscAddr}
            , #{dtlAddr}
            , #{slsPmt}
            , #{slsYear}
            , #{mpleCnt}
            , #{mjrPrdct1}
            , #{mjrPrdct2}
            , #{mjrPrdct3}
            , #{qlty5StarCd}
            , #{qlty5StarYear}
            , #{pay5StarCd}
            , #{pay5StarYear}
            , #{tchlg5StarCd}
            , #{tchlg5StarYear}
            , #{admMemo}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : MPEPartsCompanyMapper.insertPartsComSQInfo
         설  명 : 부품사의 SQ 정보를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <insert id="insertPartsComSQInfo" parameterType="MPEPartsCompanyDTO">
        INSERT /* MPEPartsCompanyMapper.insertPartsComSQInfo */ INTO CP_CMPN_CBSN_DTL
        (
            BSNM_NO
            , CBSN_SEQ
            , NM
            , SCORE
            , YEAR
            , CRTFN_CMPN_NM
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUES
        (
            #{bsnmNo}
            , #{cbsnSeq}
            , #{nm}
            , #{score}
            , #{year}
            , #{crtfnCmpnNm}
            , #{regId}
            , #{regIp}
            , NOW()
        )
    </insert>

    <!--
         쿼리명 : MPEPartsCompanyMapper.updatePartsCompany
         설  명 : 부품사를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <update id="updatePartsCompany" parameterType="MPEPartsCompanyDTO">
        UPDATE /* MPEPartsCompanyMapper.updatePartsCompany */ CP_CMPN_MST
        SET
            CTGRY_CD = #{ctgryCd}
        <if test="cmpnNm != null and cmpnNm != ''.toString() ">
           , CMPN_NM = #{cmpnNm}
        </if>
        <if test="rprsntNm != null and rprsntNm != ''.toString() ">
          , RPRSNT_NM = #{rprsntNm}
        </if>
        <if test="cmpnNfrmlNm != null and cmpnNfrmlNm != ''.toString() ">
          , CMPN_NFRML_NM = #{cmpnNfrmlNm}
        </if>
        <if test="cmpnCd != null and cmpnCd != ''.toString() ">
            , CMPN_CD = #{cmpnCd}
        </if>
          , SIZE_CD = #{sizeCd}
          , STBSM_DT = #{stbsmDt}
        <if test="telNo != null and telNo != ''.toString() ">
            , TEL_NO = #{telNo}
        </if>
          , ZIPCODE = #{zipcode}
          , BSC_ADDR = #{bscAddr}
          , DTL_ADDR = #{dtlAddr}
        <if test="slsPmt != null and slsPmt != ''.toString() ">
           , SLS_PMT = #{slsPmt}
        </if>
        <if test="slsYear != null and slsYear != ''.toString() ">
          , SLS_YEAR = #{slsYear}
        </if>
        <if test="mpleCnt != null and mpleCnt != ''.toString() ">
          , MPLE_CNT = #{mpleCnt}
        </if>
          , MJR_PRDCT_1 = #{mjrPrdct1}
          , MJR_PRDCT_2 = #{mjrPrdct2}
          , MJR_PRDCT_3 = #{mjrPrdct3}
          , QLTY_5_STAR_CD = #{qlty5StarCd}
          , QLTY_5_STAR_YEAR = #{qlty5StarYear}
          , PAY_5_STAR_CD = #{pay5StarCd}
          , PAY_5_STAR_YEAR = #{pay5StarYear}
          , TCHLG_5_STAR_CD = #{tchlg5StarCd}
          , TCHLG_5_STAR_YEAR = #{tchlg5StarYear}
        <if test="admMemo != null and admMemo != ''.toString() ">
            , ADM_MEMO = #{admMemo}
        </if>
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND BSNM_NO = #{bsnmNo}
    </update>

    <!--
         쿼리명 : MPEPartsCompanyMapper.updatePartsComSQInfo
         설  명 : 부품사의 SQ 정보를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09   구은희       최초생성
    -->
    <update id="updatePartsComSQInfo" parameterType="MPEPartsCompanyDTO">
        UPDATE /* MPEPartsCompanyMapper.updatePartsComSQInfo */ CP_CMPN_CBSN_DTL
        SET
            NM = #{nm}
          , SCORE = #{score}
          , YEAR = #{year}
          , CRTFN_CMPN_NM = #{crtfnCmpnNm}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND CBSN_SEQ = #{cbsnSeq}
    </update>

    <!--
         쿼리명 : MPEPartsCompanyMapper.deletePartsCompany
         설  명 : 부품사를 삭제한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   구은희       최초생성
    -->
    <delete id="deletePartsCompany" parameterType="MPEPartsCompanyDTO">
        DELETE /* MPEPartsCompanyMapper.deletePartsCompany */
        FROM
        CP_CMPN_MST
        <where>
            <choose>
                <when test="delValueList != null">
                    BSNM_NO IN
                    <foreach collection="delValueList" item="item" index="index" separator=", " open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    BSNM_NO = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>


    <!--
         쿼리명 : MPEPartsCompanyMapper.deletePartsComSQInfo
         설  명 : SQ 정보를 삭제한다.
		  수정일     수정자       수정내용
		==========   ======    ==============
		2023.12.06   구은희       최초생성
    -->
    <delete id="deletePartsComSQInfo" parameterType="MPEPartsCompanyDTO">
        delete from /*MPEPartsCompanyMapper.deletePartsComSQInfo*/ cp_cmpn_cbsn_dtl
        WHERE bsnm_no = #{bsnmNo}
    </delete>


    <!--
         쿼리명 : MPEPartsCompanyMapper.selectEduCnt
         설  명 : 실적정보 종합현황에서 교육사업 개수를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   구은희       최초생성
    -->
    <select id="selectEduCnt" parameterType="MPEPartsCompanyDTO" resultType="java.lang.Integer">
        SELECT /* MPEPartsCompanyMapper.selectEduCnt */
            SUM(total_cnt) AS edu_total_cnt
        FROM
            (
                SELECT
                    COUNT(B.ptcpt_seq) AS total_cnt
                FROM
                    (
                        SELECT
                            edctn_seq
                             , episd_year
                             , episd_ord
                             , episd_seq
                        FROM ed_edctn_episd_mst
                        WHERE 1=1
                          AND edctn_stts_cd = 'EDCTN_STTS_CD01' -- 교육코드가 개강인 경우
                    )A
                        INNER JOIN
                    (
                        SELECT
                            ptcpt_seq
                             , edctn_seq
                             , episd_year
                             , episd_ord
                             , episd_seq
                             , mem_seq
                        FROM ep_edctn_ptcpt_mst
                        WHERE 1=1
                          AND stts_cd = 'EDU_STTS_CD01' -- 상태코드가 신청인 경우
                    )B
                    ON A.edctn_seq = B.edctn_seq
                        AND A.episd_year = B.episd_year
                        AND A.episd_ord = B.episd_ord
                        AND A.episd_seq = B.episd_seq
                        INNER JOIN
                    (
                        SELECT mem_seq, work_bsnm_no
                        FROM co_mem_mst
                        WHERE 1=1
                          AND mem_cd = 'CP'
                          AND work_bsnm_no = #{bsnmNo}
                    ) C
                    ON B.mem_seq = C.mem_seq
                UNION ALL
                SELECT COUNT(vst_seq) AS total_cnt FROM ev_edctn_vst_mst
                WHERE 1=1
                 AND appctn_bsnm_no = #{bsnmNo}
            ) AA

    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectConsultingCnt
         설  명 : 실적정보 종합현황에서 컨설팅사업 개수를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   구은희       최초생성
    -->
    <select id="selectConsultingCnt" parameterType="MPEPartsCompanyDTO" resultType="java.lang.Integer">
        SELECT /* MPEPartsCompanyMapper.selectConsultingCnt */
            COUNT(CNSTG_SEQ)
        FROM CP_CNSTG_APPCTN_MST
        WHERE APPCTN_BSNM_NO = #{bsnmNo}
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectWinBusinessCnt
         설  명 : 실적정보 종합현황에서 상생사업 개수를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   구은희       최초생성
    -->
    <select id="selectWinBusinessCnt" parameterType="MPEPartsCompanyDTO" resultType="java.lang.Integer">
        SELECT /* MPEPartsCompanyMapper.selectWinBusinessCnt */ COUNT(A.EPISD_SEQ)
        FROM
        (
            SELECT EPISD_SEQ
            FROM CX_EPISD_MST
        )A
        INNER JOIN
        (
            SELECT APPCTN_SEQ
                 , EPISD_SEQ
                 , APPCTN_BSNM_NO
            FROM CX_APPCTN_MST
        )B
        ON A.EPISD_SEQ = B.EPISD_SEQ
          AND B.APPCTN_BSNM_NO = #{bsnmNo}
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectEduStatisticsCntList
         설  명 : 실적정보 교육사업 연도별 개수 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   구은희       최초생성
    -->
    <select id="selectEduStatisticsCntList" parameterType="MPEPartsCompanyDTO">
        SELECT /* MPEPartsCompanyMapper.selectEduStatisticsCntList */
            cmpn_nm
             , TA.ctgry_cd
             , BSNM_NO
             , (SELECT cd_nm FROM co_code_mst WHERE CD = TA.ctgry_cd) AS cd_nm
             , TA.YEAR_2024
             , TA.YEAR_2023
             , TA.YEAR_2022
             , TA.YEAR_2021
             , TA.YEAR_2020
             , TA.YEAR_else
        FROM
            (SELECT
                 SUM(YEAR_2024) AS YEAR_2024
                  , SUM(YEAR_2023) AS YEAR_2023
                  , SUM(YEAR_2022) AS YEAR_2022
                  , SUM(YEAR_2021) AS YEAR_2021
                  , SUM(YEAR_2020) AS YEAR_2020
                  , SUM(YEAR_else) AS YEAR_else
                  , IFNULL(T.ctgry_cd, CD) AS ctgry_cd
                  , IFNULL(work_bsnm_no, 0) AS WORK_BSNM_NO
                  , CD
             FROM(
                     SELECT
                         SUM(CASE EPISD_YEAR WHEN '2024' THEN 1 ELSE 0 END) AS YEAR_2024
                          , SUM(CASE EPISD_YEAR WHEN '2023' THEN 1 ELSE 0 END) AS YEAR_2023
                          , SUM(CASE EPISD_YEAR WHEN '2022' THEN 1 ELSE 0 END) AS YEAR_2022
                          , SUM(CASE EPISD_YEAR WHEN '2021' THEN 1 ELSE 0 END) AS YEAR_2021
                          , SUM(CASE EPISD_YEAR WHEN '2020' THEN 1 ELSE 0 END) AS YEAR_2020
                          , SUM(CASE WHEN EPISD_YEAR = '2019' OR EPISD_YEAR = '2018' OR EPISD_YEAR = '2017' THEN 1 ELSE 0 END) AS YEAR_else
                          , TB.ctgry_cd
                          , episd_seq
                          , work_bsnm_no
                          , TB.CD
                     FROM (
                              SELECT * FROM
                                  ( SELECT
                                        cd
                                    FROM CO_CODE_MST A
                                             LEFT JOIN (SELECT LEFT(CTGRY_CD, 7) CTGRY_CD FROM ed_edctn_prcs_mst ) B ON A.CD = B.CTGRY_CD
                                    WHERE A.CD_ID = 'CLASS_TYPE' AND DPTH = 2
                                  ) TT LEFT JOIN (
                                      SELECT
                                          NAME
                                           , work_bsnm_no
                                           , episd_seq
                                           , (SELECT episd_year from ed_edctn_episd_mst WHERE episd_seq = aa.episd_seq) AS EPISD_YEAR
                                           , (SELECT LEFT(ctgry_cd, 7) from ED_EDCTN_PRCS_MST WHERE edctn_seq = aa.edctn_seq) AS ctgry_cd
                                  FROM co_mem_mst bb
			   LEFT JOIN ep_edctn_ptcpt_mst aa ON aa.stts_cd = 'EDU_STTS_CD01' AND aa.ptcpt_bsnm_no = bb.work_bsnm_no
                              WHERE bb.work_bsnm_no = #{bsnmNo}
                          ) TTT ON TT.CD = TTT.CTGRY_CD
                 ) TB
                 #WHERE LEFT(ctgry_cd, 7) LIKE 'CLASS%'
             GROUP BY CD, LEFT(TB.ctgry_cd, 7), EPISD_YEAR
            ) T
        GROUP BY CD, T.ctgry_cd
            ) TA
	   LEFT JOIN cp_cmpn_mst T3 ON TA.WORK_BSNM_NO = T3.BSNM_NO

       UNION ALL
       SELECT
                (SELECT cmpn_nm FROM cp_cmpn_mst WHERE bsnm_no = tt.appctn_bsnm_no) as cmpn_nm
             , '' as ctgry_cd
             , '방문교육' cd_nm
             , appctn_bsnm_no AS bsnm_no
             , SUM(CASE DATE_FORMAT(reg_dtm, '%Y') WHEN '2024' THEN 1 ELSE 0 END) AS YEAR_2024
             , SUM(CASE DATE_FORMAT(reg_dtm, '%Y') WHEN '2023' THEN 1 ELSE 0 END) AS YEAR_2023
             , SUM(CASE DATE_FORMAT(reg_dtm, '%Y') WHEN '2022' THEN 1 ELSE 0 END) AS YEAR_2022
             , SUM(CASE DATE_FORMAT(reg_dtm, '%Y') WHEN '2021' THEN 1 ELSE 0 END) AS YEAR_2021
             , SUM(CASE DATE_FORMAT(reg_dtm, '%Y') WHEN '2020' THEN 1 ELSE 0 END) AS YEAR_2020
             , SUM(CASE WHEN DATE_FORMAT(reg_dtm, '%Y') = '2019' OR DATE_FORMAT(reg_dtm, '%Y') = '2018' OR DATE_FORMAT(reg_dtm, '%Y') = '2017' THEN 1 ELSE 0 END) AS YEAR_else
       FROM ev_edctn_vst_mst tt
       WHERE tt.appctn_bsnm_no = #{bsnmNo};
    </select>

    <!--
         쿼리명 : MPEPartsCompanyMapper.selectCarTargetList
         설  명 : 자동차부품산업대상 정보를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.07   구은희       최초생성
    -->
    <select id="selectCarTargetList" parameterType="MPEPartsCompanyDTO">
        SELECT B.year AS cart_target_year -- 년도
             , C.prize_pmt -- 포상금액
             , C.mrts_name -- 훈격명
             , C.pmt_name -- 포상부문명
             , D.cmpn_nm -- 부품사명
             , E.name AS winner_name -- 수상자명
             , E.pstn_nm AS winner_pstn_nm -- 수상자 직급
        from
            (
                select appctn_seq, episd_seq, mem_seq, appctn_bsnm_no
                from cx_appctn_mst
            ) A
                inner join
            (
                select episd_seq, bsn_cd,YEAR
                from cx_episd_mst
            ) B
            on A.episd_seq = B.episd_seq
                inner join
            (
                select prize_seq
                     ,episd_seq
                     ,mrts_cd
                     ,prize_cd
                     ,prize_pmt
                     , (select cd_nm from co_code_mst where cd = mrts_cd) as mrts_name
                     , (select cd_nm from co_code_mst where cd = prize_cd) as pmt_name
                from cx_episd_prize_dtl
            ) C
            on B.episd_seq = C.episd_seq
                inner join
            (
                SELECT bsnm_no, cmpn_nm
                FROM cp_cmpn_mst
            ) D
            ON A.appctn_bsnm_no = D.bsnm_no
                inner join
            (
                SELECT name, pstn_nm, mem_seq
                FROM co_mem_mst
            ) E
            ON A.mem_seq = E.mem_seq
        WHERE B.bsn_cd = "INQ07010" -- 사업코드가 자동차부품산업대상
        AND A.appctn_bsnm_no = "123456714"-- 나중에 수정할 부분!
    </select>


    <!--
		쿼리명 : selectPartsComListwhereSql
		설  명 : 부품사 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    구은희       최초생성
    -->
    <sql id="selectPartsComListwhereSql">
        <where>
            <if test="srchDate != null and srchDate != ''.toString() ">
                <choose>
                    <when test="srchDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND REG_DTM <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <when test="srchDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(STR_TO_DATE(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
            <if test="ctgryCdList != null and ctgryCdList.size() > 0">
                and (
                <foreach collection="ctgryCdList" item="ctgryCdList" index="index" open="" close="" separator=" or ">
                    CTGRY_CD = #{ctgryCdList}
                </foreach>
                )
            </if>
            <if test="sizeCdList != null and sizeCdList.size() > 0">
                and (
                <foreach collection="sizeCdList" item="sizeCdList" index="index" open="" close="" separator=" or ">
                    SIZE_CD = #{sizeCdList}
                </foreach>
                )
            </if>
            <if test="q != null and q != ''">
                <choose>
                    <when test="f == 1">
                        AND RPRSNT_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 2">
                        AND CMPN_NM LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 3">
                        AND BSC_ADDR LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 4">
                        AND CMPN_CD LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 5">
                        AND BSNM_NO LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 6">
                        AND TEL_NO LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 7">
                        AND (
                        INSTR(#{q}, A.REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <when test="f == 8">
                        AND (
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <otherwise>
                        AND (
                        INSTR(#{q}, RPRSNT_NM) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, CMPN_NM) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, BSC_ADDR) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, CMPN_CD) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, BSNM_NO) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, TEL_NO) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
</mapper>