<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${siteName}</title>
</head>
<body style="margin:0">

<div id="table_wrap" style="margin:0 auto; width:700px">
    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="left" width="700" valign="middle"
           style="min-width:700px; margin:0 auto; padding:0; font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:16px; color:#666; letter-spacing:-0.9px; text-align:left; table-layout:fixed; word-break: break-all; border:1px solid rgba(0,0,0,0.05); border-radius:4px;">
        <tbody>
            <tr>
                <td width="39" height="41" valign="top"></td>
                <td width="620" height="41" valign="top"></td>
                <td width="39" height="41" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620" valign="middle" style="text-align:left">
                    <img src="${httpFrontUrl}/common/kr/images/logo-mailform.png" alt="로고이미지" style="vertical-align:top">
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="83" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620" style="font-size:20px; line-height:24px; letter-spacing: -1.43px; color:#293148; font-weight:bold;">
                    KAP
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="24" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620" style="font-size:32px; line-height:44px; letter-spacing: -3px; color:#000; font-weight:bold;">
                  관리자 비밀번호가 초기화되어 임시 <br>비밀번호가 발급되었습니다.
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="48" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620"style="font-size:14px; line-height:24px; letter-spacing: -1px; color:#666; font-weight:bold;">
                    결과안내
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="16" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620">
                    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="620" align="left" style="font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:16px; color:#666; letter-spacing:-0.9px; text-align:left; table-layout: fixed;"><!-- 2022-03-10 css 수정 -->
                        <tbody>
                            <tr>
                                <td width="20" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="135" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="20" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="1" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="20" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="405" height="2" valign="top" bgcolor="#000000"></td>
                                <td width="20" height="2" valign="top" bgcolor="#000000"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="16" align="top"></td>
                                <td height="16" align="top" bgcolor="#f3f3f3"></td>
                                <td colspan="3" height="16" align="top"></td>
                            </tr>
                            <tr>
                                <td align="top"></td>
                                <td align="top" style="font-weight:bold; font-size:16px; line-height:25px; letter-spacing: -1px; color:#000000">
                                    임시 비밀번호
                                </td>
                                <td align="top"></td>
                                <td align="top" bgcolor="#f3f3f3"></td>
                                <td align="top"></td>
                                <td align="top" style="font-size:16px; letter-spacing: -1px; color:#0078C3;  word-break: break-all;">${field1}</td>
                                <td align="top"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="18" align="top"></td>
                                <td height="18" align="top" bgcolor="#f3f3f3"></td>
                                <td colspan="3" height="18" align="top"></td>
                            </tr>
                            <tr>
                                <td colspan="7" height="1" align="top" bgcolor="#f3f3f3"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="16" align="top"></td>
                                <td height="16" align="top" bgcolor="#f3f3f3"></td>
                                <td colspan="3" height="16" align="top"></td>
                            </tr>
                            <tr>
                                <td align="top"></td>
                                <td align="top" style="font-weight:bold; font-size:16px; line-height:25px; letter-spacing: -1px; color:#000000">
                                    처리일시
                                </td>
                                <td align="top"></td>
                                <td align="top" bgcolor="#f3f3f3"></td>
                                <td align="top"></td>
                                <td align="top" style="font-size:16px; letter-spacing: -1px; color:#666;  word-break: break-all;">${field2}</td>
                                <td align="top"></td>
                            </tr>
                            <tr>
                                <td colspan="3" height="18" align="top"></td>
                                <td height="18" align="top" bgcolor="#f3f3f3"></td>
                                <td colspan="3" height="18" align="top"></td>
                            </tr>
                            <tr>
                                <td colspan="7" height="1" align="top" bgcolor="#f3f3f3"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="40" valign="top"></td>
            </tr>
            <tr>
                <td width="39"></td>
                <td width="620">
                    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" width="100%" style="font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:16px; color:#666; letter-spacing:-0.9px; text-align:center;">
                        <tbody>
                        <tr>
                            <td width="205" valign="top"></td>
                            <td width="210" valign="top">
                                <div>
                                    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ebf0f7" align="center" width="100%" style="margin:0 auto; padding:0; border:0; border-radius:25px; font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size:16px; color:#666; letter-spacing:-0.9px; text-align:center;">
                                        <tbody>
                                            <tr>
                                                <td height="40">
                                                    <a href="${httpAdmUrl}" style="display:block; padding:11px 0; text-decoration:none; font-weight:bold; font-size:14px; color:#000; letter-spacing: -0.4px; text-align:center; cursor:pointer;" >관리자 사이트 바로가기</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td width="205" valign="top"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="39"></td>
            </tr>
            <tr>
                <td colspan="3" height="80" valign="top"></td>
            </tr>
            <tr>
                <td colspan="3" valign="top">
                    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f9fa" align="left" width="698" style="margin: 0 auto; padding: 0; border: 0; font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif; font-size: 16px; color: #666; letter-spacing: -0.9px; text-align: left; table-layout: fixed;">
                        <tbody>
                        <tr>
                            <td width="39" height="20" valign="top"></td>
                            <td width="620" height="20" valign="top"></td>
                            <td width="39" height="20" valign="top"></td>
                        </tr>
                        <tr>
                            <td valign="top"></td>
                            <td valign="top" style="font-size: 10px; line-height: 12px; color: #666">본 메일은 발신전용으로 회신 되지 않습니다.</td>
                            <td valign="top"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="4" valign="top"></td>
                        </tr>
                        <tr>
                            <td valign="top"></td>
                            <td valign="top" style="font-size:10px; line-height:12px; color:#999">Copyright @ 2022 Kolon, Inc. All Right Reserved.</td>
                            <td valign="top"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20" valign="top"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
