<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.sv.SVASurveyMapper">
	<!--
         쿼리명 : SVASurveyMapper.getSurveyTypeList
         설  명 : 상세 전체 코드
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.06  박준희     최초 생성
    -->
	<select id="getSurveyTypeList" resultType="COCodeDTO">
		SELECT /* SVASurveyMapper.getSurveyTypeList */
			  cd_id
			, cd
			, cd_nm
		FROM
			co_code_mst
		WHERE CD_ID = 'SURVEY_TYPE' AND USE_YN = 'Y' AND DPTH > 2
		ORDER BY
			lft_val
	</select>


	<!--
          쿼리명 : SVASurveyMapper.selectSurveyList
          설  명 : 목록을 조회한다.
              수정일	 수정자     수정내용
         ==========   ======   =============
         2023.11.09   박준희     최초생성
     -->
	<select id="selectSurveyList" parameterType="SVASurveyMstSearchDTO">
		SELECT /* SVASurveyMapper.selectSurveyList */
		SRV_SEQ
		,TYPE_CD
		, (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.TYPE_CD) AS TYPE_NM
		,TITL
		,RSPN_MM
		,CNTN
		,EXPS_YN
		,REG_ID
		, (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
		,REG_IP
		,REG_DTM
		,MOD_ID
		, (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
		,MOD_IP
		,MOD_DTM
		,MSR_STND_CD
		,MSR_YN
		FROM SV_MST A
		<include refid="selectSurveyListwhereSql" />
		ORDER BY
		SRV_SEQ DESC
		LIMIT #{firstIndex}, #{recordCountPerPage}

	</select>

	<!--
         쿼리명 : SVASurveyMapper.selectSurveyListCnt
         설  명 : 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    박준희       최초생성
    -->
	<select id="selectSurveyListCnt" parameterType="SVASurveyMstSearchDTO" resultType="java.lang.Integer">
		SELECT /* SVASurveyMapper.selectSurveyListCnt*/
		COUNT(SRV_SEQ)
		FROM
		SV_MST A
		<include refid="selectSurveyListwhereSql" />
	</select>

	<!--
        쿼리명 : selectSurveyListwhereSql
        설  명 : where Sql
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    박준희       최초생성
    -->
	<sql id="selectSurveyListwhereSql">
		<where>
			<if test="srchDate != null and srchDate != ''.toString() ">
				<choose>
					<when test="srchDate == 1">
						<if test="strtDt != null and strtDt != ''.toString() ">
							AND REG_DTM <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
						</if>
						<if test="endDt != null and endDt != ''.toString() ">
						AND REG_DTM <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
						</if>
					</when>
					<when test="srchDate == 2">
						<if test="strtDt != null and strtDt != ''.toString() ">
							AND MOD_DTM <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
						</if>
						<if test="endDt != null and endDt != ''.toString() ">
							AND MOD_DTM <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
						</if>
					</when>
				</choose>
			</if>
			<if test="expsYnList != null and expsYnList.size() > 0">
				AND (
				<foreach collection="expsYnList" item="expsYnList" index="index" open="" close="" separator=" or ">
					EXPS_YN = #{expsYnList}
				</foreach>
				)
			</if>
			<if test="typeCdList != null and typeCdList.size() > 0">
				AND (
				<foreach collection="typeCdList" item="typeCdList" index="index" open="" close="" separator=" or ">
					type_cd = #{typeCdList}
				</foreach>
				)
			</if>

			<if test="q != null and q != ''">
				<choose>
					<when test="f == 1">
						AND TITL LIKE CONCAT('%', #{q}, '%')
					</when>
					<when test="f == 2">
						AND (
						INSTR(A.REG_ID , #{q} ) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(NAME , #{q}) <![CDATA[>]]> 0)
						)
					</when>
					<when test="f == 3">
						AND (
						INSTR(MOD_ID , #{q} ) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(NAME , #{q}) <![CDATA[>]]> 0)
						)
					</when>
					<otherwise>
						AND (
						INSTR(TITL , #{q} ) <![CDATA[>]]> 0 OR
						INSTR(REG_ID , #{q} ) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(NAME , #{q}) <![CDATA[>]]> 0) OR
						INSTR(MOD_ID  , #{q}  ) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(NAME , #{q}) <![CDATA[>]]> 0)
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>


	<!--
         쿼리명 : SVASurveyMapper.insertSurveyMst
         설  명 : 교육 시험 마스터 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.15    박준희       최초생성
    -->
	<insert id="insertSurveyMst" parameterType="SVASurveyMstInsertDTO">
		insert /* SVASurveyMapper.insertSurveyMst */ into sv_mst
		(
		srv_seq
		, type_cd
		, titl
		, rspn_mm
		, cntn
		, exps_yn
		, msr_stnd_cd
		, msr_yn
		, reg_id
		, reg_ip
		, reg_dtm
		, mod_id
		, mod_ip
		, mod_dtm
		)
		values
			(
				#{srvSeq}
			, #{typeCd}
			, #{titl}
			, #{rspnMm}
			, #{cntn}
			, #{expsYn}
			, #{msrStndCd}
			, #{msrYn}
			, #{regId}
			, #{regIp}
			, now()
			, #{regId}
			, #{regIp}
			, now()
			)
	</insert>

	<!--
	쿼리명 : SVASurveyMapper.updateSurveyMst
	설  명 : 설문마스터 수정
	  수정일      수정자       수정내용
	==========   ========   ==============
	2023.11.18    박준희       최초생성
	-->
	<update id="updateSurveyMst" parameterType="SVASurveyMstInsertDTO">
		update /* SVASurveyMapper.updateSurveyMst */ sv_mst
		set
			exps_yn = #{expsYn}
		  ,titl = #{titl}
		  ,rspn_mm = #{rspnMm}
		  ,type_cd = #{typeCd}
		  ,msr_stnd_cd = #{msrStndCd}
		  ,msr_yn = #{msrYn}
		  ,cntn = #{cntn}
		  ,mod_id = #{modId}
		  ,mod_ip = #{modIp}
		  ,mod_dtm = now()
		where
			srv_seq = #{detailsKey}
	</update>

	<!--
		쿼리명 : SVASurveyMapper.updateSurveyMstExpnYn
		설  명 : 교육/컨설팅에 매핑된 설문은 사용여부만 수정
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.18    박준희       최초생성
    -->
	<update id="updateSurveyMstExpnYn" parameterType="SVASurveyMstInsertDTO">
		update /* SVASurveyMapper.updateSurveyMstExpnYn */ sv_mst
		set
			exps_yn = #{expsYn}
		where
			srv_seq = #{detailsKey}
	</update>

	<!--
         쿼리명 : SVASurveyMapper.insertSurveyQstnDtl
         설  명 : 설문 보기 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.15    박준희       최초생성
    -->
	<insert id="insertSurveyQstnDtl" parameterType="SVASurveyMstInsertDTO">
		insert /* SVASurveyMapper.insertSurveyQstnDtl */ into sv_qstn_dtl
		(
		qstn_seq
		, srv_seq
		, ctgry_cd
		, srv_type_cd
		, parnt_qstn_seq
		, dpth
		, qstn_nm
		, ncs_yn
		, qstn_ord
		, reg_id
		, reg_ip
		, reg_dtm
		, mod_id
		, mod_ip
		, mod_dtm
		)
		values
		<foreach collection="svSurveyQstnDtlList" item="list" index="index" separator=" , " open="" close=";">
			(
			#{list.qstnSeq}
			, #{list.srvSeq}
			, #{list.ctgryCd}
			, #{list.srvTypeCd}
			, #{list.parntQstnSeq}
			, #{list.dpth}
			, #{list.qstnNm}
			, #{list.ncsYn}
			, #{list.qstnOrd}
			, #{list.regId}
			, #{list.regIp}
			, now()
			, #{list.regId}
			, #{list.regIp}
			, now()
			)
		</foreach>
	</insert>


	<!--
         쿼리명 : SVASurveyMapper.insertSurveyQstnDtl
         설  명 : 설문 보기 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.15    박준희       최초생성
    -->
	<insert id="insertSurveyExmplDtl" parameterType="SVASurveyQstnDtlDTO">
		insert /* SVASurveyMapper.insertSurveyExmplDtl */ into sv_exmpl_dtl
		(
		exmpl_seq
		, qstn_seq
		, exmpl_nm
		, exmpl_ord
		, next_no
		, reg_id
		, reg_ip
		, reg_dtm
		, mod_id
		, mod_ip
		, mod_dtm
		)
		values
		<foreach collection="svSurveyExmplDtlList" item="list" index="index" separator=" , " open="" close=";">
			(
			#{list.exmplSeq}
			, #{list.qstnSeq}
			, #{list.exmplNm}
			, #{list.exmplOrd}
			, #{list.nextNo}
			, #{list.regId}
			, #{list.regIp}
			, now()
			, #{list.regId}
			, #{list.regIp}
			, now()
			)
		</foreach>
	</insert>



	<!--
         쿼리명 : SVASurveyMapper.deleteSurveyMst
         설  명 : 목록 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.15   박준희       최초생성
    -->
	<delete id="deleteSurveyMst" parameterType="SVASurveyMstSearchDTO">
		delete /* SVASurveyMapper.deleteExamMst */
			sv_mst , sv_qstn_dtl , sv_exmpl_dtl
		    from sv_mst
		    inner join sv_qstn_dtl on sv_mst.srv_seq = sv_qstn_dtl.srv_seq
		    inner join sv_exmpl_dtl on sv_qstn_dtl.qstn_seq = sv_exmpl_dtl.qstn_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					sv_mst.srv_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					sv_mst.srv_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</delete>

	<!--
     쿼리명 : SVASurveyMapper.deleteSurveyQstnList
     설  명 : 질문,보기 목록 삭제
      수정일     수정자       수정내용
    ==========   ======    ==============
    2023.11.18   박준희       최초생성
-->
	<delete id="deleteSurveyQstnList" parameterType="SVASurveyMstSearchDTO">
		delete /* SVASurveyMapper.deleteSurveyQstnList */
		sv_qstn_dtl , sv_exmpl_dtl
		from  sv_qstn_dtl inner join sv_exmpl_dtl on sv_qstn_dtl.qstn_seq = sv_exmpl_dtl.qstn_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					sv_qstn_dtl.srv_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					sv_qstn_dtl.srv_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</delete>

	<!--
		쿼리명 : SVASurveyMapper.getSurveyEdctnEpisdCnt
		설  명 : 평가지 설문 매핑 여부
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    박준희       최초생성
    -->
	<select id="getSurveyEdctnEpisdCnt" parameterType="SVASurveyMstSearchDTO" resultType="java.lang.Integer">
		select /* SVASurveyMapper.getExamEdctnEpisdCnt */
		count(*) recp_cnt
		from sv_mst sv_mst join ed_edctn_episd_mst episd_mst
		on episd_mst.srv_seq = sv_mst.srv_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					sv_mst.srv_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					sv_mst.srv_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</select>


	<!--
		쿼리명 : SVASurveyMapper.getSurveyCnstgRsumeCnt
		설  명 : 컨설팅 설문 매핑 여부
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    박준희       최초생성
    -->
	<select id="getSurveyCnstgRsumeCnt" parameterType="SVASurveyMstSearchDTO" resultType="java.lang.Integer">
		select /* SVASurveyMapper.getSurveyCnstgRsumeCnt */
		count(*) recp_cnt
		from sv_mst sv_mst join cp_cnstg_rsume_mst cnstg_mst
		on cnstg_mst.srv_seq = sv_mst.srv_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					sv_mst.srv_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					sv_mst.srv_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</select>


	<!--
		쿼리명 : SVASurveyMapper.getSurveyCmpnEpisdCnt
		설  명 : 상생협력체감도 설문 매핑 여부
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.11    박준희       최초생성
    -->
	<select id="getSurveyCmpnEpisdCnt" parameterType="SVASurveyMstSearchDTO" resultType="java.lang.Integer">
		select /* SVASurveyMapper.getSurveyCmpnEpisdCnt */
		count(*) recp_cnt
		from sv_mst sv_mst join cx_cmpn_episd_mst episd_mst
		on episd_mst.srv_seq = sv_mst.srv_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					sv_mst.srv_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					sv_mst.srv_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</select>

	<!--
		쿼리명 : SVASurveyMapper.selectSurveyDtl
		설  명 : 설문 마스터 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    박준희       최초생성
    -->
	<select id="selectSurveyDtl" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyMstInsertDTO">
		select /* SVASurveyMapper.selectSurveyDtl */
		     srv_seq
		     ,type_cd
			 ,titl
 			 ,rspn_mm
			 ,cntn
			 ,exps_yn
			 ,msr_stnd_cd
			 ,msr_yn
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.reg_id) AS REG_NAME
			 ,reg_id
			 ,reg_dtm
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.mod_id) AS MOD_NAME
			 ,mod_id
			 ,mod_dtm
		from sv_mst A
		where srv_seq = #{detailsKey}
	</select>

	<!--
    쿼리명 : SVASurveyMapper.selectSurveyQstnDtlList
    설  명 : 설문 질문 조회
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.15    박준희       최초생성
-->
	<select id="selectSurveyQstnDtlList" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyQstnDtlDTO">

		SELECT 		/* SVASurveyMapper.selectSurveyQstnDtlList */
			cd_id
			 , cd
			 , cd_nm
			 , qstn_seq
			 , ctgry_cd
			 , srv_type_cd
			 , parnt_qstn_seq
			 , case when dpth is null then 0 else dpth end dpth
			 , qstn_nm
			 , ncs_yn
			 , qstn_ord
			 , exmpl_cnt
	  		 , qstn_grp_ord
			 , qstn_cnt
		FROM (
				 SELECT
					 cd_id
					  , cd
					  , cd_nm
					  , b.qstn_seq
					  , b.ctgry_cd
					  , b.srv_type_cd
					  , b.parnt_qstn_seq
					  , b.dpth
					  , b.qstn_nm
					  , b.ncs_yn
					  , b.qstn_ord
					  , (select count(*) from sv_exmpl_dtl where qstn_seq = b.qstn_seq) as exmpl_cnt
					  , case when @grp = binary  b.ctgry_cd then @rownum:=@rownum + 1 else @rownum :=1 end as qstn_grp_ord
					  , (@grp := ctgry_cd) as dum
					  , (select count(*) from sv_qstn_dtl c where c.srv_seq = #{detailsKey} and c.parnt_qstn_seq = b.qstn_seq  ) as qstn_cnt
				 FROM
					 co_code_mst a left join (select * from sv_qstn_dtl where srv_seq = #{detailsKey}) b on a.cd = b.ctgry_cd
					, (select @rownum:=0, @grp:='') r
				 WHERE a.CD_ID = 'SURVEY_TYPE' AND a.USE_YN = 'Y' AND a.DPTH > 2
				 ORDER BY
					 lft_val , qstn_ord
			 ) T

	</select>


	<!--
		쿼리명 : SVASurveyMapper.selectSurveyExmplDtlList
		설  명 : 교육 시험 마스터 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    박준희       최초생성
    -->
	<select id="selectSurveyExmplDtlList" parameterType="SVASurveyQstnDtlDTO" resultType="SVASurveyExmplDtlDTO">
		select /* SVASurveyMapper.selectSurveyExmplDtlList */
			exmpl_seq
			 ,qstn_seq
			 ,exmpl_nm
			 ,exmpl_ord
			 ,next_no
			 ,reg_id
			 ,reg_dtm
			 ,mod_id
			 ,mod_dtm
		from sv_exmpl_dtl
		where qstn_seq = #{qstnSeq}
		order by qstn_seq asc, exmpl_ord asc
	</select>



	<!--
    쿼리명 : SVASurveyMapper.selectSurveyQstnTypeDtlList
    설  명 : 설문 질문 내용 조회
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.15    박준희       최초생성
-->
	<select id="selectSurveyQstnTypeDtlList" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyQstnDtlDTO">

		SELECT 		/* SVASurveyMapper.selectSurveyQstnTypeDtlList */
			cd_id
			 , cd
			 , cd_nm
			 , parent_cd_nm
			 , qstn_seq
			 , ctgry_cd
			 , srv_type_cd
			 , parnt_qstn_seq
			 , case when dpth is null then 0 else dpth end dpth
			 , qstn_nm
			 , ncs_yn
			 , qstn_ord
			 , exmpl_cnt
			 , qstn_grp_ord
			 , qstn_cnt
			, srv_type_nm
		FROM (
				 SELECT
					 cd_id
					  , cd
					  , cd_nm
				      , (select cd_nm from co_code_mst where cd_id = 'SURVEY_TYPE' and cd = left(a.cd,5)) as parent_cd_nm
					  , b.qstn_seq
					  , b.ctgry_cd
					  , b.srv_type_cd
					  , (select cd_nm from co_code_mst where cd_id = 'QUESTION_TYPE' and cd = b.srv_type_cd) as srv_type_nm
					  , b.parnt_qstn_seq
					  , b.dpth
					  , b.qstn_nm
					  , b.ncs_yn
					  , b.qstn_ord
					  , (select count(*) from sv_exmpl_dtl where qstn_seq = b.qstn_seq) as exmpl_cnt
					  , case when @grp = binary b.ctgry_cd then @rownum:=@rownum + 1 else @rownum :=1 end as qstn_grp_ord
					  , (@grp := ctgry_cd) as dum
					  , (select count(*) from sv_qstn_dtl c where c.srv_seq = #{detailsKey} and c.parnt_qstn_seq = b.qstn_seq  ) as qstn_cnt
				 FROM
					 co_code_mst a left join (select * from sv_qstn_dtl where srv_seq = #{detailsKey} AND ctgry_cd !='EDU05') b on a.cd = b.ctgry_cd
					, (select @rownum:=0, @grp:='') r
					<choose>
						<when test="siteGubun == 'front' and typeCd == 'CON'">
							WHERE a.CD_ID = 'SURVEY_TYPE' AND a.USE_YN = 'Y' AND a.DPTH > 3 AND LEFT(CD,3) = #{typeCd} AND ctgry_cd !='EDU05'
						</when>
						<otherwise>
							WHERE a.CD_ID = 'SURVEY_TYPE' AND a.USE_YN = 'Y' AND a.DPTH > 2 AND LEFT(CD,3) = #{typeCd} AND ctgry_cd !='EDU05'
						</otherwise>
					</choose>

				 ORDER BY
					 lft_val , qstn_ord
			 ) T

	</select>

	<!--
	쿼리명 : SVASurveyMapper.selectSurveyIsttrQstnTypeDtlList
	설  명 : 강사 설문 질문 내용 조회
	  수정일      수정자       수정내용
	==========   ========   ==============
	2023.12.07    박준희       최초생성
	-->
	<select id="selectSurveyIsttrQstnTypeDtlList" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyQstnDtlDTO">

		SELECT 		/* SVASurveyMapper.selectSurveyIsttrQstnTypeDtlList */
			cd_id
			 , cd
			 , cd_nm
			 , qstn_seq
			 , ctgry_cd
			 , srv_type_cd
			 , parnt_qstn_seq
			 , case when dpth is null then 0 else dpth end dpth
			 , qstn_nm
			 , ncs_yn
			 , qstn_ord
			 , exmpl_cnt
			 , qstn_grp_ord
			 , qstn_cnt
			 , srv_type_nm
			 , isttr_seq
			 , isttr_name

		FROM (
				 SELECT
					 cd_id
					  , cd
					  , cd_nm
					  , b.qstn_seq
					  , b.ctgry_cd
					  , b.srv_type_cd
					  , (select cd_nm from co_code_mst where cd_id = 'QUESTION_TYPE' and cd = b.srv_type_cd) as srv_type_nm
					  , b.parnt_qstn_seq
					  , b.dpth
					  , b.qstn_nm
					  , b.ncs_yn
					  , b.qstn_ord
					  , (select count(*) from sv_exmpl_dtl where qstn_seq = b.qstn_seq) as exmpl_cnt
					  , case when @grp = binary b.ctgry_cd then @rownum:=@rownum + 1 else @rownum :=1 end as qstn_grp_ord
					  , (@grp := ctgry_cd) as dum
					  , (select count(*) from sv_qstn_dtl c where c.srv_seq = #{detailsKey} and c.parnt_qstn_seq = b.qstn_seq  ) as qstn_cnt
				      , b.isttr_seq
				 	  , b.isttr_name
				 FROM
					 co_code_mst a left join (
						 select
						b.isttr_seq
						,(select name from cp_isttr_mst where isttr_seq = b.isttr_seq) as isttr_name
						, a.srv_seq
						, c.qstn_seq
						, c.ctgry_cd
						, c.srv_type_cd
						, c.parnt_qstn_seq
						, c.dpth
						, c.qstn_nm
						, c.ncs_yn
						, c.qstn_ord
						 from ed_edctn_episd_mst a
							 inner join ed_edctn_isttr_rel b on a.episd_seq= b.episd_seq
						 inner join sv_qstn_dtl c on a.srv_seq = c.srv_seq
						 where a.episd_seq = #{episdSeq} and a.srv_seq = #{detailsKey} and c.ctgry_cd ='EDU05'
					 ) b on a.cd = b.ctgry_cd
					, (select @rownum:=0, @grp:='') r
				 WHERE a.CD_ID = 'SURVEY_TYPE' AND a.USE_YN = 'Y' AND a.DPTH > 2 AND LEFT(CD,3) = #{typeCd}  AND b.qstn_seq is not null
				 ORDER BY
					 lft_val , qstn_ord
			 ) T

	</select>



	<!--
		쿼리명 : SVASurveyMapper.selectSurveyExmplWinDtlList
		설  명 : 응답 조회(상생만족도)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.27    박준희       최초생성
    -->
	<select id="selectSurveyExmplWinDtlList" parameterType="SVASurveyQstnDtlDTO" resultType="SVASurveyExmplDtlDTO">
		select /* SVASurveyMapper.selectSurveyExmplAnswerDtlList */
			a.exmpl_seq
			 ,a.qstn_seq
			 ,a.exmpl_nm
			 ,a.exmpl_ord
			 ,a.next_no
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
			 , (select count(svmd.exmpl_seq) from sv_rspn_mst svm inner join sv_mtlcc_rspn_dtl svmd on svm.srv_rspn_seq = svmd.srv_rspn_seq where svm.srv_rspn_seq = #{srvRspnSeq} and svmd.exmpl_seq = a.exmpl_seq) as win_answer
			 , (select sbjct_rply from sv_rspn_mst svm inner join sv_sbjct_rspn_dtl svsd on svm.srv_rspn_seq = svsd.srv_rspn_seq where svm.srv_rspn_seq = #{srvRspnSeq} and svsd.qstn_seq = a.qstn_seq) as win_answer_text
		from sv_exmpl_dtl a inner join sv_qstn_dtl b on a.qstn_seq = b.qstn_seq
		where a.qstn_seq = #{qstnSeq}
		order by a.qstn_seq asc, a.exmpl_ord asc

	</select>

	<!--
		쿼리명 : SVASurveyMapper.selectSurveyExmplEduDtlList
		설  명 : 응답 조회(교육)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.07    박준희       최초생성
    -->
	<select id="selectSurveyExmplEduDtlList" parameterType="SVASurveyQstnDtlDTO" resultType="SVASurveyExmplDtlDTO">
		select /* SVASurveyMapper.selectSurveyExmplEduDtlList */
			a.exmpl_seq
			 ,a.qstn_seq
			 ,a.exmpl_nm
			 ,a.exmpl_ord
			 ,a.next_no
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
			 , (select count(svmd.exmpl_seq) from sv_rspn_mst svm inner join sv_mtlcc_rspn_dtl svmd on svm.srv_rspn_seq = svmd.srv_rspn_seq where rfnc_cd = 'EDU' and rfnc_seq = #{rfncSeq} and svmd.exmpl_seq = a.exmpl_seq) as win_answer
			 , (select group_concat(sbjct_rply) from sv_rspn_mst svm inner join sv_sbjct_rspn_dtl svsd on svm.srv_rspn_seq = svsd.srv_rspn_seq where rfnc_cd = 'EDU' and rfnc_seq = #{rfncSeq} and svsd.qstn_seq = a.qstn_seq) as win_answer_text
		from sv_exmpl_dtl a inner join sv_qstn_dtl b on a.qstn_seq = b.qstn_seq
		where a.qstn_seq = #{qstnSeq}
		order by a.qstn_seq asc, a.exmpl_ord asc

	</select>

	<!--
		쿼리명 : SVASurveyMapper.selectSurveyIsttrExmplEduDtlList
		설  명 : 응답 조회(교육-강사)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.07    박준희       최초생성
    -->
	<select id="selectSurveyIsttrExmplEduDtlList" parameterType="SVASurveyQstnDtlDTO" resultType="SVASurveyExmplDtlDTO">
		select /* SVASurveyMapper.selectSurveyIsttrExmplEduDtlList */
			a.exmpl_seq
			 ,a.qstn_seq
			 ,a.exmpl_nm
			 ,a.exmpl_ord
			 ,a.next_no
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
			 , (select count(svmd.exmpl_seq) from sv_rspn_mst svm inner join sv_mtlcc_rspn_dtl svmd on svm.srv_rspn_seq = svmd.srv_rspn_seq where rfnc_cd = 'EDU' and rfnc_seq = #{rfncSeq} and svmd.exmpl_seq = a.exmpl_seq and svmd.isttr_seq = #{isttrSeq}) as win_answer
		from sv_exmpl_dtl a inner join sv_qstn_dtl b on a.qstn_seq = b.qstn_seq
		where a.qstn_seq = #{qstnSeq}
		order by a.qstn_seq asc, a.exmpl_ord asc

	</select>

	<!--
		쿼리명 : SVASurveyMapper.selectSurveyExmplConDtlList
		설  명 : 응답 조회(컨설팅)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.13    박준희       최초생성
    -->
	<select id="selectSurveyExmplConDtlList" parameterType="SVASurveyQstnDtlDTO" resultType="SVASurveyExmplDtlDTO">
		select /* SVASurveyMapper.selectSurveyExmplConDtlList */
			a.exmpl_seq
			 ,a.qstn_seq
			 ,a.exmpl_nm
			 ,a.exmpl_ord
			 ,a.next_no
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
			 , (select count(svmd.exmpl_seq) from sv_rspn_mst svm inner join sv_mtlcc_rspn_dtl svmd on svm.srv_rspn_seq = svmd.srv_rspn_seq where rfnc_cd = 'CON' and rfnc_seq = #{rfncSeq}  and svmd.exmpl_seq = a.exmpl_seq) as win_answer
			 , (select sbjct_rply from sv_rspn_mst svm inner join sv_sbjct_rspn_dtl svsd on svm.srv_rspn_seq = svsd.srv_rspn_seq where rfnc_cd = 'CON' and rfnc_seq = #{rfncSeq}  and svsd.qstn_seq = a.qstn_seq) as win_answer_text
		from sv_exmpl_dtl a inner join sv_qstn_dtl b on a.qstn_seq = b.qstn_seq
		where a.qstn_seq = #{qstnSeq}
		order by a.qstn_seq asc, a.exmpl_ord asc

	</select>

	<!--
		쿼리명 : SVASurveyMapper.selectSurveyConDtl
		설  명 : 설문 마스터 조회 (컨설팅)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.13    박준희       최초생성
    -->
	<select id="selectSurveyConDtl" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyMstInsertDTO">
		select /* SVASurveyMapper.selectSurveyConDtl */
			a.srv_seq
			 ,a.type_cd
			 ,a.titl
			 ,a.rspn_mm
			 ,a.cntn
			 ,a.exps_yn
			 ,a.msr_stnd_cd
			 ,a.msr_yn
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
		from sv_mst a inner join cp_cnstg_rsume_mst b on a.srv_seq = b.srv_seq
		where b.cnstg_seq = #{detailsKey}
	</select>


	<!--
         쿼리명 : SVASurveyMapper.insertSurveyRspnMst
         설  명 : 설문 응답 마스터 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.26    박준희       최초생성
    -->
	<insert id="insertSurveyRspnMst" parameterType="SVASurveyRspnMstInsertDTO">
		insert /* SVASurveyMapper.insertSurveyRspnMst */ into sv_rspn_mst
		(
		srv_rspn_seq
		, srv_seq
		, mem_Seq
		, rfnc_cd
		, rfnc_seq
		, name
		, email
		, reg_id
		, reg_ip
		, reg_dtm
		)
		values
			(
			#{srvRspnSeq}
			, #{srvSeq}
			, #{memSeq}
			, #{rfncCd}
			, #{rfncSeq}
			, #{name}
			, #{email}
			, #{regId}
			, #{regIp}
			, now()
			)
	</insert>

	<!--
         쿼리명 : SVASurveyMapper.insertSurveyRspnMtlccDtl
         설  명 : 설문 응답  등록 객관식
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.26    박준희       최초생성
    -->
	<insert id="insertSurveyRspnMtlccDtl" parameterType="SVASurveyExmplRspnDtlDTO">
		insert /* SVASurveyMapper.insertSurveyRspnMst */ into sv_mtlcc_rspn_dtl
		(
		 mtlcc_rspn_seq
		, exmpl_seq
		, srv_rspn_seq
		, isttr_seq
		, reg_id
		, reg_ip
		, reg_dtm
		)
		values
			(
			 #{mtlccRspnSeq}
			, #{exmplSeq}
			, #{srvRspnSeq}
			, #{isttrSeq}
			, #{regId}
			, #{regIp}
			, now()
			)
	</insert>

	<!--
         쿼리명 : SVASurveyMapper.insertSurveyRspnSbjctDtl
         설  명 : 설문 응답  등록 주관식
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.26    박준희       최초생성
    -->
	<insert id="insertSurveyRspnSbjctDtl" parameterType="SVASurveyExmplRspnDtlDTO">
		insert /* SVASurveyMapper.insertSurveyRspnSbjctDtl */ into sv_sbjct_rspn_dtl
		(
		 sbjct_rspn_seq
		, srv_rspn_seq
		, qstn_seq
		, sbjct_rply
		, reg_id
		, reg_ip
		, reg_dtm
		)
		values
			(
			 #{sbjctRspnSeq}
			, #{srvRspnSeq}
			, #{qstnSeq}
			, #{sbjctRply}
			, #{regId}
			, #{regIp}
			, now()
			)
	</insert>


	<!--
          쿼리명 : SVASurveyMapper.selectApiSurveyList
          설  명 : 목록을 조회한다.
              수정일	 수정자     수정내용
         ==========   ======   =============
         2024.02.05   박준희     최초생성
     -->
	<select id="selectApiSurveyDtl" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyApiMstInsertDTO">
		select /* SVASurveyMapper.selectApiSurveyDtl */
			#{detailsKey} AS kap_seq
		from sv_mst A
		where srv_seq IN (
			SELECT * FROM ( SELECT SRV_SEQ from ED_EDCTN_EPISD_MST
			WHERE EDCTN_SEQ = #{detailsKey}
			ORDER BY EPISD_YEAR ASC , EPISD_ORD ASC LIMIT 1 ) AS T
			)
	</select>

	<!--
    쿼리명 : SVASurveyMapper.selectApiSurveyQstnDtlList
    설  명 : 설문 질문 조회
      수정일      수정자       수정내용
    ==========   ========   ==============
    2024.02.05    박준희       최초생성
-->
	<select id="selectApiSurveyQstnDtlList" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyApiQstnDtlDTO">

			SELECT /* SVASurveyMapper.selectApiSurveyQstnDtlList */

				  SRVY_CD
				 , SRVY_TYPE
				 , CASE WHEN SRVY_TYPE='T' THEN NULL WHEN  SRV_TYPE_CD = 'QST05' THEN '5' WHEN SRV_TYPE_CD = 'QST06'  THEN '7' WHEN SRV_TYPE_CD = 'QST07' THEN '10' END QSTN_SMRY
				 , QSTN
				 , CASE WHEN SRV_TYPE_CD IN ('QST05','QST06','QST07') THEN '1' ELSE '' END AS EXMPL_1
				 , CASE WHEN SRV_TYPE_CD IN ('QST05','QST06','QST07') THEN '2' ELSE '' END AS EXMPL_2
				 , CASE WHEN SRV_TYPE_CD IN ('QST05','QST06','QST07') THEN '3' ELSE '' END AS EXMPL_3
				 , CASE WHEN SRV_TYPE_CD IN ('QST05','QST06','QST07') THEN '4' ELSE '' END AS EXMPL_4
				 , CASE WHEN SRV_TYPE_CD IN ('QST05','QST06','QST07') THEN '5' ELSE '' END AS EXMPL_5
				 , CASE WHEN SRV_TYPE_CD IN ('QST06','QST07') THEN '6' ELSE '' END AS EXMPL_6
				 , CASE WHEN SRV_TYPE_CD IN ('QST06','QST07') THEN '7' ELSE '' END AS EXMPL_7
				 , CASE WHEN SRV_TYPE_CD IN ('QST07') THEN '8' ELSE '' END AS EXMPL_8
				 , CASE WHEN SRV_TYPE_CD IN ('QST07') THEN '9' ELSE '' END AS EXMPL_9
				 , CASE WHEN SRV_TYPE_CD IN ('QST07') THEN '10' ELSE '' END AS EXMPL_10
			FROM (
				 SELECT
					 @rownum:=@rownum+1 AS ROWNUM
					  , 'AA' AS SRVY_CD
					  , CASE WHEN SRV_TYPE_CD IN ( 'QST03' ,'QST04') THEN 'T' ELSE 'S' END AS SRVY_TYPE
					  , '' AS QSTN_SMRY
					  , QSTN_NM AS QSTN
					  ,(SELECT MAX(SRV_TYPE_CD) AS SRV_TYPE_CD FROM sv_qstn_dtl WHERE SRV_SEQ = A.SRV_SEQ) AS SRV_TYPE_CD
				 FROM sv_qstn_dtl A , (SELECT @rownum:=0) B
				 WHERE A.SRV_SEQ IN (
					 SELECT * FROM ( SELECT SRV_SEQ from ED_EDCTN_EPISD_MST
									 WHERE EDCTN_SEQ = #{detailsKey}
									 ORDER BY EPISD_YEAR ASC , EPISD_ORD ASC LIMIT 1 ) AS T
				 )
				 ORDER BY CASE WHEN A.SRV_TYPE_CD IN ( 'QST03' ,'QST04') THEN 1 ELSE 0 END ASC , A.QSTN_SEQ ASC
			 ) T
			ORDER BY SRVY_TYPE ASC , ROWNUM ASC


	</select>

	<!--
          쿼리명 : SVASurveyMapper.selectApiRspnSurveyDtl
          설  명 : 목록을 조회한다.
              수정일	 수정자     수정내용
         ==========   ======   =============
         2024.02.05   박준희     최초생성
     -->
	<select id="selectApiRspnSurveyDtl" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyApiRspnInsertDTO">
		select /* SVASurveyMapper.selectApiRspnSurveyDtl */
			(SELECT EDCTN_SEQ FROM ED_EDCTN_EPISD_MST WHERE EPISD_SEQ = #{detailsKey}) AS kap_seq
			, #{detailsKey} AS kap_schd_seq
		from sv_rspn_mst A
		where RFNC_CD = 'EDU' AND RFNC_SEQ = #{detailsKey} AND REG_ID = #{regId}
	</select>

	<!--
    쿼리명 : SVASurveyMapper.selectApiSurveyRspnDtlList
    설  명 : 설문 질문 조회
      수정일      수정자       수정내용
    ==========   ========   ==============
    2024.02.05    박준희       최초생성
-->
	<select id="selectApiSurveyRspnDtlList" parameterType="SVASurveyMstSearchDTO" resultType="SVASurveyApiRspnDtlDTO">
		SELECT /* SVASurveyMapper.selectApiSurveyRspnDtlList */
			 A.REG_ID AS KAP_ID
			 , 0 AS SRVY_SEQ
			 , 'AA' AS SRVY_CD
			 , CASE WHEN B.SRV_TYPE_CD IN ( 'QST03' ,'QST04') THEN 'T' ELSE 'S' END AS SRVY_TYPE
			 , C.EXMPL_ORD AS RPLY
		FROM SV_RSPN_MST A
				 INNER JOIN SV_QSTN_DTL B ON A.SRV_SEQ = B.SRV_SEQ
				 INNER JOIN SV_EXMPL_DTL C ON B.QSTN_SEQ = C.QSTN_SEQ
				 INNER JOIN SV_MTLCC_RSPN_DTL D ON C.EXMPL_SEQ = D.EXMPL_SEQ AND D.SRV_RSPN_SEQ = A.SRV_RSPN_SEQ
		WHERE A.RFNC_CD = 'EDU' AND A.RFNC_SEQ = #{detailsKey} AND A.REG_ID = #{regId}
		ORDER BY CASE WHEN B.SRV_TYPE_CD IN ( 'QST03' ,'QST04') THEN 1 ELSE 0 END ASC , B.QSTN_SEQ ASC
	</select>

	<select id="selectSurveyScore" statementType="CALLABLE" parameterType="SVASurveyRspnScoreDTO">
		{call sp_survey_score(#{srvType} , #{targetSeq}, #{ptcptName} , #{ptcptTelno} , #{ptcptPstn}  , #{regId} , #{regIp})}
	</select>

</mapper>