<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.im.IMAQaMapper">
    <!--
     쿼리명 : IMAQaMapper.selectQaList
     설  명 : 1:1 문의 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.01  장두석     최초 생성
    -->
    <select id="selectQaList" parameterType="IMAQaDTO" resultType="IMAQaDTO">
        SELECT /* IMAQaMapper.selectQaList */
            A.QA_SEQ
            , CT.PARNT_CTGRY_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CT.PARNT_CTGRY_CD) PARNT_CTGRY_NM
            , CT.CTGRY_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CT.CTGRY_CD) CTGRY_NM
            , A.TITL
            , MEM.NAME AS REG_NAME
            , MEM.EMAIL
            , MEM.HP_NO
            , A.REG_ID
            , A.REG_DTM
            , (SELECT REG_DTM FROM BD_QA_RPLY_DTL RPLY WHERE RPLY.QA_SEQ = A.QA_SEQ) MOD_DTM
            , A.RSUME_CD
        <if test="mypageYn != null and mypageYn != '' and 'Y'.toString().equals(mypageYn)">
            , A.MEM_SEQ
        </if>
        FROM
            BD_QA_MST A
            JOIN CO_MEM_MST MEM ON A.REG_ID = MEM.ID
            JOIN BD_QA_CTGRY_DTL CT ON A.QA_SEQ = CT.QA_SEQ
        WHERE 1=1
          <include refid="selectQaListwhereSql" />
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : IMAQaMapper.getQaListCnt
    설  명 : 게시물 목록을 갯수를 카운팅한다.
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.01    장두석       최초생성
    -->
    <select id="getQaListTotCnt" parameterType="IMAQaDTO" resultType="java.lang.Integer">
        SELECT /* IMAQaMapper.getQaListCnt */
            COUNT(*)
        FROM
            BD_QA_MST A
            JOIN CO_MEM_MST MEM ON A.REG_ID = MEM.ID
            JOIN BD_QA_CTGRY_DTL CT ON A.QA_SEQ = CT.QA_SEQ
        WHERE 1 = 1
            <include refid="selectQaListwhereSql" />
    </select>

    <!--
    쿼리명 : IMAQaMapper.selectQaDtl
    설  명 : 1:1문의 상세
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.01    장두석       최초생성
    -->
    <select id="selectQaDtl" parameterType="IMAQaDTO" resultType="IMAQaDTO">
        SELECT /* IMAQaMapper.selectQaDtl */
        A.QA_SEQ
        , A.RSUME_CD
        , A.TITL
        , A.CNTN
        , A.FILE_SEQ
        , A.REG_ID
        , A.REG_DTM
        , MEM.NAME AS REG_NAME
        , MEM.EMAIL
        , MEM.HP_NO
        , CT.PARNT_CTGRY_CD
        , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CT.PARNT_CTGRY_CD) PARNT_CTGRY_NM
        , CT.CTGRY_CD
        , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CT.CTGRY_CD) CTGRY_NM
        , RPLY.QA_RPLY_SEQ
        , RPLY.CNTN AS RPLY_CNTN
        , RPLY.FILE_SEQ AS RPLY_FILE_SEQ
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = RPLY.REG_ID) AS MOD_NAME
        , RPLY.REG_DTM AS MOD_DTM
        , RPLY.REG_ID AS MOD_ID
        , A.MEM_SEQ
        FROM
        BD_QA_MST A
        JOIN CO_MEM_MST MEM ON A.REG_ID = MEM.ID
        JOIN BD_QA_CTGRY_DTL CT ON A.QA_SEQ = CT.QA_SEQ
        LEFT JOIN BD_QA_RPLY_DTL RPLY ON A.QA_SEQ = RPLY.QA_SEQ
        WHERE
        A.QA_SEQ = #{detailsKey}
        <if test="mypageYn != null and mypageYn != '' and 'Y'.toString().equals(mypageYn)">
        AND A.MEM_SEQ = #{memSeq}
        </if>
    </select>

    <!--
    쿼리명 : IMAQaMapper.insertQaRply
    설  명 : 1:1문의 답변 등록
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.01    장두석       최초생성
    -->
    <insert id="insertQaRply" parameterType="IMAQaDTO">
        INSERT /* IMAQaMapper.insertQaRply */ INTO BD_QA_RPLY_DTL
        (
            QA_RPLY_SEQ
            , QA_SEQ
            , CNTN
            , FILE_SEQ
            , REG_ID
            , REG_IP
            , REG_DTM
            , MOD_ID
            , MOD_IP
            , MOD_DTM
        )
        VALUES
        (
            #{qaRplySeq}
            , #{detailsKey}
            , #{rplyCntn}
            , #{rplyFileSeq}
            , #{regId}
            , #{regIp}
            , NOW()
            , #{regId}
            , #{regIp}
            , NOW()
        )
    </insert>

    <!--
    쿼리명 : IMAQaMapper.updateQaRsume
    설  명 : 1:1 문의 진행상태 수정
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.01    장두석       최초생성
    -->
    <update id="updateQaRsume" parameterType="IMAQaDTO">
        UPDATE  /*IMAQaMapper.updateQaRsume*/
        BD_QA_MST
        SET
        RSUME_CD = #{rsumeCd}
        <if test="rsumeCd !='' and rsumeCd == 'SYNACK' ">
            , INIT_CHK_ADM_SEQ = (SELECT ADM_SEQ FROM CO_ADM_MST WHERE ID = #{regId})
            , INIT_CHK_DTM = NOW()
        </if>
        WHERE
        QA_SEQ = #{detailsKey}
    </update>

    <!--
     쿼리명 : IMAQaMapper.selectQaPicList
     설  명 : 1:1 문의 담당자 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.28  장두석     최초 생성
    -->
    <select id="selectQaPicList" parameterType="IMAQaPicDTO" resultType="IMAQaPicDTO">
        SELECT /* IMAQaMapper.selectQaPicList */
            PIC_SEQ
             , PARNT_CTGRY_CD
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = PARNT_CTGRY_CD) PARNT_CTGRY_NM
             , CTGRY_CD
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CTGRY_CD) CTGRY_NM
             , PIC_NM
             , PICE_MAIL
        FROM
            BD_QA_PIC_MST A
        WHERE
            1=1
        ORDER BY
            A.REG_DTM DESC
            LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : IMAQaMapper.getQaPicListTotCnt
    설  명 : 1:1문의 담당자 목록 개수 카운팅
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.28    장두석       최초생성
    -->
    <select id="getQaPicListTotCnt" parameterType="IMAQaPicDTO" resultType="java.lang.Integer">
        SELECT /* IMAQaMapper.getQaPicListTotCnt */
            COUNT(*)
        FROM
            BD_QA_PIC_MST A
    </select>

    <!--
    쿼리명 : IMAQaMapper.insertQaPic
    설  명 : 1:1문의 담당자 등록
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.28    장두석       최초생성
    -->
    <insert id="insertQaPic" parameterType="IMAQaPicDTO">
        INSERT /* IMAQaMapper.insertQaPic */ INTO BD_QA_PIC_MST
            (
            PIC_SEQ
            , PARNT_CTGRY_CD
            , CTGRY_CD
            , PIC_NM
            , PICE_MAIL
            , REG_ID
            , REG_IP
            , REG_DTM
            )
        VALUES
            (
            #{picSeq}
            , #{inqFirPic}
            , #{inqSecPic}
            , #{picNm}
            , #{piceMail}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : IMAQaMapper.updateQaPic
    설  명 : 1:1문의 담당자 수정
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.28    장두석       최초생성
    -->
    <update id="updateQaPic" parameterType="IMAQaPicDTO">
        UPDATE /* IMAQaMapper.updateQaPic */
            BD_QA_PIC_MST
        SET
            PARNT_CTGRY_CD = #{inqFirPic}
            , CTGRY_CD = #{inqSecPic}
            , PIC_NM = #{picNm}
            , PICE_MAIL = #{piceMail}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE
            PIC_SEQ = #{detailsKey}
    </update>

    <!--
    쿼리명 : IMAQaMapper.deleteQaPic
    설  명 : 1:1문의 담당자 삭제
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.28    장두석       최초생성
    -->
    <delete id="deleteQaPic" parameterType="IMAQaPicDTO">
        DELETE FROM /* IMAQaMapper.deleteQaPic */
            BD_QA_PIC_MST
        WHERE
            PIC_SEQ = #{picSeq}
    </delete>

    <!--
    쿼리명 : IMAQaMapper.getQaPicCnt
    설  명 : 1:1문의 항목별 담당자 개수 카운팅
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.28    장두석       최초생성
    -->
    <select id="getQaPicCnt" parameterType="IMAQaPicDTO" resultType="java.lang.Integer">
        SELECT /* IMAQaMapper.getQaPicCnt */
            COUNT(*)
        FROM
            BD_QA_PIC_MST A
        WHERE 1=1
            AND PARNT_CTGRY_CD = #{parntCtgryCd}
            AND CTGRY_CD = #{ctgryCd}
    </select>

    <!--
     쿼리명 : IMAQaMapper.selectQaPicDtl
     설  명 : 1:1 문의 담당자 상세
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.28  장두석     최초 생성
    -->
    <select id="selectQaPicDtl" parameterType="IMAQaPicDTO" resultType="IMAQaPicDTO">
        SELECT /* IMAQaMapper.selectQaPicDtl */
            PIC_SEQ
             , PARNT_CTGRY_CD
             , CTGRY_CD
             , PIC_NM
             , PICE_MAIL
        FROM
            BD_QA_PIC_MST A
        WHERE
            PIC_SEQ = #{picSeq}
    </select>

    <!--
    쿼리명 : selectQaListwhereSql
    설  명 : 1:1 문의 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.01    장두석       최초생성
    -->
    <sql id="selectQaListwhereSql">
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(A.REG_DTM) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND (SELECT DATE(RPLY.REG_DTM) FROM BD_QA_RPLY_DTL RPLY WHERE A.QA_SEQ = RPLY.QA_SEQ) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(A.REG_DTM) <![CDATA[<=]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
                <when test="srchDate == 2">
                    AND (SELECT DATE(RPLY.REG_DTM) FROM BD_QA_RPLY_DTL RPLY WHERE A.QA_SEQ = RPLY.QA_SEQ) <![CDATA[<=]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="inqFir != null and inqFir != ''">
            AND CT.PARNT_CTGRY_CD = #{inqFir}
        </if>
        <if test="inqSec != null and inqSec != ''">
            AND CT.CTGRY_CD = #{inqSec}
        </if>
        <if test="rsumeCdList != null and rsumeCdList.size() > 0">
            AND (
            <foreach collection="rsumeCdList" item="srcRsumeCd" index="index" open="" close="" separator=" OR ">
                A.RSUME_CD = #{srcRsumeCd}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND A.TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND MEM.NAME LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 3">
                    AND MEM.EMAIL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 4">
                    AND MEM.HP_NO LIKE CONCAT('%', #{q}, '%')
                </when>
                <otherwise>
                    AND (
                    A.TITL LIKE CONCAT('%', #{q}, '%') OR
                    MEM.NAME LIKE CONCAT('%', #{q}, '%') OR
                    MEM.EMAIL LIKE CONCAT('%', #{q}, '%') OR
                    MEM.HP_NO LIKE CONCAT('%', #{q}, '%')
                    )
                </otherwise>
            </choose>
        </if>
        <if test="mypageYn != null and mypageYn != '' and 'Y'.toString().equals(mypageYn)">
            AND A.MEM_SEQ = #{memSeq}
        </if>
        <if test="mypageMainYn != null and mypageMainYn != '' and 'Y'.toString().equals(mypageMainYn)">
            AND A.REG_DTM <![CDATA[<=]]> NOW()
            AND A.REG_DTM <![CDATA[>=]]> DATE_SUB(NOW(), INTERVAL 3 MONTH)
        </if>
        <if test="searchText != null and searchText != ''">
            AND (
            A.TITL LIKE CONCAT('%', #{searchText}, '%')
            OR A.CNTN LIKE CONCAT('%', #{searchText}, '%')
            )
        </if>
        ORDER BY
            A.REG_DTM DESC
    </sql>




    <!--
     쿼리명 : IMAQaMapper.selectQaPicCtgryList
     설  명 : 사용자 1:1 문의 선택 항목 담당자 목록 조회
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.28  장두석     최초 생성
    -->
    <select id="selectQaPicCtgryList" parameterType="IMAQaDTO" resultType="IMAQaPicDTO">
        SELECT /* IMAQaMapper.selectQaPicCtgryList */
            PIC_SEQ
             , PARNT_CTGRY_CD
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = PARNT_CTGRY_CD) PARNT_CTGRY_NM
             , CTGRY_CD
             , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = CTGRY_CD) CTGRY_NM
             , PIC_NM
             , PICE_MAIL
        FROM
            BD_QA_PIC_MST A
        WHERE
            1=1
            AND PARNT_CTGRY_CD = #{parntCtgryCd}
            AND CTGRY_CD = #{ctgryCd}
        ORDER BY
            A.REG_DTM DESC
    </select>

    <!--
    쿼리명 : IMAQaMapper.insertQa
    설  명 : 1:1문의 등록
      수정일      수정자       수정내용
    ==========   ========   ==============
    2024.01.11    장두석       최초생성
    -->
    <insert id="insertQa" parameterType="IMAQaDTO">
        INSERT /* IMAQaMapper.insertQa */ INTO BD_QA_MST
        (
          QA_SEQ
        , MEM_SEQ
        , RSUME_CD
        , TITL
        , CNTN
        , FILE_SEQ
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUES
            (
              #{qaSeq}
            , #{memSeq}
            , 'SYN'
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : IMAQaMapper.insertQaCtgry
    설  명 : 1:1문의 등록
      수정일      수정자       수정내용
    ==========   ========   ==============
    2024.01.11    장두석       최초생성
    -->
    <insert id="insertQaCtgry" parameterType="IMAQaDTO">
        INSERT /* IMAQaMapper.insertQaCtgry */ INTO BD_QA_CTGRY_DTL
        (
        QA_SEQ
        , PARNT_CTGRY_CD
        , CTGRY_CD
        , DPTH
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUES
            (
            #{qaSeq}
            , #{parntCtgryCd}
            , #{ctgryCd}
            , 2
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

</mapper>


