<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.bd.BDBCompanyNewsMapper">
    <!--
     쿼리명 : BDBCompanyNewsMapper.selectCompanyNewsList
     설  명 : 재단소식 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.20  장두석     최초 생성
    2024.01.05  이옥정     사용자 노출을 위한 예외 조건문 추가
    -->
    <select id="selectCompanyNewsList" parameterType="BDBCompanyNewsDTO" resultType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsList */
            FNDN_NEWS_SEQ
            , TITL
            , READ_CNT
            , EXPS_YN
            , REG_DTM
            <if test='siteGubun == "front"'>
                <if test='deviceGubun == "pc"'>
                ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
                </if>
                <if test='deviceGubun == "mobile"'>
                    ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                    ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                    ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
                </if>
            </if>
            <if test='siteGubun != "front"'>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            </if>
        FROM
            BD_FNDN_NEWS_MST A
        WHERE 1=1
          <include refid="selectCompanyNewsListwhereSql" />
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : BDBCompanyNewsMapper.getCompanyNewsListCnt
    설  명 : 재단소식 목록 개수 카운
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    -->
    <select id="getCompanyNewsListTotCnt" parameterType="BDBCompanyNewsDTO" resultType="java.lang.Integer">
        SELECT /* BDBCompanyNewsMapper.getCompanyNewsListCnt */
            COUNT(*)
        FROM
            BD_FNDN_NEWS_MST A
        WHERE 1 = 1
            <include refid="selectCompanyNewsListwhereSql" />
    </select>

    <select id="selectCompanyNewsDtl" parameterType="BDBCompanyNewsDTO" resultType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsDtl */
            FNDN_NEWS_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , EXPS_YN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_FNDN_NEWS_MST A
        WHERE
            FNDN_NEWS_SEQ = #{detailsKey}
    </select>

    <insert id="insertCompanyNews" parameterType="BDBCompanyNewsDTO">
        INSERT /* BDBCompanyNewsMapper.insertCompanyNews */ INTO BD_FNDN_NEWS_MST
            (
            FNDN_NEWS_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{fndnNewsSeq}
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , #{pcThnlSeq}
            , #{mblThnlSeq}
            , 0
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : BDBCompanyNewsMapper.updateCompanyNews
    설  명 : 재단소식 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.11.20   장두석     최초생성
	-->
    <update id="updateCompanyNews" parameterType="BDBCompanyNewsDTO">
        UPDATE  /* BDBCompanyNewsMapper.updateCompanyNews */
            BD_FNDN_NEWS_MST
        SET
            TITL = #{titl}
            , CNTN = #{cntn}
            , FILE_SEQ = #{fileSeq}
            , PC_THNL_SEQ = #{pcThnlSeq}
            , MBL_THNL_SEQ = #{mblThnlSeq}
            , EXPS_YN = #{expsYn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1 = 1
            AND FNDN_NEWS_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : BDBCompanyNewsMapper.deleteCompanyNews
         설  명 : 재단소식 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   장두석       최초생성
        -->
    <delete id="deleteCompanyNews" parameterType="BDBCompanyNewsDTO">
        DELETE /* BDBCompanyNewsMapper.deleteCompanyNews */
        FROM
        BD_FNDN_NEWS_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    FNDN_NEWS_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    FNDN_NEWS_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
    쿼리명 : selectCompanyNewsListwhereSql
    설  명 : 재단소식 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    2024.01.05    이옥정       사용자 노출을 위한 예외 조건문 추가
    -->
    <sql id="selectCompanyNewsListwhereSql">
        <if test='siteGubun == "front"'>
            AND EXPS_YN = 'Y'
        </if>
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="expsYnList != null and expsYnList.size() > 0">
            AND (
            <foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
                EXPS_YN = #{expsYn}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND (
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <when test="f == 3">
                    AND (
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <otherwise>
                    AND (
                    TITL LIKE CONCAT('%', #{q}, '%') OR
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%')) OR
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY
            REG_DTM DESC
    </sql>
</mapper>


