<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.bd.BDBCompanyNewsMapper">
    <!--
     쿼리명 : BDBCompanyNewsMapper.selectCompanyNewsList
     설  명 : 재단소식 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.20  장두석     최초 생성
    2024.01.05  이옥정     사용자 노출을 위한 예외 조건문 추가
    -->
    <select id="selectCompanyNewsList" parameterType="BDBCompanyNewsDTO" resultType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsList */
            FNDN_NEWS_SEQ
            , TITL
            , READ_CNT
            , EXPS_YN
            , REG_DTM
            <if test='siteGubun == "front"'>
                , CASE
                    WHEN DATE_ADD(REG_DTM, INTERVAL 3 DAY) <![CDATA[ >= ]]> now() THEN 'Y'
                    ELSE 'N'
                  END AS NEW_POST_YN
                <if test='deviceGubun == "pc"'>
                    ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                    ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                    ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
                </if>
                <if test='deviceGubun == "mobile"'>
                    ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                    ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                    ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
                </if>
            </if>
            <if test='siteGubun != "front"'>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            </if>
        FROM
            BD_FNDN_NEWS_MST A
        WHERE 1=1
          <include refid="selectCompanyNewsListwhereSql" />
        <if test='siteGubun == "front"'>
            <if test='mainYn == "Y"'>
                LIMIT #{firstIndex}, #{recordCountPerPage}
            </if>
        </if>
        <if test='siteGubun == "admin"'>
            LIMIT #{firstIndex}, #{recordCountPerPage}
        </if>

    </select>

    <!--
     쿼리명 : BDBCompanyNewsMapper.selectCompanyNewsTotalList
     설  명 : 통합검색 재단소식 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2024.01.29  강인국     최초 생성
    -->
    <select id="selectCompanyNewsTotalList" parameterType="BDBCompanyNewsDTO" resultType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsTotalList */
        FNDN_NEWS_SEQ
        , TITL
        , READ_CNT
        , EXPS_YN
        , REG_DTM
        <if test='siteGubun == "front"'>
            <if test='deviceGubun == "pc"'>
                ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
            </if>
            <if test='deviceGubun == "mobile"'>
                ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
            </if>
        </if>
        <if test='siteGubun != "front"'>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        </if>
        FROM
        BD_FNDN_NEWS_MST A
        WHERE 1=1
        <include refid="selectCompanyNewsListwhereSql" />
            LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : BDBCompanyNewsMapper.getCompanyNewsListCnt
    설  명 : 재단소식 목록 개수 카운
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    -->
    <select id="getCompanyNewsListTotCnt" parameterType="BDBCompanyNewsDTO" resultType="java.lang.Integer">
        SELECT /* BDBCompanyNewsMapper.getCompanyNewsListCnt */
            COUNT(*)
        FROM
            BD_FNDN_NEWS_MST A
        WHERE 1 = 1
            <include refid="selectCompanyNewsListwhereSql" />
    </select>

    <select id="selectCompanyNewsDtl" parameterType="BDBCompanyNewsDTO" resultType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsDtl */
            FNDN_NEWS_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , EXPS_YN
        <if test='siteGubun == "front"'>
            , #{srchVal} AS SRCH_VAL
        </if>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_FNDN_NEWS_MST A
        WHERE
            FNDN_NEWS_SEQ = #{detailsKey}
    </select>

    <insert id="insertCompanyNews" parameterType="BDBCompanyNewsDTO">
        INSERT /* BDBCompanyNewsMapper.insertCompanyNews */ INTO BD_FNDN_NEWS_MST
            (
            FNDN_NEWS_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{fndnNewsSeq}
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , #{pcThnlSeq}
            , #{mblThnlSeq}
            , 0
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : BDBCompanyNewsMapper.updateCompanyNews
    설  명 : 재단소식 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.11.20   장두석     최초생성
	-->
    <update id="updateCompanyNews" parameterType="BDBCompanyNewsDTO">
        UPDATE  /* BDBCompanyNewsMapper.updateCompanyNews */
            BD_FNDN_NEWS_MST
        SET
            TITL = #{titl}
            , CNTN = #{cntn}
            , FILE_SEQ = #{fileSeq}
            , PC_THNL_SEQ = #{pcThnlSeq}
            , MBL_THNL_SEQ = #{mblThnlSeq}
            , EXPS_YN = #{expsYn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1 = 1
            AND FNDN_NEWS_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : BDBCompanyNewsMapper.deleteCompanyNews
         설  명 : 재단소식 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   장두석       최초생성
        -->
    <delete id="deleteCompanyNews" parameterType="BDBCompanyNewsDTO">
        DELETE /* BDBCompanyNewsMapper.deleteCompanyNews */
        FROM
        BD_FNDN_NEWS_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    FNDN_NEWS_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    FNDN_NEWS_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : BDBCompanyNewsMapper.selectCompanyNewsFileList
         설  명 : [사용자] 재단소식 첨부파일 목록 조회
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.24   구은희       최초생성
    -->
    <select id="selectCompanyNewsFileList" parameterType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectCompanyNewsFileList */
            FILE_ORD
             , FILE_SEQ
             , ORGN_FILE_NM AS FILE_NAME
        FROM CO_FILE_DTL
        WHERE USE_YN = 'Y'
          AND FILE_SEQ = (SELECT FILE_SEQ FROM BD_FNDN_NEWS_MST where FNDN_NEWS_SEQ = #{detailsKey})
    </select>

    <!--
         쿼리명 : BDBCompanyNewsMapper.updateCompanyNewsReadCnt
         설  명 : [사용자] 재단소식 조회수 증가
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.24   구은희       최초생성
    -->
    <update id="updateCompanyNewsReadCnt" parameterType="BDBCompanyNewsDTO">
        UPDATE /* BDBCompanyNewsMapper.updateCompanyNewsReadCnt */  BD_FNDN_NEWS_MST
        SET READ_CNT = (SELECT A.READ_CNT
                        FROM
                            (
                                SELECT READ_CNT + 1 AS READ_CNT
                                FROM BD_FNDN_NEWS_MST
                                WHERE FNDN_NEWS_SEQ = #{detailsKey}
                            ) AS A
                        WHERE FNDN_NEWS_SEQ = #{detailsKey})
        WHERE FNDN_NEWS_SEQ = #{detailsKey};
    </update>

    <!--
         쿼리명 : BDBCompanyNewsMapper.selectNextAndPrevSeqVal
         설  명 : [사용자] 재단소식 이전, 다음 글 SEQ 조회
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.24   구은희       최초생성
    -->
    <select id="selectNextAndPrevSeqVal" parameterType="BDBCompanyNewsDTO">
        SELECT /* BDBCompanyNewsMapper.selectNextAndPrevSeqVal */
            ROW_NUM
             , NEXT_SEQ
             , (SELECT TITL FROM BD_FNDN_NEWS_MST WHERE FNDN_NEWS_SEQ = NEXT_SEQ) AS NEXT_TITL
             , PREV_SEQ
             , (SELECT TITL FROM BD_FNDN_NEWS_MST WHERE FNDN_NEWS_SEQ = PREV_SEQ) AS PREV_TITL
        FROM
            (
                SELECT
                    (SELECT COUNT(*) FROM BD_FNDN_NEWS_MST B WHERE B.FNDN_NEWS_SEQ <![CDATA[<=]]> A.FNDN_NEWS_SEQ) AS ROW_NUM
                     , (SELECT MIN(FNDN_NEWS_SEQ) FROM BD_FNDN_NEWS_MST C WHERE C.FNDN_NEWS_SEQ <![CDATA[>]]> A.FNDN_NEWS_SEQ
                    <if test="srchVal != null and srchVal != ''">
                        AND (TITL LIKE CONCAT('%', #{srchVal}, '%')
                        OR CNTN LIKE CONCAT('%', #{srchVal}, '%'))
                    </if>
                    ) AS NEXT_SEQ
                     , (SELECT MAX(FNDN_NEWS_SEQ) FROM BD_FNDN_NEWS_MST D WHERE D.FNDN_NEWS_SEQ <![CDATA[<]]> A.FNDN_NEWS_SEQ
                    <if test="srchVal != null and srchVal != ''">
                        AND (TITL LIKE CONCAT('%', #{srchVal}, '%')
                        OR CNTN LIKE CONCAT('%', #{srchVal}, '%'))
                    </if>
                    ) AS PREV_SEQ
                FROM
                    BD_FNDN_NEWS_MST A
                WHERE FNDN_NEWS_SEQ = #{detailsKey}
                ORDER BY
                    FNDN_NEWS_SEQ
            ) TB
    </select>

    <!--
    쿼리명 : selectCompanyNewsListwhereSql
    설  명 : 재단소식 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    2024.01.05    이옥정       사용자 노출을 위한 예외 조건문 추가
    -->
    <sql id="selectCompanyNewsListwhereSql">
        <if test='siteGubun == "front"'>
            AND EXPS_YN = 'Y'
            <if test="srchVal != null and srchVal != ''">
                AND TITL LIKE CONCAT('%', #{srchVal}, '%') OR
                CNTN LIKE CONCAT('%', #{srchVal}, '%')
            </if>
        </if>
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="expsYnList != null and expsYnList.size() > 0">
            AND (
            <foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
                EXPS_YN = #{expsYn}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND (
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <when test="f == 3">
                    AND (
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <otherwise>
                    AND (
                    TITL LIKE CONCAT('%', #{q}, '%') OR
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%')) OR
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY
            REG_DTM DESC
    </sql>
</mapper>


