<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.bd.BDCFaqMapper">
    <!--
     쿼리명 : BDCFaqMapper.selectFaqList
     설  명 : FAQ 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.20  장두석     최초 생성
    2024.01.05  이옥정     사용자 노출을 위한 예외 조건문 추가
    -->
    <select id="selectFaqList" parameterType="BDCFaqDTO" resultType="BDCFaqDTO">
        SELECT /* BDCFaqMapper.selectFaqList */
            FAQ_SEQ
            , CTGRY_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.CTGRY_CD) CTGRY_NAME
            , TITL
            , CNTN
            , READ_CNT
            , EXPS_YN
            , FILE_SEQ
            <if test='siteGubun != "front"'>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            </if>
        FROM
            BD_FAQ_MST A
        WHERE 1=1
          <include refid="selectFaqListwhereSql" />
        <if test='siteGubun == "admin"'>
            LIMIT #{firstIndex}, #{recordCountPerPage}
        </if>
        <if test='siteGubun == "front"'>
            <if test='mainYn == "Y"'>
                LIMIT #{firstIndex}, #{recordCountPerPage}
            </if>
        </if>
    </select>

    <!--
    쿼리명 : BDCFaqMapper.getFaqListCnt
    설  명 : FAQ 목록 개수 카운
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    -->
    <select id="getFaqListTotCnt" parameterType="BDCFaqDTO" resultType="java.lang.Integer">
        SELECT /* BDCFaqMapper.getFaqListCnt */
            COUNT(*)
        FROM
            BD_FAQ_MST A
        WHERE 1 = 1
            <include refid="selectFaqListwhereSql" />
    </select>

    <select id="selectFaqDtl" parameterType="BDCFaqDTO" resultType="BDCFaqDTO">
        SELECT /* BDCFaqMapper.selectFaqDtl */
            FAQ_SEQ
            , CTGRY_CD
            , TITL
            , CNTN
            , FILE_SEQ
            , EXPS_YN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_FAQ_MST A
        WHERE
            FAQ_SEQ = #{detailsKey}
    </select>

    <insert id="insertFaq" parameterType="BDCFaqDTO">
        INSERT /* BDCFaqMapper.insertFaq */ INTO BD_FAQ_MST
            (
            FAQ_SEQ
            , CTGRY_CD
            , TITL
            , CNTN
            , FILE_SEQ
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{faqSeq}
            , #{ctgryCd}
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , 0
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : BDCFaqMapper.updateFaq
    설  명 : FAQ 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.11.20   장두석     최초생성
	-->
    <update id="updateFaq" parameterType="BDCFaqDTO">
        UPDATE  /*BDCFaqMapper.updateFaq*/
            BD_FAQ_MST
        SET
            CTGRY_CD = #{ctgryCd}
            , TITL = #{titl}
            , CNTN = #{cntn}
            , FILE_SEQ = #{fileSeq}
            , EXPS_YN = #{expsYn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1 = 1
            AND FAQ_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : BDCFaqMapper.selectFaqFileList
         설  명 : [사용자] FAQ 첨부파일 목록 조회
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.24   구은희       최초생성
    -->
    <select id="selectFaqFileList" parameterType="BDCFaqDTO">
        SELECT /* BDCFaqMapper.selectFaqFileList */
            A.FAQ_SEQ
             , B.FILE_ORD
             , B.FILE_SEQ
             , B.FILE_NAME
        FROM
            (
                SELECT FAQ_SEQ, FILE_SEQ
                FROM BD_FAQ_MST
                WHERE EXPS_YN = 'Y'
            ) A
                LEFT JOIN
            (
                SELECT
                    FILE_ORD
                     , FILE_SEQ
                     , ORGN_FILE_NM AS FILE_NAME
                FROM CO_FILE_DTL
                WHERE USE_YN = 'Y'
            ) B
            ON A.FILE_SEQ = B.FILE_SEQ
    </select>

    <!--
         쿼리명 : BDCFaqMapper.deleteFaq
         설  명 : FAQ 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   장두석       최초생성
        -->
    <delete id="deleteFaq" parameterType="BDCFaqDTO">
        DELETE /* BDCFaqMapper.deleteFaq */
        FROM
        BD_FAQ_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    FAQ_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    FAQ_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
    쿼리명 : selectFaqListwhereSql
    설  명 : FAQ 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    2024.01.05    이옥정       사용자 노출을 위한 예외 조건문 추가
    -->
    <sql id="selectFaqListwhereSql">
        <if test='siteGubun == "front"'>
            AND EXPS_YN = 'Y'
            <if test="srchVal != null and srchVal != ''">
                AND TITL LIKE CONCAT('%', #{srchVal}, '%') OR
                CNTN LIKE CONCAT('%', #{srchVal}, '%')
            </if>
            <if test="ctgryCd != null and ctgryCd != ''">
                AND CTGRY_CD = #{ctgryCd}
            </if>
        </if>
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(REG_DTM) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND DATE(MOD_DTM) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(REG_DTM) <![CDATA[<=]]>  DATE_FORMAT(#{endDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND DATE(MOD_DTM) <![CDATA[<=]]>  DATE_FORMAT(#{endDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="ctgryCdList != null and ctgryCdList.size() > 0">
            AND (
            <foreach collection="ctgryCdList" item="ctgryCd" index="index" open="" close="" separator=" OR ">
                CTGRY_CD = #{ctgryCd}
            </foreach>
            )
        </if>
        <if test="expsYnList != null and expsYnList.size() > 0">
            AND (
            <foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
                EXPS_YN = #{expsYn}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND (
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <when test="f == 3">
                    AND (
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <otherwise>
                    AND (
                    TITL LIKE CONCAT('%', #{q}, '%') OR
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%')) OR
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY
            REG_DTM DESC
    </sql>
</mapper>


