<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.bd.BDCFaqMapper">
    <!--
     쿼리명 : BDCFaqMapper.selectFaqList
     설  명 : FAQ 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.20  장두석     최초 생성
    -->
    <select id="selectFaqList" parameterType="BDCFaqDTO" resultType="BDCFaqDTO">
        SELECT /* BDCFaqMapper.selectFaqList */
            FAQ_SEQ
            , CTGRY_CD
            , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.CTGRY_CD) CTGRY_NAME
            , TITL
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_FAQ_MST A
        WHERE 1=1
          <include refid="selectFaqListwhereSql" />
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : BDCFaqMapper.getFaqListCnt
    설  명 : FAQ 목록 개수 카운
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    -->
    <select id="getFaqListTotCnt" parameterType="BDCFaqDTO" resultType="java.lang.Integer">
        SELECT /* BDCFaqMapper.getFaqListCnt */
            COUNT(*)
        FROM
            BD_FAQ_MST A
        WHERE 1 = 1
            <include refid="selectFaqListwhereSql" />
    </select>

    <select id="selectFaqDtl" parameterType="BDCFaqDTO" resultType="BDCFaqDTO">
        SELECT /* BDCFaqMapper.selectFaqDtl */
            FAQ_SEQ
            , CTGRY_CD
            , TITL
            , CNTN
            , FILE_SEQ
            , EXPS_YN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_FAQ_MST A
        WHERE
            FAQ_SEQ = #{detailsKey}
    </select>

    <insert id="insertFaq" parameterType="BDCFaqDTO">
        INSERT /* BDCFaqMapper.insertFaq */ INTO BD_FAQ_MST
            (
            FAQ_SEQ
            , CTGRY_CD
            , TITL
            , CNTN
            , FILE_SEQ
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{faqSeq}
            , #{ctgryCd}
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , 0
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : BDCFaqMapper.updateFaq
    설  명 : FAQ 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.11.20   장두석     최초생성
	-->
    <update id="updateFaq" parameterType="BDCFaqDTO">
        UPDATE  /*BDCFaqMapper.updateFaq*/
            BD_FAQ_MST
        SET
            CTGRY_CD = #{ctgryCd}
            , TITL = #{titl}
            , CNTN = #{cntn}
            , FILE_SEQ = #{fileSeq}
            , EXPS_YN = #{expsYn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1 = 1
            AND FAQ_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : BDCFaqMapper.deleteFaq
         설  명 : FAQ 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.20   장두석       최초생성
        -->
    <delete id="deleteFaq" parameterType="BDCFaqDTO">
        DELETE /* BDCFaqMapper.deleteFaq */
        FROM
        BD_FAQ_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    FAQ_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    AND	FAQ_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
    쿼리명 : selectFaqListwhereSql
    설  명 : FAQ 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.20    장두석       최초생성
    -->
    <sql id="selectFaqListwhereSql">
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND REG_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
                <when test="srchDate == 2">
                    AND MOD_DTM <![CDATA[<]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="ctgryCdList != null and ctgryCdList.size() > 0">
            AND (
            <foreach collection="ctgryCdList" item="ctgryCd" index="index" open="" close="" separator=" OR ">
                CTGRY_CD = #{ctgryCd}
            </foreach>
            )
        </if>
        <if test="expsYnList != null and expsYnList.size() > 0">
            AND (
            <foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
                EXPS_YN = #{expsYn}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND (
                    INSTR(#{q}, A.REG_ID) <![CDATA[>]]> 0 OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                    )
                </when>
                <when test="f == 3">
                    AND (
                    INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                    )
                </when>
                <otherwise>
                    AND (
                    INSTR(#{q}, TITL) <![CDATA[>]]> 0 OR
                    INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
                    INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY
            REG_DTM DESC
    </sql>
</mapper>


