<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.bd.BDDNewsletterMapper">
    <!--
     쿼리명 : BDDNewsletterMapper.selectNewsletterList
     설  명 : 뉴스레터 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.22  장두석     최초 생성
    -->
    <select id="selectNewsletterList" parameterType="BDDNewsletterDTO" resultType="BDDNewsletterDTO">
        SELECT /* BDDNewsletterMapper.selectNewsletterList */
            NWSLT_SEQ
            , TITL
            , READ_CNT
            , EXPS_YN
        <if test='siteGubun == "front"'>
            , CASE
                WHEN DATE_ADD(REG_DTM, INTERVAL 3 DAY) <![CDATA[ >= ]]> now() THEN 'Y'
                ELSE 'N'
              END AS NEW_POST_YN
            <if test='deviceGubun == "pc"'>
                ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.pc_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
            </if>
            <if test='deviceGubun == "mobile"'>
                ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
                ,(SELECT FILE_EXTN FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_EXTN
                ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.mbl_thnl_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
            </if>
        </if>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_NWSLT_MST A
        WHERE 1=1
          <include refid="selectNewsletterListwhereSql" />
        <if test='siteGubun == "admin"'>
            LIMIT #{firstIndex}, #{recordCountPerPage}
        </if>
    </select>

    <!--
     쿼리명 : BDDNewsletterMapper.selectNewsletterTotalList
     설  명 : 통합검색 뉴스레터 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2024.01.29  강인국     최초 생성
    -->
    <select id="selectNewsletterTotalList" parameterType="BDDNewsletterDTO" resultType="BDDNewsletterDTO">
        SELECT /* BDDNewsletterMapper.selectNewsletterTotalList */
        NWSLT_SEQ
        , TITL
        , READ_CNT
        , EXPS_YN
        <if test='siteGubun == "front"'>
            , (SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.PC_THNL_SEQ ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
        </if>
        , REG_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
        , REG_IP
        , REG_DTM
        , MOD_ID
        , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
        , MOD_IP
        , MOD_DTM
        FROM
        BD_NWSLT_MST A
        WHERE 1=1
        <include refid="selectNewsletterListwhereSql" />
            LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
    쿼리명 : BDDNewsletterMapper.getNewsletterListCnt
    설  명 : 뉴스레터 목록 개수 카운
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.22    장두석       최초생성
    -->
    <select id="getNewsletterListTotCnt" parameterType="BDDNewsletterDTO" resultType="java.lang.Integer">
        SELECT /* BDDNewsletterMapper.getNewsletterListTotCnt */
            COUNT(*)
        FROM
            BD_NWSLT_MST A
        WHERE 1 = 1
            <include refid="selectNewsletterListwhereSql" />
    </select>

    <select id="selectNewsletterDtl" parameterType="BDDNewsletterDTO" resultType="BDDNewsletterDTO">
        SELECT /* BDDNewsletterMapper.selectNewsletterDtl */
            NWSLT_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , EXPS_YN
        <if test='siteGubun == "front"'>
            , #{srchVal} AS SRCH_VAL
        </if>
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
        FROM
            BD_NWSLT_MST A
        WHERE
            NWSLT_SEQ = #{detailsKey}
    </select>

    <insert id="insertNewsletter" parameterType="BDDNewsletterDTO">
        INSERT /* BDDNewsletterMapper.insertNewsletter */ INTO BD_NWSLT_MST
            (
            NWSLT_SEQ
            , TITL
            , CNTN
            , FILE_SEQ
            , PC_THNL_SEQ
            , MBL_THNL_SEQ
            , READ_CNT
            , EXPS_YN
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{nwsltSeq}
            , #{titl}
            , #{cntn}
            , #{fileSeq}
            , #{pcThnlSeq}
            , #{mblThnlSeq}
            , 0
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
    쿼리명 : BDDNewsletterMapper.updateNewsletter
    설  명 : 뉴스레터 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.11.22   장두석     최초생성
	-->
    <update id="updateNewsletter" parameterType="BDDNewsletterDTO">
        UPDATE  /* BDDNewsletterMapper.updateNewsletter */
            BD_NWSLT_MST
        SET
            TITL = #{titl}
            , CNTN = #{cntn}
            , FILE_SEQ = #{fileSeq}
            , PC_THNL_SEQ = #{pcThnlSeq}
            , MBL_THNL_SEQ = #{mblThnlSeq}
            , EXPS_YN = #{expsYn}
            , MOD_ID = #{modId}
            , MOD_IP = #{modIp}
            , MOD_DTM = NOW()
        WHERE 1 = 1
            AND NWSLT_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : BDDNewsletterMapper.deleteNewsletter
         설  명 : 뉴스레터 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.22   장두석       최초생성
        -->
    <delete id="deleteNewsletter" parameterType="BDDNewsletterDTO">
        DELETE /* BDDNewsletterMapper.deleteNewsletter */
        FROM
        BD_NWSLT_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    NWSLT_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    NWSLT_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : BDDNewsletterMapper.selectNewsletterFileList
         설  명 : [사용자] 뉴스레터 첨부파일 목록 조회
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.22   구은희       최초생성
    -->
    <select id="selectNewsletterFileList" parameterType="BDDNewsletterDTO">
        SELECT /* BDDNewsletterMapper.selectNewsletterFileList */
            FILE_ORD
             , FILE_SEQ
             , ORGN_FILE_NM AS FILE_NAME
        FROM CO_FILE_DTL
        WHERE USE_YN = 'Y'
          AND FILE_SEQ = (SELECT FILE_SEQ FROM BD_NWSLT_MST where NWSLT_SEQ = #{detailsKey})
    </select>

    <!--
         쿼리명 : BDDNewsletterMapper.updateNewsletterReadCnt
         설  명 : [사용자] 뉴스레터 조회수 증가
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.22   구은희       최초생성
    -->
    <update id="updateNewsletterReadCnt" parameterType="BDDNewsletterDTO">
        UPDATE /* BDDNewsletterMapper.updateNewsletterReadCnt */  BD_NWSLT_MST
        SET READ_CNT = (SELECT A.READ_CNT
                        FROM
                        (
                            SELECT READ_CNT + 1 AS READ_CNT
                            FROM BD_NWSLT_MST
                            WHERE NWSLT_SEQ = #{detailsKey}
                        ) AS A
                        WHERE NWSLT_SEQ = #{detailsKey})
        WHERE NWSLT_SEQ = #{detailsKey};
    </update>

    <!--
         쿼리명 : BDDNewsletterMapper.selectNextAndPrevSeqVal
         설  명 : [사용자] 뉴스레터 이전, 다음 글 SEQ 조회
          수정일     수정자       수정내용
        ==========   ======    ==============
        2024.01.22   구은희       최초생성
    -->
    <select id="selectNextAndPrevSeqVal" parameterType="BDDNewsletterDTO">
        SELECT /* BDDNewsletterMapper.selectNextAndPrevSeqVal */
            ROW_NUM
             , NEXT_SEQ
             , (SELECT TITL FROM BD_NWSLT_MST WHERE NWSLT_SEQ = NEXT_SEQ) AS NEXT_TITL
             , PREV_SEQ
             , (SELECT TITL FROM BD_NWSLT_MST WHERE NWSLT_SEQ = PREV_SEQ) AS PREV_TITL
        FROM
            (
                SELECT
                    (SELECT COUNT(*) FROM BD_NWSLT_MST B WHERE B.NWSLT_SEQ <![CDATA[<=]]> A.NWSLT_SEQ) AS ROW_NUM
                     , (SELECT MIN(NWSLT_SEQ) FROM BD_NWSLT_MST C WHERE C.NWSLT_SEQ <![CDATA[>]]> A.NWSLT_SEQ
                        <if test="srchVal != null and srchVal != ''">
                            AND (TITL LIKE CONCAT('%', #{srchVal}, '%')
                            OR CNTN LIKE CONCAT('%', #{srchVal}, '%'))
                        </if>
                     ) AS NEXT_SEQ
                     , (SELECT MAX(NWSLT_SEQ) FROM BD_NWSLT_MST D WHERE D.NWSLT_SEQ <![CDATA[<]]> A.NWSLT_SEQ
                        <if test="srchVal != null and srchVal != ''">
                            AND (TITL LIKE CONCAT('%', #{srchVal}, '%')
                            OR CNTN LIKE CONCAT('%', #{srchVal}, '%'))
                        </if>
                     ) AS PREV_SEQ
                FROM
                    BD_NWSLT_MST A
                WHERE NWSLT_SEQ = #{detailsKey}
                ORDER BY
                    NWSLT_SEQ
            ) TB
    </select>

    <!--
    쿼리명 : selectNewsletterListwhereSql
    설  명 : 뉴스레터 관리 where Sql
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.22    장두석       최초생성
    -->
    <sql id="selectNewsletterListwhereSql">
        <if test='siteGubun == "front"'>
            AND EXPS_YN = 'Y'
            <if test="srchVal != null and srchVal != ''">
                AND TITL LIKE CONCAT('%', #{srchVal}, '%') OR
                CNTN LIKE CONCAT('%', #{srchVal}, '%')
            </if>
        </if>
        <if test="strtDt != null and strtDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(REG_DTM) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
                <when test="srchDate == 2">
                    AND DATE(MOD_DTM) <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d')
                </when>
            </choose>
        </if>
        <if test="endDt != null and endDt != ''">
            <choose>
                <when test="srchDate == 1">
                    AND DATE(REG_DTM) <![CDATA[<=]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
                <when test="srchDate == 2">
                    AND DATE(MOD_DTM) <![CDATA[<=]]>  DATE_ADD(DATE_FORMAT(#{endDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                </when>
            </choose>
        </if>
        <if test="expsYnList != null and expsYnList.size() > 0">
            AND (
            <foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
                EXPS_YN = #{expsYn}
            </foreach>
            )
        </if>
        <if test="q != null and q != ''">
            <choose>
                <when test="f == 1">
                    AND TITL LIKE CONCAT('%', #{q}, '%')
                </when>
                <when test="f == 2">
                    AND (
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <when test="f == 3">
                    AND (
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </when>
                <when test="f == 99">
                    AND TITL LIKE CONCAT('%', #{q}, '%') OR
                    CNTN LIKE CONCAT('%', #{q}, '%')
                </when>
                <otherwise>
                    AND (
                    TITL LIKE CONCAT('%', #{q}, '%') OR
                    REG_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND NAME LIKE CONCAT('%', #{q}, '%')) OR
                    MOD_ID LIKE CONCAT('%', #{q}, '%') OR
                    EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND NAME LIKE CONCAT('%', #{q}, '%'))
                    )
                </otherwise>
            </choose>
        </if>
        ORDER BY
            REG_DTM DESC
    </sql>
</mapper>


