<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.sm.SMDAPsnIfMapper">
    <!--
         쿼리명 : SMDAPsnIfMapper.selectPsnIfList
         설  명 : 개인정보처리방침 목록을 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.26   구은희       최초생성
    -->
    <select id="selectPsnIfList" parameterType="SMDAPsnIfDTO">
        SELECT /* SMDAPsnIfMapper.selectPsnIfList */
            PSNIF_SEQ
            , TITL
            , CNTN
            , EXPS_YN
            , REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            , REG_IP
            , REG_DTM
            , MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            , MOD_IP
            , MOD_DTM
            , #{srchDate} AS 'srchDate'
            , #{dStrDt} AS 'dStrDt'
            , #{dEndDt} AS 'dEndDt'
        FROM
        SM_PSNIF_MST A
        <include refid="selectPsnIfListwhereSql" />
        ORDER BY
            REG_DTM DESC
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : SMDAPsnIfMapper.selectPsnIfCnt
         설  명 : 개인정보처리방침 개수를 조회한다.
          수정일      수정자       수정내용
        ==========   ========   ==============
        2023.09.26    구은희       최초생성
    -->
    <select id="selectPsnIfCnt" parameterType="SMDAPsnIfDTO" resultType="java.lang.Integer">
        SELECT /* SMDAPsnIfMapper.selectPsnIfCnt*/
        COUNT(PSNIF_SEQ)
        FROM
            SM_PSNIF_MST A
        <include refid="selectPsnIfListwhereSql" />
    </select>

    <!--
         쿼리명 : SMDAPsnIfMapper.selectPsnIfDtl
         설  명 : 개인정보처리방침 상세를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.26   구은희       최초생성
    -->
    <select id="selectPsnIfDtl" parameterType="SMDAPsnIfDTO">
        SELECT /* SMDAPsnIfMapper.selectPsnIfDtl */
            PSNIF_SEQ
             , TITL
             , CNTN
             , EXPS_YN
             , REG_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             , REG_IP
             , REG_DTM
             , MOD_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             , MOD_IP
             , MOD_DTM
        FROM
            SM_PSNIF_MST A
        WHERE 1=1
          AND PSNIF_SEQ = #{psnifSeq}
    </select>

    <!--
         쿼리명 : SMDAPsnIfMapper.insertPsnIf
         설  명 : 개인정보처리방침을 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.26   구은희       최초생성
    -->
    <insert id="insertPsnIf" parameterType="SMDAPsnIfDTO">
        INSERT /* SMDAPsnIfMapper.insertPsnIf */ INTO SM_PSNIF_MST
        (
        PSNIF_SEQ
        , TITL
        , CNTN
        , EXPS_YN
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUES
            (
            #{psnifSeq}
            , #{titl}
            , #{cntn}
            , #{expsYn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : SMDAPsnIfMapper.updatePsnIf
         설  명 : 개인정보처리방침을 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.26   구은희       최초생성
    -->
    <update id="updatePsnIf" parameterType="SMDAPsnIfDTO">
        UPDATE /* SMDAPsnIfMapper.updatePsnIf */ SM_PSNIF_MST
        SET
            TITL = #{titl}
          , CNTN = #{cntn}
          , EXPS_YN = #{expsYn}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND PSNIF_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : SMDAPsnIfMapper.deletePsnIf
         설  명 : 개인정보처리방침을 삭제한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.26   구은희       최초생성
    -->
    <delete id="deletePsnIf" parameterType="SMDAPsnIfDTO">
        DELETE /* SMDAPsnIfMapper.deletePsnIf */
        FROM
        SM_PSNIF_MST
        <where>
            <choose>
                <when test="delValueList != null">
                    PSNIF_SEQ IN
                    <foreach collection="delValueList" item="item" index="index" separator=", " open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    PSNIF_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
		쿼리명 : selectPsnIfListwhereSql
		설  명 : 개인정보처리방침 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.09.26    구은희       최초생성
    -->
    <sql id="selectPsnIfListwhereSql">
        <where>
            <if test="srchDate != null and srchDate != ''.toString() ">
                <choose>
                    <when test="srchDate == 1">
                        <if test="dStrDt != null and dStrDt != ''.toString() ">
                            AND REG_DTM <![CDATA[ > ]]> str_to_date(#{dStrDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> date_add(str_to_date(#{dEndDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <when test="srchDate == 2">
                        <if test="dEndDt != null and dEndDt != ''.toString() ">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{dStrDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(STR_TO_DATE(#{dEndDt}, '%Y-%m-%d'), INTERVAL 1 DAY)
                        </if>
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
            </if>
            <if test="expsYnList != null and expsYnList.size() > 0">
                and (
                <foreach collection="expsYnList" item="expsYnList" index="index" open="" close="" separator=" or ">
                    EXPS_YN = #{expsYnList}
                </foreach>
                )
            </if>
            <if test="q != null and q != ''">
                <choose>
                    <when test="f == 1">
                        AND TITL LIKE CONCAT('%', #{q}, '%')
                    </when>
                    <when test="f == 2">
                        AND (
                        INSTR(#{q}, A.REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <when test="f == 3">
                        AND (
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </when>
                    <otherwise>
                        AND (
                        INSTR(#{q}, TITL) <![CDATA[>]]> 0 OR
                        INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
                        INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
                        EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = A.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
</mapper>