<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.sm.SMDBTmncsMapper">

    <!--
         쿼리명 : SMDBTmncsMapper.selectTmncsDtl
         설  명 : 이용약관 상세를 조회한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.06   구은희       최초생성
    -->
    <select id="selectTmncsDtl" parameterType="SMDBTmncsDTO">

        SELECT /* SMDBTmncsMapper.selectTmncsDtl */
            TMNCS_SEQ
             , CNTN
             , REG_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             , REG_IP
             , REG_DTM
             , MOD_ID
             , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             , MOD_IP
             , MOD_DTM
        FROM
            SM_TMNCS_MST A
        WHERE 1=1
        ORDER BY
            TMNCS_SEQ desc
        LIMIT 1;
    </select>


    <!--
         쿼리명 : SMDBTmncsMapper.insertTmncs
         설  명 : 이용약관을 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.06   구은희       최초생성
    -->
    <insert id="insertTmncs" parameterType="SMDBTmncsDTO">
        INSERT /* SMDBTmncsMapper.insertTmncs */ INTO SM_TMNCS_MST
        (
         TMNCS_SEQ
        , CNTN
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUES
            (
            #{tmncsSeq}
            , #{cntn}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : SMDBTmncsMapper.updateTmncs
         설  명 : 이용약관을 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.06   구은희       최초생성
    -->
    <update id="updateTmncs" parameterType="SMDBTmncsDTO">
        UPDATE /* SMDBTmncsMapper.updateTmncs */ SM_TMNCS_MST
        SET
          CNTN = #{cntn}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND TMNCS_SEQ = #{detailsKey}
    </update>
</mapper>