<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.eb.EBACouseMapper">
	<!--
		쿼리명 : EBACouseMapper.selectCouseList
		설  명 : 교육과정 목록을 조회한다.
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.02    김학규       최초생성
    -->
	<select id="selectCouseList" parameterType="EBACouseDTO" resultType="EBACouseDTO">
		select /* EBACouseMapper.selectCouseList */
				edctn_seq
				, nm
				, aa.ctgry_cd
				, (select cd_nm from co_code_mst WHERE cd = aa.ctgry_cd) as ctgry_cd_nm
				, (SELECT GROUP_CONCAT(cd_nm SEPARATOR ' > ') FROM co_code_mst
				WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = aa.ctgry_cd) AND rht_val <![CDATA[>=]]>
				(SELECT rht_val FROM co_code_mst WHERE cd = aa.ctgry_cd)
				AND dpth =  2 AND dpth <![CDATA[>]]> 1) prnt_cd

				, (SELECT GROUP_CONCAT(cd_nm SEPARATOR ' > ') FROM co_code_mst
				WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = aa.ctgry_cd) AND rht_val <![CDATA[>=]]>
				(SELECT rht_val FROM co_code_mst WHERE cd = aa.ctgry_cd)
				AND dpth <![CDATA[<]]> 4 AND dpth <![CDATA[>]]> 1) prnt_cd_nm
				, stduy_mthd_cd
				, (select cd_nm from co_code_mst where cd=aa.stduy_mthd_cd) as stduy_mthd_cd_nm
				, stduy_dd_cd
				, (select cd_nm from co_code_mst where cd=aa.stduy_dd_cd) as stduy_dd_cd_nm
				, stduy_time_cd
				, (select cd_nm from co_code_mst where cd=aa.stduy_time_cd) as stduy_time_cd_nm
				, jdgmt_yn
				, reg_id
				, (select name from co_adm_mst where id = aa.reg_id) as reg_name
				, reg_dtm
				, mod_id
				, (select name from co_adm_mst where id = aa.mod_id) as mod_name
				, exps_yn
			 	, mod_dtm
				from
			ed_edctn_prcs_mst aa

		<include refid="selectCouseListwhereSql" />

		order by
			reg_dtm desc

			limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<!--
		쿼리명 : EBACouseMapper.selectCouseListCnt
		설  명 : 교육과정 목록을 조회한다. (카운트)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.02    김학규       최초생성
    -->
	<select id="selectCouseListCnt" parameterType="EBACouseDTO" resultType="java.lang.Integer">
		select /* EBACouseMapper.selectCouseListCnt */
			count(*)
		from
		ed_edctn_prcs_mst aa
		<include refid="selectCouseListwhereSql" />
	</select>

	<!--
		쿼리명 : selectCouseListwhereSql
		설  명 : 교육과정 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.02    김학규       최초생성
    -->
	<sql id="selectCouseListwhereSql">
		<where>
			<!--등록일/수정기간-->
			<if test="strtDt != null and strtDt != ''">
				<choose>
					<when test="srchDate == 1">
						AND REG_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d 00:00:00')
						AND REG_DTM <![CDATA[<=]]> DATE_FORMAT(#{endDt}, '%Y-%m-%d 23:59:59')
					</when>
					<when test="srchDate == 2">
						AND MOD_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d 00:00:00')
						AND MOD_DTM <![CDATA[<=]]> DATE_FORMAT(#{endDt}, '%Y-%m-%d 23:59:59')
					</when>
				</choose>
			</if>

			<!--과정분류-->
			<if test="ctgryCdList != null and ctgryCdList.size() > 0">
				and (
				<foreach collection="ctgryCdList" item="ctgryCdList" index="index" open="" close="" separator=" or ">
					ctgry_cd = #{ctgryCdList}
				</foreach>
				)
			</if>
			<!--학습방식 -->
			<if test="stduyMthdCdList != null and stduyMthdCdList.size() > 0">
				and (
				<foreach collection="stduyMthdCdList" item="stduyMthdCdList" index="index" open="" close="" separator=" or ">
					stduy_mthd_cd = #{stduyMthdCdList}
				</foreach>
				)
			</if>

			<!-- 학습일 -->
			<if test="stduyDdCd != null and stduyDdCd != ''">
				AND stduy_dd_cd = #{stduyDdCd}
			</if>
			<!-- 학습시간 -->
			<if test="stduyTimeCd != null and stduyTimeCd != ''">
				AND stduy_time_cd = #{stduyTimeCd}
			</if>

			<!--노출여부-->
			<if test="expsYnList != null and expsYnList.size() > 0">
				AND (
				<foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
					EXPS_YN = #{expsYn}
				</foreach>
				)
			</if>

			<if test="q != null and q != ''.toString() ">
				<choose>
					<when test="f == 1"><!-- 과정명 -->
						and nm like concat('%', #{q}, '%')
					</when>
					<when test="f == 2"><!--최초수정자-->
						AND (
						INSTR(#{q}, aa.REG_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</when>
					<when test="f == 3"><!--최종수정자-->
						AND (
						INSTR(#{q}, aa.MOD_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</when>
					<otherwise><!--전체수정자-->
						AND (
						INSTR(#{q}, nm) <![CDATA[>]]> 0 OR
						INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
						INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>

	<!--
      쿼리명 : EBACouseMapper.selectCouseDtl
      설  명 : 교육과정 상세를 조회한다.
       수정일     수정자       수정내용
     ==========   ======    ==============
     2023.11.02   김학규       최초생성
 	-->
	<select id="selectCouseDtl" parameterType="EBACouseDTO" resultType="EBACouseDTO">
		select /* EBACouseMapper.selectCouseDtl */
				 edctn_seq
				  , nm
			      , smmry_nm
				  , itrdc_cntn
				  , stduy_trgt_cntn
				  , a.ctgry_cd
				  , (select cd_nm from co_code_mst WHERE cd = a.ctgry_cd) as ctgry_cd_nm
				  , (select parnt_seq from co_code_mst WHERE cd = a.ctgry_cd) as parnt_seq

				  , (SELECT GROUP_CONCAT(cd SEPARATOR ' > ') FROM co_code_mst
					  	WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = a.ctgry_cd) AND rht_val <![CDATA[>=]]>
					  	(SELECT rht_val FROM co_code_mst WHERE cd = a.ctgry_cd)
					  	AND dpth =  2 AND dpth <![CDATA[>]]> 1) prnt_cd

				  , (SELECT cd_nm FROM co_code_mst
					 WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = a.ctgry_cd) AND rht_val <![CDATA[>=]]>
																											  (SELECT rht_val FROM co_code_mst WHERE cd = a.ctgry_cd)
					   AND dpth = 2) prnt_cd_nm

				  , stduy_mthd_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_mthd_cd) as stduy_mthd_cd_nm
				  , stduy_dd_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_dd_cd) as stduy_dd_cd_nm
				  , stduy_time_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_time_cd) as stduy_time_cd_nm
			      , cmptn_stnd_cd
				  , (select cd_nm from co_code_mst where cd=a.cmptn_stnd_cd) as cmptn_stnd_cd_nm
				  , cmptn_jdgmt_cd
				  , (select cd_nm from co_code_mst where cd=a.cmptn_jdgmt_cd) as cmptn_jdgmt_cd_nm
				  , jdgmt_yn
				  , stduy_supls_nm
				  , pc_stduy_cntn
				  , mbl_stduy_cntn
				  , (SELECT web_path FROM co_file_dtl WHERE file_seq = a.thnl_file_seq AND file_ord = 0) AS web_path
			      , lcns_cnnct_cd
				  , (select cd_nm from co_code_mst where cd=a.lcns_cnnct_cd) as lcns_cnnct_cd_nm
				  , thnl_file_seq
				  , reg_id
				  , (select name from co_adm_mst where id = a.reg_id) as reg_name
				  , reg_dtm
				  , mod_id
				  , exps_yn
			 from
				 ed_edctn_prcs_mst a
		where
			edctn_seq = #{detailsKey}
	</select>

	<!--
      쿼리명 : EBACouseMapper.selectCouseDtl
      설  명 : 교육과정대상 상세를 조회한다.
       수정일     수정자       수정내용
     ==========   ======    ==============
     2023.11.02   김학규       최초생성
 	-->
	<select id="selectCouseTrgtList" parameterType="EBACouseDTO" resultType="EBACouseDTO">
		select
		    edctn_seq
			, cd as target_cd
			, (select cd_nm from co_code_mst where cd=a.cd) as target_cd_nm
			, etc_nm
		from ed_edctn_trgt_dtl a
		where
			edctn_seq = #{detailsKey}
	</select>

	<!--
      쿼리명 : EBACouseMapper.selectEdctnRelList
      설  명 : 교육과정연계상세 목록을 조회한다.
       수정일     수정자       수정내용
     ==========   ======    ==============
     2023.11.20   김학규       최초생성
 	-->
	<select id="selectEdctnRelList" parameterType="EBACouseDTO" resultType="EBACouseDTO">
		select
			edctn_seq
			 , cnnct_cd
			 , cnnct_edctn_seq
			 , (SELECT nm FROM ed_edctn_prcs_mst WHERE edctn_seq = a.cnnct_edctn_seq) AS cnnct_nm
			 , (select cd_nm from co_code_mst WHERE cd = a.cnnct_cd) as cnnct_cd_nm

		from ed_edctn_rel_dtl a
		where
			edctn_seq = #{edctnSeq}
	</select>



	<!--
         쿼리명 : EBACouseMapper.insertCouse
         설  명 : 교육과정을 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.02   김학규       최초생성
    -->
	<insert id="insertCouse" parameterType="EBACouseDTO">

		insert /* EBACouseMapper.insertCouse */ into ed_edctn_prcs_mst
		(
			edctn_seq
			, ctgry_cd
			, nm
			, smmry_nm
			, itrdc_cntn
			, stduy_trgt_cntn
			, stduy_mthd_cd
			, cmptn_stnd_cd
			, cmptn_jdgmt_cd
			, jdgmt_yn
			, stduy_dd_cd
			, stduy_time_cd
			, stduy_supls_nm
			, pc_stduy_cntn
			, mbl_stduy_cntn
			, lcns_cnnct_cd
			, thnl_file_seq
			, exps_yn
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		(
		  #{edctnSeq}
		, #{ctgryCd}
		, #{nm}
		, #{smmryNm}
		, #{itrdcCntn}
		, #{stduyTrgtCntn}
		, #{stduyMthdCd}
		, #{cmptnStndCd}
		, #{cmptnJdgmtCd}
		, #{jdgmtYn}
		, #{stduyDdCd}
		, #{stduyTimeCd}
		, #{stduySuplsNm}
		, #{pcStduyCntn}
		, #{mblStduyCntn}
		, #{lcnsCnnctCd}
		, #{thnlFileSeq}
		, #{expsYn}
		, #{regId}
		, #{regIp}
		, now()
		, #{modId}
		, #{modIp}
		, now()
		)
	</insert>

	<!--
         쿼리명 : EBACouseMapper.updateCouse
         설  명 : 교육과정을 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.02   김학규       최초생성
    -->
	<update id="updateCouse" parameterType="EBACouseDTO" >

		UPDATE ed_edctn_prcs_mst SET /* EBACouseMapper.updateCouse */
			ctgry_cd = #{ctgryCd}
			, nm = #{nm}
			, smmry_Nm = #{smmryNm}
			, itrdc_Cntn = #{itrdcCntn}
			, stduy_trgt_cntn = #{stduyTrgtCntn}
			, stduy_mthd_cd = #{stduyMthdCd}
			, cmptn_stnd_cd = #{cmptnStndCd}
			, cmptn_Jdgmt_Cd = #{cmptnJdgmtCd}
			, jdgmt_yn = #{jdgmtYn}
			, stduy_dd_cd = #{stduyDdCd}
			, stduy_time_cd = #{stduyTimeCd}
			, stduy_supls_nm = #{stduySuplsNm}
			, pc_stduy_cntn = #{pcStduyCntn}
		   	, mbl_stduy_cntn = #{mblStduyCntn}
		   	, lcns_cnnct_cd = #{lcnsCnnctCd}
			, thnl_file_seq = #{thnlFileSeq}
			, exps_yn = #{expsYn}
			, mod_dtm = now()
			, mod_id = #{modId}
			, mod_ip = #{modIp}
			, mod_dtm = now()
		where edctn_seq = #{detailsKey}
	</update>

	<!--
         쿼리명 : EBACouseMapper.insertCouseTrgt
         설  명 : 교육과정대상상세 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   김학규       최초생성
    -->
	<insert id="insertCouseTrgt" parameterType="EBACouseDTO" >

		insert /* EBACouseMapper.insertCouse */ into ed_edctn_trgt_dtl
		(
			edctn_seq
			, cd
			, etc_nm
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm

		)
		values
		<foreach collection="trgtDtlList" item="trgtDtlList" index="index" separator=" , " open="" close=";">
		(
		 #{trgtDtlList.edctnSeq}
		, #{trgtDtlList.targetCd}
		, #{trgtDtlList.etcNm}
		, #{regId}
		, #{regIp}
		,  now()
		, #{modId}
		, #{modIp}
		,  now()
		)
		</foreach>
	</insert>



	<!--
      쿼리명 : EBACouseMapper.selectCouseDtl
      설  명 : 교육과정대상 상세를 조회한다.
       수정일     수정자       수정내용
     ==========   ======    ==============
     2023.11.02   김학규       최초생성
 	-->
	<select id="selectEpisdListChk" parameterType="EBACouseDTO" resultType="java.lang.Integer">
		select
			count(*)
		from ed_edctn_episd_mst
		where 1=1
		AND edctn_seq IN
		<foreach collection="edctnSeqList" item="edctnSeqList" index="index" separator=", " open="(" close=")">
			#{edctnSeqList}
		</foreach>
	</select>



	<!--
         쿼리명 : EBACouseMapper.deleteCouseTrgt
         설  명 : 교육과정대상상세 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   김학규       최초생성
    -->
	<delete id="deleteCouseTrgt" parameterType="EBACouseDTO">
		delete from ed_edctn_trgt_dtl where edctn_seq = #{detailsKey}
	</delete>

	<!--
         쿼리명 : EBACouseMapper.deleteCouse
         설  명 : 교육과정상세 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   김학규       최초생성
    -->
	<delete id="deleteCouseDtl" parameterType="EBACouseDTO">
		delete from ed_edctn_prcs_mst where 1=1
		AND edctn_seq IN
		<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
			#{delValueList}
		</foreach>
	</delete>



	<!--
         쿼리명 : EBACouseMapper.deleteCouseTrgt
         설  명 : 교육과정연계 상세 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   김학규       최초생성
    -->
	<insert id="insertEdctnRel" parameterType="EBACouseDTO">
		insert /* EBACouseMapper.insertCouse */ into ed_edctn_rel_dtl
		(
		edctn_seq
		, cnnct_cd
		, cnnct_edctn_seq

		, reg_id
		, reg_ip
		, reg_dtm
		, mod_id
		, mod_ip
		, mod_dtm

		)
		values
			(
			#{edctnSeq}
			, #{cnnctCd}
			, #{cnnctEdctnSeq}
			, #{regId}
			, #{regIp}
			,  now()
			, #{modId}
			, #{modIp}
			,  now()
			)
	</insert>

	<!--
         쿼리명 : EBACouseMapper.deleteEdctnRel
         설  명 : 교육과정연계 상세 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.08   김학규       최초생성
    -->
	<delete id="deleteEdctnRel" parameterType="EBACouseDTO">
		delete from ed_edctn_rel_dtl where edctn_seq = #{detailsKey}
	</delete>

</mapper>


