<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.eb.EBBEpisdMapper">
	<!--
		쿼리명 : EBACouseMapper.selectEpisdList
		설  명 : 교육차수 목록을 조회한다.
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    김학규       최초생성
    -->
	<select id="selectEpisdList" parameterType="EBBEpisdDTO" resultType="EBBEpisdDTO">
		SELECT /*EBACouseMapper.selectEpisdList*/
				parnt_seq
				, (select cd_nm from co_code_mst WHERE cd_seq = aa.parnt_seq) AS prnt_cd_nm
				, ctgry_cd
				, ctgry_cd_nm
				, nm
				, stduy_mthd_cd
				, stduy_mthd_cd_nm
				, stduy_dd_cd
				, stduy_dd_cd_nm
				, stduy_time_cd
				, stduy_time_cd_nm
				, episd_year
				, episd_ord
				, accs_strt_dtm
				, accs_end_dtm
				, case
				when NOW() <![CDATA[<]]> accs_strt_dtm then '접수대기'
				when NOW() <![CDATA[>]]> accs_strt_dtm AND NOW() <![CDATA[<]]>  accs_end_dtm then '접수중'
				when NOW() <![CDATA[>]]> accs_end_dtm OR (fxnum_impsb_yn = 'N' AND 30 <![CDATA[>=]]> fxnum_cnt) then '마감'
				END  AS accs_status_nm
				, edctn_strt_dtm
				, edctn_end_dtm
				, case
				when NOW() <![CDATA[<]]> edctn_strt_dtm then '교육대기'
				when NOW() <![CDATA[>]]> edctn_strt_dtm AND NOW() <![CDATA[<]]> edctn_end_dtm then '교육중'
				when NOW() <![CDATA[>]]> edctn_end_dtm then '교육마감'
				END  AS edctn_status_nm
				, (SELECT NAME FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS isttr_name
				, (SELECT ffltn_nm FROM cp_isttr_mst WHERE isttr_seq = aa.min_isttr_seq) AS ffltn_nm
				, case when isttr_cnt <![CDATA[<=]]>1 then ''
				when isttr_cnt <![CDATA[>]]>  1 then isttr_cnt-1
				END isttr_out_cnt
				, fxnum_cnt
				, 30 AS 'acc_cnt'
				, rcrmt_mthd_cd
				, rcrmt_mthd_cd_nm
				, pic_nm
				, pic_email
				, pic_tel_no
				, place_seq
		     	, place_nm
				, reg_id
				, reg_name
				, reg_dtm
				, mod_id
				, mod_name
				, exps_yn
			FROM (SELECT
				b.ctgry_cd
				, (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
				, (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
				, b.nm
				, b.stduy_mthd_cd
				, (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
				, b.stduy_dd_cd
				, (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
				, b.stduy_time_cd
				, (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
				, a.episd_year
				, a.episd_ord
				, a.accs_strt_dtm
				, a.accs_end_dtm
				, a.edctn_strt_dtm
				, a.edctn_end_dtm
				, (SELECT min(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS min_isttr_seq
				, (SELECT COUNT(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS isttr_cnt
				, a.fxnum_cnt
				, a.fxnum_impsb_yn
				, a.rcrmt_mthd_cd
				, (select cd_nm from co_code_mst where cd=a.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
				, a.pic_nm
				, a.pic_email
				, a.pic_tel_no
				, a.place_seq
				, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
				, a.reg_id
				, (select name from co_adm_mst where id = a.reg_id) as reg_name
				, a.reg_dtm
				, a.mod_id
				, (select name from co_adm_mst where id = a.reg_id) as mod_name
				, a.mod_dtm
			    , a.exps_yn
				FROM ed_edctn_episd_mst a
				LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq) AA

		<include refid="selectEpisdListwhereSql" />

		order by
			reg_dtm desc

			limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<!--
		쿼리명 : EBACouseMapper.selectCouseListCnt
		설  명 : 교육차수 목록을 조회한다. (카운트)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    김학규       최초생성
    -->
	<select id="selectEpisdListCnt" parameterType="EBBEpisdDTO" resultType="java.lang.Integer">
		SELECT /*EBACouseMapper.selectEpisdListCnt*/
			count(*)
		FROM (SELECT
		b.ctgry_cd
		, (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
		, (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
		, b.nm
		, b.stduy_mthd_cd
		, (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
		, b.stduy_dd_cd
		, (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
		, stduy_time_cd
		, (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
		, a.episd_year
		, a.episd_ord
		, a.accs_strt_dtm
		, a.accs_end_dtm
		, a.edctn_strt_dtm
		, a.edctn_end_dtm
		, (SELECT min(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS min_isttr_seq
		, (SELECT COUNT(isttr_seq) FROM ed_edctn_isttr_rel c WHERE a.edctn_seq = c.edctn_seq AND a.episd_year = c.episd_year AND a.episd_ord = c.episd_ord) AS isttr_cnt
		, a.fxnum_cnt
		, a.fxnum_impsb_yn
		, a.rcrmt_mthd_cd
		, (select cd_nm from co_code_mst where cd=a.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
		, a.pic_nm
		, a.pic_email
		, a.pic_tel_no
		, a.place_seq
		, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
		, a.reg_id
		, (select name from co_adm_mst where id = a.reg_id) as reg_name
		, a.reg_dtm
		, a.mod_id
		, (select name from co_adm_mst where id = a.reg_id) as mod_name
		, a.mod_dtm
		FROM ed_edctn_episd_mst a
		LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq) AA
		<include refid="selectEpisdListwhereSql" />
	</select>

	<!--
		쿼리명 : selectEpisdListwhereSql
		설  명 : 교육차수 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    김학규       최초생성
    -->
	<sql id="selectEpisdListwhereSql">
		<where>
			<!--등록일/수정기간-->
			<if test="strtDt != null and strtDt != ''">
				<choose>
					<when test="srchDate == 1">
						AND REG_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d 00:00:00')
						AND REG_DTM <![CDATA[<=]]> DATE_FORMAT(#{endDt}, '%Y-%m-%d 23:59:59')
					</when>
					<when test="srchDate == 2">
						AND MOD_DTM <![CDATA[>=]]> DATE_FORMAT(#{strtDt}, '%Y-%m-%d 00:00:00')
						AND MOD_DTM <![CDATA[<=]]> DATE_FORMAT(#{endDt}, '%Y-%m-%d 23:59:59')
					</when>
				</choose>
			</if>

			<!--과정분류-->
			<if test="ctgryCdList != null and ctgryCdList.size() > 0">
				and (
				<foreach collection="ctgryCdList" item="ctgryCdList" index="index" open="" close="" separator=" or ">
					ctgry_cd = #{ctgryCdList}
				</foreach>
				)
			</if>
			<!--학습방식 -->
			<if test="stduyMthdCdList != null and stduyMthdCdList.size() > 0">
				and (
				<foreach collection="stduyMthdCdList" item="stduyMthdCdList" index="index" open="" close="" separator=" or ">
					stduy_mthd_cd = #{stduyMthdCdList}
				</foreach>
				)
			</if>

			<!-- 모집방식 -->
			<if test="rcrmtMthdCdList != null and rcrmtMthdCdList.size() > 0">
				and (
				<foreach collection="rcrmtMthdCdList" item="rcrmtMthdCdList" index="index" open="" close="" separator=" or ">
					rcrmt_mthd_cd = #{rcrmtMthdCdList}
				</foreach>
				)
			</if>

			<!--접수상태-->
			<!--<if test="accStatusList != null and accStatusList.size() > 0">
				and (
				<foreach collection="accStatusList" item="accStatusList" index="index" open="" close="" separator=" or ">

					<choose>
						<if test="accStatusList == 1">&lt;!&ndash;접수대기&ndash;&gt;
							NOW() <![CDATA[<]]> accs_strt_dtm
						</if>
						<if test="accStatusList == 2">&lt;!&ndash;접수중&ndash;&gt;
							NOW() <![CDATA[>]]> accs_strt_dtm AND NOW() <![CDATA[<]]>  accs_end_dtm
						</if>
						<if test="accStatusList == 3">&lt;!&ndash;마감&ndash;&gt;
							NOW() <![CDATA[>]]> accs_end_dtm OR (fxnum_impsb_yn = 'N' AND 30 <![CDATA[>=]]> fxnum_cnt)
						</if>
					</choose>

				</foreach>
				)
			</if>-->

			<!-- 학습일 -->
			<if test="stduyDdCd != null and stduyDdCd != ''">
				AND stduy_dd_cd = #{stduyDdCd}
			</if>
			<!-- 학습시간 -->
			<if test="stduyTimeCd != null and stduyTimeCd != ''">
				AND stduy_time_cd = #{stduyTimeCd}
			</if>

			<!--노출여부-->
			<if test="expsYnList != null and expsYnList.size() > 0">
				AND (
				<foreach collection="expsYnList" item="expsYn" index="index" open="" close="" separator=" OR ">
					EXPS_YN = #{expsYn}
				</foreach>
				)
			</if>

			<if test="q != null and q != ''.toString() ">
				<choose>
					<when test="f == 1"><!-- 과정명 -->
						and nm like concat('%', #{q}, '%')
					</when>
					<when test="f == 2"><!--최초수정자-->
						AND (
						INSTR(#{q}, aa.REG_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</when>
					<when test="f == 3"><!--최종수정자-->
						AND (
						INSTR(#{q}, aa.MOD_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</when>
					<otherwise><!--전체수정자-->
						AND (
						INSTR(#{q}, nm) <![CDATA[>]]> 0 OR
						INSTR(#{q}, REG_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.REG_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0) OR
						INSTR(#{q}, MOD_ID) <![CDATA[>]]> 0 OR
						EXISTS(SELECT 'x' FROM CO_ADM_MST WHERE ID = aa.MOD_ID AND INSTR(#{q}, NAME) <![CDATA[>]]> 0)
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>

	<!--
      쿼리명 : EBBEpisdMapper.selectEpisdDtl
      설  명 : 교육과정 상세를 조회한다.
       수정일     수정자       수정내용
     ==========   ======    ==============
     2023.11.02   김학규       최초생성
 	-->
	<select id="selectEpisdDtl" parameterType="EBBEpisdDTO" resultType="EBBEpisdDTO">
		SELECT /* EBBEpisdMapper.selectEpisdDtl */
			edctn_seq
			 , nm
		     , smmry_nm
			 , itrdc_cntn
			 , stduy_trgt_cntn
			 , parnt_seq
			 , (select cd_nm from co_code_mst WHERE cd_seq = aa.parnt_seq) AS prnt_cd_nm
			 , ctgry_cd
			 , ctgry_cd_nm
			 , stduy_mthd_cd
			 , stduy_mthd_cd_nm
			 , cmptn_stnd_cd
		     , cmptn_jdgmt_cd
		     , jdgmt_yn
			 , stduy_dd_cd
			 , stduy_dd_cd_nm
			 , stduy_time_cd
			 , stduy_time_cd_nm
		     , stduy_supls_nm
		     , cprtn_instt_nm
		     , stduy_cntn
		     , thnl_file_seq
			 , reg_id
			 , reg_name
			 , reg_dtm
			 , mod_id
			 , exps_yn
		FROM
			(select
				 edctn_seq
				  , nm
			      , smmry_nm
				  , itrdc_cntn
				  , stduy_trgt_cntn
				  , a.ctgry_cd
				  , (select cd_nm from co_code_mst WHERE cd = a.ctgry_cd) as ctgry_cd_nm
				  , (select parnt_seq from co_code_mst WHERE cd = a.ctgry_cd) as parnt_seq
				  , stduy_mthd_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_mthd_cd) as stduy_mthd_cd_nm
				  , stduy_dd_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_dd_cd) as stduy_dd_cd_nm
				  , stduy_time_cd
				  , (select cd_nm from co_code_mst where cd=a.stduy_time_cd) as stduy_time_cd_nm
			      , cmptn_stnd_cd
				  , cmptn_jdgmt_cd
				  , jdgmt_yn
				  , stduy_supls_nm
				  , cprtn_instt_nm
				  , stduy_cntn
				  , thnl_file_seq
				  , reg_id
				  , (select name from co_adm_mst where id = a.reg_id) as reg_name
				  , reg_dtm
				  , mod_id
				  , exps_yn
			 from
				 ed_edctn_prcs_mst a) aa
		where
			edctn_seq = #{detailsKey}
	</select>


	<!--
         쿼리명 : EBBEpisdMapper.insertEpisd
         설  명 : 교육차수를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.02   김학규       최초생성
    -->


	<!--
         쿼리명 : EBBEpisdMapper.updateEpisd
         설  명 : 교육차수을 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.02   김학규       최초생성
    -->


	<!--
         쿼리명 : EBBEpisdMapper.deleteEpisd
         설  명 : 교육차수 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.15   김학규       최초생성
    -->
	<delete id="deleteEpisdDtl" parameterType="EBBEpisdDTO">
		delete from ed_edctn_prcs_mst where 1=1
		AND edctn_seq IN
		<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
			#{delValueList}
		</foreach>
	</delete>


</mapper>


