<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.eb.EBBFrontEpisdMapper">
	<!--
		쿼리명 : EBBFrontEpisdMapper.selectFrontCouseList
		설  명 : 교육신청 과정목록을 조회한다.
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.22    김학규       최초생성
    -->
	<select id="selectFrontCouseList" parameterType="EBBEpisdDTO" resultType="EBBEpisdDTO">
		SELECT /*EBBFrontEpisdMapper.selectFrontCouseList*/
			a. edctn_seq
			, episd_year
			, episd_ord
			, episd_seq
			, (select parnt_seq from co_code_mst WHERE cd = a.ctgry_cd) as parnt_seq
			, (SELECT cd_nm FROM co_code_mst WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = a.ctgry_cd) AND rht_val <![CDATA[>=]]>
				(SELECT rht_val FROM co_code_mst WHERE cd = a.ctgry_cd)
				AND dpth = 2) prnt_cd_nm
			, a.ctgry_cd
			, (select cd_nm from co_code_mst WHERE cd = a.ctgry_cd) as ctgry_cd_nm
			, a.nm
			, (select cd_nm from co_code_mst where cd=a.stduy_mthd_cd) as stduy_mthd_cd_nm
			, (select cd_nm from co_code_mst where cd=a.stduy_dd_cd) as stduy_dd_cd_nm
			, (select cd_nm from co_code_mst where cd=a.stduy_time_cd) as stduy_time_cd_nm
			, accs_strt_dtm
			, accs_end_dtm
			, DATEDIFF(accs_end_dtm, NOW()) AS accs_order_day
			, edctn_strt_dtm
			, edctn_end_dtm
			, accs_status_nm
			, accs_status_order
			, fxnum_cnt
			, fxnum_impsb_yn
			, rcrmt_mthd_cd
			, rcrmt_mthd_cd_nm
		    , place_seq
			, (SELECT web_path FROM co_file_dtl WHERE file_seq = a.thnl_file_seq AND file_ord = 0) AS web_path
			, place_nm
		FROM ed_edctn_prcs_mst a
		LEFT JOIN (
						SELECT

						bbb.*
						, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = bbb.place_seq) as place_nm

						FROM (SELECT
									edctn_seq
									, episd_year
									, episd_ord
									, episd_seq
									, accs_strt_dtm
									, accs_end_dtm
									, edctn_strt_dtm
									, edctn_end_dtm
									, fxnum_cnt
									, fxnum_impsb_yn
									, case
										when NOW()   <![CDATA[<]]>  accs_strt_dtm then '접수대기'
										when NOW()   <![CDATA[>]]>   accs_strt_dtm AND NOW()   <![CDATA[<]]>    accs_end_dtm then '접수중'
										when NOW()   <![CDATA[>]]>   accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt   <![CDATA[>=]]>   fxnum_cnt) then '접수마감'
									END  AS accs_status_nm
									, case
										when NOW()   <![CDATA[<]]>   accs_strt_dtm then '2' /*접수대기*/
										when NOW()   <![CDATA[>]]>   accs_strt_dtm AND NOW()  <![CDATA[<]]>    accs_end_dtm then '1' /*접수중*/
										when NOW()   <![CDATA[>]]>   accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt   <![CDATA[>=]]>   fxnum_cnt) then '3' /*접수마감*/
									END  AS accs_status_order
									, place_seq
						           , rcrmt_mthd_cd
						           , rcrmt_mthd_cd_nm
									, @rownum:=@rownum+1
									FROM (select
												b.edctn_seq
												, b.episd_year
												, b.episd_ord
												, b.episd_seq
												, b.accs_strt_dtm
												, b.accs_end_dtm
												, b.edctn_strt_dtm
												, b.edctn_end_dtm
												, (SELECT count(mem_seq) FROM ep_edctn_ptcpt_mst WHERE edctn_seq = b.edctn_seq AND episd_year = b.episd_year AND episd_ord = b.episd_ord AND stts_cd = 'EDU_STTS_CD01') AS accs_cnt
												, b.fxnum_cnt
												, b.fxnum_impsb_yn
												, place_seq
												, b.rcrmt_mthd_cd
												, (select cd_nm from co_code_mst where cd=b.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
											from ed_edctn_episd_mst b
									) bb, (SELECT @rownum:=0) TMP

						ORDER BY accs_status_order asc, accs_strt_dtm ASC) bbb
						GROUP BY edctn_seq

		) bb ON a.edctn_seq = bb.edctn_seq

		<include refid="selectFrontEpisdListwhereSql" />

		<if test="siteGubun == 'front'.toString() ">

			<choose>
				<when test="srchOrder == 1">
					<!-- 신청 마감순-->
					ORDER BY accs_status_order ASC, accs_order_day asc
				</when>
				<when test="srchOrder == 2">
					<!-- 교육일자순 -->
					ORDER BY edctn_strt_dtm asc
				</when>
				<when test="srchOrder == 3">
					<!--학습시간 짧은순-->
					ORDER BY stduy_dd_cd_nm asc
				</when>
				<when test="srchOrder == 4">
					<!--학습시간 긴순-->
					ORDER BY stduy_dd_cd_nm desc
				</when>
				<otherwise>
					<!-- 신청 마감순-->
					ORDER BY accs_status_order ASC, accs_order_day asc
				</otherwise>
			</choose>
		</if>

		limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<!--
		쿼리명 : EBBFrontEpisdMapper.selectFrontCouseListCnt
		설  명 : 교육신청 과정목록을 조회한다.(카운트)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.22    김학규       최초생성
    -->
	<select id="selectFrontCouseListCnt" parameterType="EBBEpisdDTO" resultType="java.lang.Integer">

		SELECT /*EBBFrontEpisdMapper.selectFrontCouseListCnt*/
			count(*)
		FROM ed_edctn_prcs_mst a
		LEFT JOIN (
			SELECT

				bbb.*

				FROM (SELECT
				edctn_seq
				, episd_year
				, episd_ord
				, episd_seq
				, accs_strt_dtm
				, accs_end_dtm
				, edctn_strt_dtm
				, edctn_end_dtm
				, fxnum_cnt
				, fxnum_impsb_yn
				, case
				when NOW()   <![CDATA[<]]>  accs_strt_dtm then '접수대기'
				when NOW()   <![CDATA[>]]>   accs_strt_dtm AND NOW()   <![CDATA[<]]>    accs_end_dtm then '접수중'
				when NOW()   <![CDATA[>]]>   accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt   <![CDATA[>=]]>   fxnum_cnt) then '접수마감'
				END  AS accs_status_nm
				, case
				when NOW()   <![CDATA[<]]>   accs_strt_dtm then '2'
				when NOW()   <![CDATA[>]]>   accs_strt_dtm AND NOW()  <![CDATA[<]]>    accs_end_dtm then '1'
				when NOW()   <![CDATA[>]]>   accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt   <![CDATA[>=]]>   fxnum_cnt) then '3'
				END  AS accs_status_order
				, place_seq
				, place_nm
				, web_path
				, @rownum:=@rownum+1
				FROM (select
				b.edctn_seq
				, b.episd_year
				, b.episd_ord
				, b.episd_seq
				, b.accs_strt_dtm
				, b.accs_end_dtm
				, b.edctn_strt_dtm
				, b.edctn_end_dtm
				, (SELECT count(mem_seq) FROM ep_edctn_ptcpt_mst WHERE edctn_seq = b.edctn_seq AND episd_year = b.episd_year AND episd_ord = b.episd_ord AND stts_cd = 'EDU_STTS_CD01') AS accs_cnt
				, b.fxnum_cnt
				, b.fxnum_impsb_yn
				, place_seq
				, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = b.place_seq) as place_nm
				, (SELECT web_path FROM co_file_dtl WHERE file_seq = 1 AND file_ord = 0) AS web_path
			from ed_edctn_episd_mst b
			) bb, (SELECT @rownum:=0) TMP

			ORDER BY accs_status_order asc, accs_strt_dtm ASC) bbb
			GROUP BY edctn_seq
		) bb ON a.edctn_seq = bb.edctn_seq


		<include refid="selectFrontEpisdListwhereSql" />
	</select>

	<!--
		쿼리명 : selectFrontEpisdListwhereSql
		설  명 : 교육신청 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    김학규       최초생성
    -->
	<sql id="selectFrontEpisdListwhereSql">
		<where>

			AND NOW()  <![CDATA[<]]>  edctn_strt_dtm

			<!--과정분류 검색 중분류까지 있을경우-->
			<if test="ctgryCd != null and ctgryCd !='' ">
				AND a.ctgry_cd = #{ctgryCd}
			</if>

			<!--과정분류 검색 - 대분류만 선택 했을경우-->
			<if test="prntCd !=null and prntCd !='' and (ctgryCd == null or ctgryCd =='') ">
				AND LEFT(a.ctgry_cd, 7) like concat('%', #{prntCd}, '%')
			</if>


			<!-- 학습방식 -->
			<if test="stduyMthdCdList != null and stduyMthdCdList.size() > 0">
				and (
				<foreach collection="stduyMthdCdList" item="stduyMthdCdList" index="index" open="" close="" separator=" or ">
					stduy_mthd_cd = #{stduyMthdCdList}
				</foreach>
				)
			</if>
			<!-- 접수상태 -->
			<if test="accsStatusOrderList != null and accsStatusOrderList.size() > 0">
				and (
				<foreach collection="accsStatusOrderList" item="accsStatusOrderList" index="index" open="" close="" separator=" or ">
					accs_status_order = #{accsStatusOrderList}
				</foreach>
				)

			</if>
			<!-- 키워드 -->
			<if test="q != null and q !='' ">
				and (nm like concat('%', #{q}, '%')) or (place_nm like concat('%', #{q}, '%'))
			</if>


			<!-- 기간검색 -->

		</where>
	</sql>


	<!--
		쿼리명 : EBBFrontEpisdMapper.selectCouseTrgtList
		설  명 : 교육과정의 대상 상세 목록 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.27    김학규       최초생성
    -->
	<select id="selectCouseTrgtList" parameterType="EBACouseDTO" resultType="EBACouseDTO">
		SELECT /* EBBFrontEpisdMapper.selectCouseTrgtList */
			a.cd_id
			 , a.cd as prnt_target_cd
			 , a.cd_nm as prnt_target_cd_nm
			 , ifnull(case when a.cd = b.target_cd then b.target_nm end, '없음') as target_cd_nm
		from co_code_mst a
				 LEFT JOIN(
			SELECT
				edctn_seq
				 , CD
				 , LEFT(CD, 11) AS target_cd
				 , GROUP_CONCAT((select cd_nm from co_code_mst where cd=a.cd) SEPARATOR ', ') AS target_nm
			FROM ed_edctn_trgt_dtl a
			WHERE edctn_seq = #{detailsKey}
			GROUP BY target_cd
		) B ON A.CD = LEFT(B.CD, 11) AND edctn_seq = #{detailsKey}
		WHERE 1=1
		  AND A.CD_ID = 'ED_TARGET'
		  AND A.DPTH = 2

	</select>



</mapper>


