<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.eb.EBBFrontEpisdMapper">
	<!--
		쿼리명 : EBBEpisdMapper.selectFrontCouseList
		설  명 : 교육신청 과정목록을 조회한다.
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.22    김학규       최초생성
    -->
	<select id="selectFrontCouseList" parameterType="EBBEpisdDTO" resultType="EBBEpisdDTO">
		SELECT /*EBBEpisdMapper.selectFrontCouseList*/
			edctn_seq
			, episd_seq
			, episd_year
			, episd_ord
			, DATEDIFF(accs_end_dtm, NOW()) AS accs_order_day
			, (select cd_nm from co_code_mst WHERE cd_seq = aa.parnt_seq) AS prnt_cd_nm
			, nm
			, ctgry_cd_nm
			, accs_strt_dtm
			, accs_end_dtm
			, stduy_mthd_cd_nm
			, case
				when NOW()  <![CDATA[<]]> accs_strt_dtm then '접수대기'
				when NOW()  <![CDATA[>]]>  accs_strt_dtm AND NOW()  <![CDATA[<]]>   accs_end_dtm then '접수중'
				when NOW()  <![CDATA[>]]>  accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt  <![CDATA[>=]]>  fxnum_cnt) then '접수마감'
			END  AS accs_status_nm
			, case
				when NOW()  <![CDATA[<]]>  accs_strt_dtm then '2'
				when NOW()  <![CDATA[>]]>  accs_strt_dtm AND NOW()  <![CDATA[<]]>   accs_end_dtm then '1'
				when NOW()  <![CDATA[>]]>  accs_end_dtm OR (fxnum_impsb_yn = 'N' AND accs_cnt  <![CDATA[>=]]>  fxnum_cnt) then '3'
			END  AS accs_status_order
			, edctn_strt_dtm
			, edctn_end_dtm
			, case when edctn_stts_cd = 'EDCTN_STTS_CD01' then /*개강일 경우*/
					case when NOW()  <![CDATA[<]]>  edctn_strt_dtm then '교육대기'
							when NOW()  <![CDATA[>]]>  edctn_strt_dtm AND NOW()  <![CDATA[<]]>  edctn_end_dtm then '교육중'
							when NOW()  <![CDATA[>]]>  edctn_end_dtm then '교육마감'
					END
					when edctn_stts_cd = 'EDCTN_STTS_CD02' then '교육취소'  /*폐강일 경우*/
			END  AS edctn_status_nm
			, stduy_dd_cd_nm
			, stduy_time_cd_nm
			, rcrmt_mthd_cd_nm
			, fxnum_cnt
			, fxnum_impsb_yn
			, place_nm
			, (SELECT web_path FROM co_file_dtl WHERE file_seq = AA.thnl_file_seq AND file_ord = 0) as web_path
		FROM (
			SELECT
			b.edctn_seq
			, a.episd_seq
			, a.episd_year
			, a.episd_ord
			, (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
			, b.ctgry_cd
			, (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
			, b.nm
			, b.stduy_mthd_cd
			, (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
			, (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
			, (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
			, a.accs_strt_dtm
			, a.accs_end_dtm
			, a.edctn_strt_dtm
			, a.edctn_end_dtm
			, a.edctn_stts_cd
			, a.fxnum_cnt
			, a.fxnum_impsb_yn
			, (SELECT count(mem_seq) FROM ep_edctn_ptcpt_mst WHERE edctn_seq = a.edctn_seq AND episd_year = a.episd_year AND episd_ord = a.episd_ord AND stts_cd = 'EDU_STTS_CD01') AS accs_cnt
			, (select cd_nm from co_code_mst where cd=a.rcrmt_mthd_cd) as rcrmt_mthd_cd_nm
			, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
			, b.thnl_file_seq
			, a.reg_dtm
		FROM ed_edctn_episd_mst a
		LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq
		) AA

		<include refid="selectFrontEpisdListwhereSql" />

		<if test="siteGubun == 'front'.toString() ">
			<choose>
				<when test="srchOrder == 1">
					<!-- 신청 마감순-->
					ORDER BY accs_status_order ASC, accs_order_day asc
				</when>
				<when test="srchOrder == 2">
					<!-- 교육일자순 -->
					ORDER BY edctn_strt_dtm asc
				</when>
				<when test="srchOrder == 3">
					<!--학습시간 짧은순-->
					ORDER BY stduy_dd_cd_nm asc
				</when>
				<when test="srchOrder == 4">
					<!--학습시간 긴순-->
					ORDER BY stduy_dd_cd_nm desc
				</when>
				<otherwise>
					<!-- 신청 마감순-->
					ORDER BY accs_status_order ASC, accs_order_day asc
				</otherwise>
			</choose>
		</if>

		limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<!--
		쿼리명 : EBBFrontEpisdMapper.selectFrontCouseListCnt
		설  명 : 교육신청 과정목록을 조회한다.(카운트)
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.12.22    김학규       최초생성
    -->
	<select id="selectFrontCouseListCnt" parameterType="EBBEpisdDTO" resultType="java.lang.Integer">

		SELECT /*EBBEpisdMapper.selectFrontCouseListCnt*/
			count(*) as cnt
		FROM (
			SELECT
				b.edctn_seq
				, a.episd_seq
				, a.episd_year
				, a.episd_ord
				, (select parnt_seq from co_code_mst WHERE cd = b.ctgry_cd) as parnt_seq
				, b.ctgry_cd
				, (select cd_nm from co_code_mst WHERE cd = b.ctgry_cd) as ctgry_cd_nm
				, b.nm
				, b.stduy_mthd_cd
				, (select cd_nm from co_code_mst where cd=b.stduy_mthd_cd) as stduy_mthd_cd_nm
				, (select cd_nm from co_code_mst where cd=b.stduy_dd_cd) as stduy_dd_cd_nm
				, (select cd_nm from co_code_mst where cd=b.stduy_time_cd) as stduy_time_cd_nm
				, a.accs_strt_dtm
				, a.accs_end_dtm
				, a.edctn_strt_dtm
				, a.edctn_end_dtm
				, a.edctn_stts_cd
				, a.fxnum_cnt
				, a.fxnum_impsb_yn
				, (SELECT count(mem_seq) FROM ep_edctn_ptcpt_mst WHERE edctn_seq = a.edctn_seq AND episd_year = a.episd_year AND episd_ord = a.episd_ord AND stts_cd = 'EDU_STTS_CD01') AS accs_cnt
				, a.rcrmt_mthd_cd
				, (SELECT NM FROM ed_edctn_place_mst WHERE PLACE_SEQ = A.place_seq) as place_nm
				, a.reg_dtm
			FROM ed_edctn_episd_mst a
			LEFT JOIN ed_edctn_prcs_mst b ON a.edctn_seq = b.edctn_seq
		) AA

		<include refid="selectFrontEpisdListwhereSql" />

	</select>

	<!--
		쿼리명 : selectFrontEpisdListwhereSql
		설  명 : 교육신청 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.15    김학규       최초생성
    -->
	<sql id="selectFrontEpisdListwhereSql">
		<where>

			AND NOW()  <![CDATA[<]]>  edctn_strt_dtm

		</where>
	</sql>



</mapper>


