<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.eb.EBEExamMapper">
	<!--
		쿼리명 : EXGExamMapper.selectExamList
		설  명 : 목록 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="selectExamList" parameterType="EXGExamMstSearchDTO" resultType="EXGExamMstSearchDTO">
		select /* EXGExamMapper.selectExamList */
		      exam_seq
			, titl
			, exps_yn
			, reg_id
		    , (select name from co_adm_mst where id = a.reg_id ) reg_name
			, reg_dtm
			, mod_id
			, (select name from co_adm_mst where id = a.mod_id ) mod_name
			, mod_dtm
		from
			ex_exam_mst a
		<include refid="selectExamListWhereSql" />
		order by
			reg_dtm desc
		limit #{firstIndex}, #{recordCountPerPage}
	</select>
	<!--
		쿼리명 : EXGExamMapper.getExamListCnt
		설  명 : 목록 전체 갯수
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="getExamListCnt" parameterType="EXGExamMstSearchDTO" resultType="java.lang.Integer">
		select /* EXGExamMapper.getAdmListCnt */
			count(*)
		from
			ex_exam_mst a
		<include refid="selectExamListWhereSql" />
	</select>
	<!--
		쿼리명 : selectExamListWhereSql
		설  명 : 목록 조건
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2019.07.08    김학규       최초생성
    -->
	<sql id="selectExamListWhereSql">
		<where>
			<if test="strtDt != null and strtDt != ''.toString() ">
				<choose>
					<when test="srchDate == 1">
						AND reg_dtm <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
					</when>
					<when test="srchDate == 2">
						AND mod_dtm <![CDATA[ > ]]> str_to_date(#{strtDt}, '%Y-%m-%d')
					</when>
				</choose>
			</if>
			<if test="endDt != null and endDt != ''.toString() ">
				<choose>
					<when test="srchDate == 1">
						AND reg_dtm <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
					</when>
					<when test="srchDate == 2">
						AND mod_dtm <![CDATA[ < ]]> date_add(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
					</when>
				</choose>
			</if>
			<if test="expsYnList != null and expsYnList.size() > 0">
				and
				<foreach collection="expsYnList" item="expsYnList" index="index" open="(" close=")" separator=" or ">
					exps_yn = #{expsYnList}
				</foreach>
			</if>
			<if test="q != null and q != ''.toString() ">
				<choose>
					<when test="f == 1">
						and titl like concat('%', #{q}, '%')
					</when>
					<when test="f == 2">
						and name like concat('%', #{q}, '%')
					</when>
					<when test="f == 3 ">
						and exists(select id from co_adm_mst where id = a.reg_id and (name like concat('%', #{q}, '%') or id like concat('%', #{q}, '%')))
					</when>
					<when test="f == 4 ">
						and exists(select id from co_adm_mst where id = a.mod_id and (name like concat('%', #{q}, '%') or id like concat('%', #{q}, '%')))
					</when>
					<otherwise>
						and (
							titl like concat('%', #{q}, '%')
							or exists(select id from co_adm_mst where id = a.reg_id and (name like concat('%', #{q}, '%') or id like concat('%', #{q}, '%')))
							or exists(select id from co_adm_mst where id = a.mod_id and (name like concat('%', #{q}, '%') or id like concat('%', #{q}, '%')))
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>
	<!--
         쿼리명 : EXGExamMapper.deleteExamMst
         설  명 : 목록 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.10   김학규       최초생성
    -->
	<delete id="deleteExamMst" parameterType="EXGExamMstSearchDTO">
		delete /* EXGExamMapper.deleteExamMst */
		from
		ex_exam_mst
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					exam_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					exam_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</delete>
	<!--
         쿼리명 : EXGExamMapper.deleteExamQstnDtl
         설  명 : 질문 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.10   김학규       최초생성
    -->
	<delete id="deleteExamQstnDtl" parameterType="EXGExamQstnDtlDTO">
		delete /* EXGExamMapper.deleteExamQstnDtl */
		from
		ex_exam_qstn_dtl
		where
		<choose>
			<when test="delValueList != null and delValueList.size() > 0">
				exam_seq in
				<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
					#{delValueList}
				</foreach>
			</when>
			<otherwise>
				exam_seq = #{detailsKey}
			</otherwise>
		</choose>
		<if test="qstnSeq != null ">
			and qstn_seq = #{qstnSeq}
		</if>
	</delete>
	<!--
         쿼리명 : EXGExamMapper.deleteExamExmplDtl
         설  명 : 보기 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.10   김학규       최초생성
    -->
	<delete id="deleteExamExmplDtl" parameterType="EXGExamExmplDtlDTO">
		delete /* EXGExamMapper.deleteExamExmplDtl */
		from
		ex_exam_exmpl_dtl
		where
		<choose>
			<when test="delValueList != null and delValueList.size() > 0">
				exam_seq in
				<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
					#{delValueList}
				</foreach>
			</when>
			<otherwise>
				exam_seq = #{detailsKey}
			</otherwise>
		</choose>
		<if test="qstnSeq != null ">
			and qstn_seq = #{qstnSeq}
		</if>
		<if test="exmplSeq != null ">
			and exmpl_seq = #{exmplSeq}
		</if>
	</delete>

	<!--
		쿼리명 : EXGExamMapper.getExamEdctnEpisdCnt
		설  명 : 평가지 교육 매핑 여부
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="getExamEdctnEpisdCnt" parameterType="EXGExamMstSearchDTO" resultType="java.lang.Integer">
		select /* EXGExamMapper.getExamEdctnEpisdCnt */
			count(*) recp_cnt
		from ex_exam_mst exam_mst join ed_edctn_episd_mst episd_mst
		on episd_mst.exam_seq = exam_mst.exam_seq
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					exam_mst.exam_seq in
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
				</when>
				<otherwise>
					exam_mst.exam_seq = #{detailsKey}
				</otherwise>
			</choose>
		</where>
	</select>

	<!--
         쿼리명 : EXGExamMapper.insertExamMst
         설  명 : 교육 시험 마스터 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamMst" parameterType="EXGExamMstInsertDTO">
		insert /* EXGExamMapper.insertExamMst */ into ex_exam_mst
		(
			  exam_seq
			, titl
			, smmry_cntn
			, exps_yn
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
			(
			  #{examSeq}
			, #{titl}
			, #{smmryCntn}
			, #{expsYn}
			, #{regId}
			, #{regIp}
			, now()
			, #{regId}
			, #{regIp}
			, now()
			)
	</insert>

	<!--
         쿼리명 : EXGExamMapper.insertExamQstnDtl
         설  명 : 교육 시험 질문 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamQstnDtl" parameterType="EXGExamMstInsertDTO">
		insert /* EXGExamMapper.insertExamQstnDtl */ into ex_exam_qstn_dtl
		(
			  exam_seq
			, qstn_seq
			, srv_type_cd
			, qstn_nm
			, qstn_ord
			, scord
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		<foreach collection="exExamQstnDtlList" item="list" index="index" separator=" , " open="" close=";">
			(
			  #{list.examSeq}
			, #{list.qstnSeq}
			, #{list.srvTypeCd}
			, #{list.qstnNm}
			, #{list.qstnOrd}
			, #{list.scord}
			, #{list.regId}
			, #{list.regIp}
			, now()
			, #{list.regId}
			, #{list.regIp}
			, now()
			)
		</foreach>
	</insert>

	<!--
         쿼리명 : EXGExamMapper.insertExamExmplDtl
         설  명 : 교육 시험 보기 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamExmplDtl" parameterType="EXGExamQstnDtlDTO">
		insert /* EXGExamMapper.insertExamExmplDtl */ into ex_exam_exmpl_dtl
		(
			  exam_seq
			, qstn_seq
			, exmpl_seq
			, exmpl_nm
			, exmpl_ord
			, cansw_yn
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		<foreach collection="exExamExmplDtlList" item="list" index="index" separator=" , " open="" close=";">
			(
			  #{list.examSeq}
			, #{list.qstnSeq}
			, #{list.exmplSeq}
			, #{list.exmplNm}
			, #{list.exmplOrd}
			, #{list.canswYn}
			, #{list.regId}
			, #{list.regIp}
			, now()
			, #{list.regId}
			, #{list.regIp}
			, now()
			)
		</foreach>
	</insert>

	<!--
		쿼리명 : EXGExamMapper.selectExamDtl
		설  명 : 교육 시험 마스터 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="selectExamDtl" parameterType="EXGExamMstSearchDTO" resultType="EXGExamMstInsertDTO">
		select /* EXGExamMapper.selectExamDtl */
			 exam_seq
			,titl
			,smmry_cntn
			,exps_yn
			,reg_id
			,reg_dtm
			,mod_id
			,mod_dtm
		from ex_exam_mst
		where exam_seq = #{detailsKey}
	</select>

	<!--
		쿼리명 : EXGExamMapper.getExamQstnDtlList
		설  명 : 교육 시험 질문 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="getExamQstnDtlList" parameterType="EXGExamMstSearchDTO" resultType="EXGExamQstnDtlDTO">
		select /* EXGExamMapper.getExamQstnDtlList */
			  exam_seq
			 ,qstn_seq
			 ,srv_type_cd
			 ,qstn_nm
			 ,qstn_ord
			 ,scord
			 ,reg_id
			 ,reg_dtm
			 ,mod_id
			 ,mod_dtm
		from ex_exam_qstn_dtl
		where exam_seq = #{detailsKey}
		order by qstn_ord asc
	</select>

	<!--
		쿼리명 : EXGExamMapper.getExamExmplDtlList
		설  명 : 교육 시험 마스터 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="getExamExmplDtlList" parameterType="EXGExamMstSearchDTO" resultType="EXGExamExmplDtlDTO">
		select /* EXGExamMapper.getExamExmplDtlList */
			  a.exam_seq
			 ,a.qstn_seq
			 ,a.exmpl_seq
			 ,a.exmpl_nm
			 ,a.exmpl_ord
			 ,a.cansw_yn
			 ,a.reg_id
			 ,a.reg_dtm
			 ,a.mod_id
			 ,a.mod_dtm
			<if test="canswYn != null and canswYn != ''.toString() ">
			 ,(select scord from ex_exam_qstn_dtl where qstn_seq = a.qstn_seq) qstn_scord
			</if>
		from ex_exam_exmpl_dtl a
		where a.exam_seq = #{detailsKey}
		<if test="canswYn != null and canswYn != ''.toString() ">
			and a.cansw_yn = #{canswYn}
		</if>
		order by a.qstn_seq asc, a.exmpl_ord asc
	</select>

	<!--
		쿼리명 : EXGExamMapper.getExamQstnCanswList
		설  명 : 교육 시험 문항(보기답변) 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="getExamQstnCanswList" parameterType="EXGExamMstSearchDTO" resultType="EXGExamQstnDtlDTO">
		select /* EXGExamMapper.getExamQstnCanswList */
		 a.exam_seq
		,a.qstn_seq
		,a.scord
		,(select group_concat(exmpl_seq SEPARATOR ',') FROM ex_exam_exmpl_dtl where cansw_yn = 'Y' and qstn_seq = a.qstn_seq) exmpl_cansw
		from ex_exam_qstn_dtl a
		where a.exam_seq = #{detailsKey} AND (a.srv_type_cd = 'EXG_A' OR a.srv_type_cd = 'EXG_B')
		order by a.qstn_seq asc
	</select>

	<!--
		쿼리명 : EXGExamMapper.updateExamMstExpnYn
		설  명 : 교육에 매핑된 평가지는 사용여부만 수정
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<update id="updateExamMstExpnYn" parameterType="EXGExamMstInsertDTO">
		update /* EXGExamMapper.updateExamMstExpnYn */ ex_exam_mst
			set
			    exps_yn = #{expsYn}
				, mod_id = #{modId}
			    , mod_ip = #{modIp}
			    , mod_dtm = now()
		where
			exam_seq = #{detailsKey}
	</update>

	<!--
		쿼리명 : EXGExamMapper.updateExamMst
		설  명 : 평가지 수정
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<update id="updateExamMst" parameterType="EXGExamMstInsertDTO">
		update /* EXGExamMapper.updateExamMst */ ex_exam_mst
		set
			 exps_yn = #{expsYn}
		    ,titl = #{titl}
		    ,smmry_cntn = #{smmryCntn}
		    ,mod_id = #{modId}
		    ,mod_ip = #{modIp}
		    ,mod_dtm = now()
		where
			exam_seq = #{detailsKey}
	</update>

	<!--
         쿼리명 : EXGExamMapper.updateExamQstnDtlSequence
         설  명 : 교육 시험 질문 시퀀스 변경(For문을 돌려야해서 한번에 업데이트)
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<update id="updateSequenceGgn" parameterType="COEgovSeqDTO">
		update /* EXGExamMapper.updateExamQstnDtlSequence */ co_seq_mst
		set
			NEXT_ID = #{netxId}
		where
			TABLE_NAME = #{tableName}
	</update>

	<!--
		쿼리명 : EXGExamMapper.selectUserExamDtl
		설  명 : 사용자 평가지 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.09    김학규       최초생성
    -->
	<select id="selectUserExamDtl" parameterType="EXGExamMstSearchDTO" resultType="EXGExamEdctnPtcptMst">
		select /* EXGExamMapper.selectUserExamDtl */
			ptcpt_mst.ptcpt_seq
			 , ptcpt_mst.edctn_seq
			 , ptcpt_mst.episd_year
			 , ptcpt_mst.episd_ord
			 , ptcpt_mst.mem_seq
			 , episd_mst.exam_seq
			 , prcs_mst.nm
			 , episd_mst.cbsn_cd
			 , (select code_mst.cd_nm from co_code_mst code_mst where code_mst.cd = episd_mst.cbsn_cd and code_mst.cd_id = 'CBSN_CD') cbsn_cd_nm
			 , prcs_mst.ctgry_cd
			 , (select GROUP_CONCAT(cd_nm SEPARATOR ' > ') FROM co_code_mst WHERE lft_val <![CDATA[<=]]> (SELECT lft_val FROM co_code_mst WHERE cd = prcs_mst.ctgry_cd) AND rht_val <![CDATA[>=]]> (SELECT rht_val FROM co_code_mst WHERE cd = prcs_mst.ctgry_cd) AND dpth <![CDATA[<]]> 4 AND dpth> 1) ctgry_cd_nm
			 , (select GROUP_CONCAT(name SEPARATOR ', ') FROM cp_isttr_mst WHERE exists( SELECT isttr_seq FROM ed_edctn_isttr_rel WHERE edctn_seq=episd_mst.edctn_seq AND episd_year=episd_mst.episd_year AND episd_ord=episd_mst.episd_ord)) isttr_nm
			 , (select count(*) from ex_exam_qstn_dtl WHERE exam_seq = episd_mst.exam_seq) qstn_cnt
			 , (select count(*) from ep_edctn_exam_ptcpt_mst WHERE ptcpt_seq = ptcpt_mst.ptcpt_seq AND exam_seq = episd_mst.exam_seq) ptcpt_cnt
			 , (SELECT smmry_cntn FROM ex_exam_mst WHERE exam_seq = episd_mst.exam_seq) smmry_cntn
		FROM ep_edctn_ptcpt_mst ptcpt_mst JOIN ed_edctn_episd_mst episd_mst
											   ON episd_mst.edctn_seq = ptcpt_mst.edctn_seq AND episd_mst.episd_year = ptcpt_mst.episd_year AND episd_mst.episd_ord = ptcpt_mst.episd_ord
										  JOIN ed_edctn_prcs_mst prcs_mst ON prcs_mst.edctn_seq = ptcpt_mst.edctn_seq
		WHERE ptcpt_mst.ptcpt_seq = #{ptcptSeq} AND ptcpt_mst.mem_seq = #{memSeq} and ptcpt_mst.stts_cd = 'R' AND prcs_mst.jdgmt_yn = 'Y'
		  AND NOW() between episd_mst.exam_strt_dtm and episd_mst.exam_end_dtm
	</select>

	<!--
         쿼리명 : EXGExamMapper.insertExamPtcptMst
         설  명 : 교육 시험 참여 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamPtcptMst" parameterType="EXGExamEdctnPtcptRspnMst">
		insert /* EXGExamMapper.insertExamMst */ into ep_edctn_exam_ptcpt_mst
		(
			  exam_ptcpt_seq
			, ptcpt_seq
			, exam_seq
			, mem_seq
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		(
			  #{examPtcptSeq}
			, #{ptcptSeq}
			, #{examSeq}
			, #{memSeq}
			, #{regId}
			, #{regIp}
			, now()
			, #{regId}
			, #{regIp}
			, now()
		)
	</insert>

	<!--
         쿼리명 : EXGExamMapper.insertExamPtcptSbjctRspnDtl
         설  명 : 교육 시험 주관식 답변 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamPtcptSbjctRspnDtl" parameterType="EXGExamEdctnPtcptRspnMst">
		insert /* EXGExamMapper.insertExamPtcptSbjctRspnDtl */ into ep_edctn_sbjct_rspn_dtl
		(
			  exam_ptcpt_seq
			, ptcpt_seq
			, exam_seq
			, qstn_seq
			, sbjct_rply
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		<foreach collection="sbjctList" item="list" index="index" separator=" , " open="" close=";">
			(
			  #{examPtcptSeq}
			, #{ptcptSeq}
			, #{examSeq}
			, #{list.qstnSeq}
			, #{list.sbjctRply}
			, #{regId}
			, #{regIp}
			, now()
			, #{regId}
			, #{regIp}
			, now()
			)
		</foreach>
	</insert>

	<!--
         쿼리명 : EXGExamMapper.insertExamPtcptMtlccRspnDtl
         설  명 : 교육 시험 객관식 답변 등록
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<insert id="insertExamPtcptMtlccRspnDtl" parameterType="EXGExamEdctnPtcptRspnMst">
		insert /* EXGExamMapper.insertExamPtcptMtlccRspnDtl */ into ep_edctn_mtlcc_rspn_dtl
		(
			 exam_ptcpt_seq
			, ptcpt_seq
			, exam_seq
			, qstn_seq
			, exmpl_seq
			, cansw_yn
			, reg_id
			, reg_ip
			, reg_dtm
			, mod_id
			, mod_ip
			, mod_dtm
		)
		values
		<foreach collection="mtlccList" item="list" index="index" separator=" , " open="" close=";">
		(
			  #{examPtcptSeq}
			, #{ptcptSeq}
			, #{examSeq}
			, #{list.qstnSeq}
			, #{list.exmplSeq}
			, #{list.canswYn}
			, #{regId}
			, #{regIp}
			, now()
			, #{regId}
			, #{regIp}
			, now()
		)
		</foreach>
	</insert>

	<!--
         쿼리명 : EXGExamMapper.updateEdctnPtcptScord
         설  명 : 교육 참여 점수 변경
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.09    김학규       최초생성
    -->
	<update id="updateEdctnPtcptScord" parameterType="EXGExamEdctnPtcptRspnMst">
		update /* EXGExamMapper.updateEdctnPtcptScord */ ep_edctn_ptcpt_mst
		set
			exam_score = #{examScore}
		where
			ptcpt_seq = #{ptcptSeq}
	</update>

</mapper>


