<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.wb.wbd.WBDASafetyListMapper">

    <!--
         쿼리명 : WBDASafetyListMapper.selectCarbonList
         설  명 : 게시판 리스트
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectCarbonList" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBDASafetyListMapper.selectCarbonList */ *
        FROM (
            SELECT
            EPISD_SEQ
            ,BSN_CD
            ,YEAR
            ,EPISD
            ,ACCS_STRT_DTM
            ,ACCS_END_DTM
            ,BSN_STRT_DTM
            ,BSN_END_DTM
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
            ELSE '사업종료'
            END AS DATE_STATE
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
            ELSE 'STATE05'
            END AS DATE_STATE_CD
            , CASE WHEN NOW() <![CDATA[< ]]>  ACCS_STRT_DTM THEN 2
            WHEN NOW()   <![CDATA[ >= ]]>  ACCS_STRT_DTM AND NOW()   <![CDATA[ < ]]>  ACCS_END_DTM THEN 1
            ELSE 3
            END AS DATE_ORD
            , CASE WHEN NOW() <![CDATA[< ]]> ACCS_STRT_DTM THEN '접수대기'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            ELSE '마감'
            END AS ACCT_STATUS
            , CASE WHEN NOW() <![CDATA[< ]]> ACCS_STRT_DTM THEN '2'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '1'
            ELSE '3'
            END AS STATUS_ORD
            ,DATEDIFF(ACCS_END_DTM,NOW()) AS D_DAY
            ,EXPS_YN
            ,REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            ,REG_DTM
            ,MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            ,MOD_DTM
            FROM CX_EPISD_MST A
        ) A
        <include refid="selectCarbonListwhereSql" />
        <if test='siteGubun != "front"'>
            ORDER BY A.REG_DTM DESC
        </if>
        <if test='siteGubun != "admin"'>
            ORDER BY STATUS_ORD,
            CASE WHEN STATUS_ORD = 1 THEN ACCS_END_DTM
            WHEN STATUS_ORD = 2 THEN ACCS_STRT_DTM
            WHEN STATUS_ORD = 3 THEN
            CASE WHEN BSN_END_DTM IS NULL THEN ACCS_END_DTM ELSE BSN_END_DTM END
            END DESC
        </if>
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : WBDASafetyListMapper.getCarbonListTotCnt
         설  명 : 게시판 총 갯수
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="getCarbonListTotCnt" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBDASafetyListMapper.getCarbonListTotCnt*/ COUNT(*)
        FROM (
            SELECT
            EPISD_SEQ
            ,BSN_CD
            ,YEAR
            ,EPISD
            ,ACCS_STRT_DTM
            ,ACCS_END_DTM
            ,BSN_STRT_DTM
            ,BSN_END_DTM
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
            ELSE '사업종료'
            END AS DATE_STATE
            , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 'STATE01'
            WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 'STATE02'
            WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN 'STATE03'
            WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN 'STATE04'
            ELSE 'STATE05'
            END AS DATE_STATE_CD
            ,EXPS_YN
            ,REG_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
            ,REG_DTM
            ,MOD_ID
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
            ,MOD_DTM
            FROM CX_EPISD_MST A
        ) A
        <include refid="selectCarbonListwhereSql" />
    </select>


    <!--
         쿼리명 : WBDASafetyListMapper.selectGiveList
         설  명 : 지급 차수 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectGiveList" parameterType="wBRoundMstDTO" resultType="WBOrderMstDto">
        SELECT /* WBDASafetyListMapper.selectGiveList*/
            GIVE_SEQ
            ,EPISD_SEQ
            ,GIVE_ORD
            ,STRT_DT
            ,END_DT
        FROM CX_EPISD_GIVE_DTL
        WHERE EPISD_SEQ = #{detailsKey}
        ORDER BY GIVE_SEQ ASC

    </select>

    <!--
         쿼리명 : WBDASafetyListMapper.selectCarbonDtl
         설  명 : 회차 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectCarbonDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBDASafetyListMapper.selectCarbonDtl*/
            EPISD_SEQ
             ,BSN_CD
             ,YEAR
             ,EPISD
             ,ACCS_STRT_DTM
             ,ACCS_END_DTM
             ,BSN_STRT_DTM
             ,BSN_END_DTM
             , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN '접수전'
                WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN '접수중'
                WHEN NOW() <![CDATA[ > ]]> ACCS_END_DTM AND NOW() <![CDATA[ < ]]> BSN_STRT_DTM THEN '사업진행예정'
                WHEN NOW() <![CDATA[ >= ]]> BSN_STRT_DTM AND NOW() <![CDATA[ < ]]> BSN_END_DTM THEN '사업진행중'
                ELSE '사업종료'
            END AS DATE_STATE
             ,EXPS_YN
             ,REG_ID
             ,(SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
             ,REG_IP
             ,REG_DTM
             ,MOD_ID
             ,(SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
             ,MOD_IP
             ,MOD_DTM
        FROM CX_EPISD_MST A
        WHERE EPISD_SEQ = #{detailsKey}
    </select>

    <!--
		쿼리명 : selectCarbonListwhereSql
		설  명 : 게시판 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.08    김대성       최초생성
    -->
    <sql id="selectCarbonListwhereSql">
        <where>
            AND BSN_CD = 'BSN04'
            <if test="carbonDate != null and carbonDate != ''.toString() ">
                <choose>
                    <when test="carbonDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                                ACCS_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                ACCS_END_DTM BETWEEN STR_TO_DATE(#{endDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                                OR
                                STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN ACCS_STRT_DTM AND ACCS_END_DTM
                            )
                        </if>
                    </when>
                    <when test="carbonDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND
                            (
                                BSN_STRT_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                BSN_END_DTM BETWEEN STR_TO_DATE(#{strtDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                                OR
                                STR_TO_DATE(#{strtDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                                OR
                                STR_TO_DATE(#{endDt}, '%Y-%m-%d') BETWEEN BSN_STRT_DTM AND BSN_END_DTM
                            )
                        </if>
                    </when>
                    <when test="carbonDate == 3">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND REG_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND REG_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                    <when test="carbonDate == 4">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND MOD_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>

                </choose>
            </if>

            <if test="carbonCdList != null and carbonCdList.size() > 0">
                AND (
                <foreach collection="carbonCdList" item="carbonCdList" index="index" open="" close="" separator=" or ">
                    A.DATE_STATE_CD = #{carbonCdList}
                </foreach>
                )
            </if>
            <if test="expsYnList != null and expsYnList.size() > 0">
                AND (
                <foreach collection="expsYnList" item="expsYnList" index="index" open="" close="" separator=" or ">
                    EXPS_YN = #{expsYnList}
                </foreach>
                )
            </if>
            <if test="q != null and q != ''.toString() ">
                <choose>
                    <when test="f == 1">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <when test="f == 2">
                        AND EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                    </when>
                    <otherwise>
                        AND (
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.REG_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        OR
                        EXISTS (SELECT ID FROM CO_ADM_MST WHERE ID = A.MOD_ID AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%')))
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>



    <!--
     쿼리명 : WBDASafetyListMapper.insertCarbon
     설  명 : 회차 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <insert id="insertCarbon" parameterType="wBRoundMstDTO">
        INSERT /* WBDASafetyListMapper.insertCarbon */ INTO CX_EPISD_MST
        (
            EPISD_SEQ
        ,BSN_CD
        ,YEAR
        ,EPISD
        ,ACCS_STRT_DTM
        ,ACCS_END_DTM
        ,BSN_STRT_DTM
        ,BSN_END_DTM
        ,EXPS_YN
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
            VALUE
            (
            #{episdSeq}
            ,#{bsnCd}
            ,#{year}
            ,#{episd}
            ,#{accsStrtDtm}
            ,#{accsEndDtm}
            ,#{bsnStrtDtm}
            ,#{bsnEndDtm}
            ,#{expsYn}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </insert>

    <!--
     쿼리명 : WBDASafetyListMapper.insertGiveList
     설  명 : 지급차수 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <insert id="insertGiveList" parameterType="wBOrderMstDto">
        INSERT /* WBDASafetyListMapper.insertGiveList */ INTO CX_EPISD_GIVE_DTL
        (
            GIVE_SEQ
        ,EPISD_SEQ
        ,GIVE_ORD
        ,STRT_DT
        ,END_DT
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
            #{giveSeq}
            ,#{episdSeq}
            ,#{giveOrd}
            ,#{strtDt}
            ,#{endDt}
            ,#{regId}
            ,#{regIp}
            ,#{regDtm}
            )
    </insert>

    <!--
     쿼리명 : WBDASafetyListMapper.updateGiveList
     설  명 : 지급차수 수정
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <insert id="updateGiveList" parameterType="wBOrderMstDto">
        INSERT /* WBDASafetyListMapper.insertGiveList */ INTO CX_EPISD_GIVE_DTL
        (
            GIVE_SEQ
        ,EPISD_SEQ
        ,GIVE_ORD
        ,STRT_DT
        ,END_DT
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
                #{giveSeq}
            ,#{detailsKey}
            ,#{giveOrd}
            ,#{strtDt}
            ,#{endDt}
            ,#{regId}
            ,#{regIp}
            ,#{regDtm}
            )
    </insert>

    <!--
		쿼리명 : WBDASafetyListMapper.updateCarbon
		설  명 : 회차 수정
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.11.08  김대성     최초 생성
	-->
    <update id="updateCarbon" parameterType="wBRoundMstDTO">
        UPDATE CX_EPISD_MST SET /* WBDASafetyListMapper.updateCarbon  */
              YEAR = #{year}
              ,EPISD =  #{episd}
              ,ACCS_STRT_DTM = #{accsStrtDtm}
              ,ACCS_END_DTM = #{accsEndDtm}
              ,BSN_STRT_DTM = #{bsnStrtDtm}
              ,BSN_END_DTM = #{bsnEndDtm}
              ,EXPS_YN = #{expsYn}
              ,MOD_ID = #{modId}
              ,MOD_IP = #{modIp}
              ,MOD_DTM = NOW()
        WHERE EPISD_SEQ = #{detailsKey}
    </update>

    <!--
		쿼리명 : WBDASafetyListMapper.updateExpsYnCarbon
		설  명 : 중복 회차 수정
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.12.20  김대성     최초 생성
	-->
    <update id="updateExpsYnCarbon" parameterType="wBRoundMstDTO">
        UPDATE CX_EPISD_MST SET /* WBDASafetyListMapper.updateExpsYnCarbon  */
                EXPS_YN = #{expsYn}
                ,MOD_ID = #{modId}
                ,MOD_IP = #{modIp}
                ,MOD_DTM = NOW()
        WHERE EPISD_SEQ = #{detailsKey}
    </update>


    <!--
         쿼리명 : WBDASafetyListMapper.selectYearDtl
         설  명 : 연도 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectYearDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstDTO">
        SELECT /* WBDASafetyListMapper.selectYearDtl */
            MIN(YEAR) AS YEAR
        FROM CX_EPISD_MST
    </select>

    <!--
       쿼리명 : WBDASafetyListMapper.deleteGiveList
       설  명 : 지급 차수 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="deleteGiveList" parameterType="wBRoundMstDTO">
        DELETE /* WBDASafetyListMapper.deleteGiveList */
        FROM CX_EPISD_GIVE_DTL
        WHERE EPISD_SEQ = #{detailsKey}
    </delete>

    <!--
       쿼리명 : WBDASafetyListMapper.deleteCarbon
       설  명 : 회차 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="deleteCarbon" parameterType="wBRoundMstDTO">
        DELETE /* WBDASafetyListMapper.deleteCarbon */
        FROM CX_EPISD_MST
        WHERE EPISD_SEQ = #{detailsKey}
    </delete>

    <!--
         쿼리명 : WBDASafetyListMapper.getAppctnCnt
         설  명 : 매핑 정보 확인
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="getAppctnCnt" parameterType="WBRoundMstDTO" resultType="java.lang.Integer">
        SELECT /* WBDASafetyListMapper.getAppctnCnt*/ COUNT(*)
        FROM CX_APPCTN_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    EPISD_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    EPISD_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
       쿼리명 : WBDASafetyListMapper.carbonDeleteList
       설  명 : 회차 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonDeleteList" parameterType="wBRoundMstDTO">
        DELETE /* WBDASafetyListMapper.carbonDeleteList */
        FROM CX_EPISD_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    EPISD_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    EPISD_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : WBDASafetyListMapper.episdChk
         설  명 : 회차 중복 체크
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="episdChk" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CX_EPISD_MST
        WHERE BSN_CD = 'BSN04'
        AND YEAR = #{year}
        AND EPISD = #{episd}
        <if test="detailsKey != null and detailsKey != ''.toString() ">
            AND EPISD_SEQ != #{detailsKey}
        </if>
    </select>

    <!--
        쿼리명 : WBCASecurityListMapper.getRoundDtl
        설  명 : 최신 회차 상세 조회
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.11.24  김대성     최초 생성
   -->
    <select id="getRoundDtl" parameterType="wBRoundMstSearchDTO" resultType="wBRoundMstSearchDTO">
        SELECT /* WBCASecurityListMapper.getRoundDtl */ *
        FROM (
                 SELECT
                     EPISD_SEQ
                      ,BSN_CD
                      ,YEAR
                      ,EPISD
                      ,ACCS_STRT_DTM
                      ,ACCS_END_DTM
                      ,BSN_STRT_DTM
                      ,BSN_END_DTM
                      ,EXPS_YN
                      , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 2
                     WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ < ]]> ACCS_END_DTM THEN 1
                     ELSE 3
                     END AS DATE_ORD
                 FROM CX_EPISD_MST A
                 WHERE BSN_CD = #{bsnCd} AND EXPS_YN = 'Y'
             ) A
        WHERE DATE_ORD = 1
        ORDER BY ACCS_END_DTM, BSN_STRT_DTM ASC
            LIMIT 1
    </select>

    <!--
        쿼리명 : WBCASecurityListMapper.getApplyCount
        설  명 : 회차사업 참여 카운트
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.11.24  김대성     최초 생성
   -->
    <select id="getApplyCount" parameterType="wBRoundMstSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBCASecurityListMapper.getApplyCount */ COUNT(*)
        FROM CX_APPCTN_MST A
        JOIN CX_APPCTN_RSUME_DTL B ON A.appctn_seq = B.appctn_seq AND B.rsume_ord = 1
        WHERE EPISD_SEQ = #{episdSeq} AND MEM_SEQ = #{memSeq} AND APPCTN_STTS_CD != 'PRO_TYPE01001_01_006'
    </select>

    <!--
        쿼리명 : WBCASecurityListMapper.selectOPtnList
        설  명 : 양식 파일 순번 조회
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.11.24  김대성     최초 생성
   -->
    <select id="selectOPtnList" parameterType="wBRoundMstSearchDTO" resultType="SMJFormDTO">
        SELECT /* SMJFormMapper.selectFormDtl */
            SCRTY_ENVRNMT_FILE_SEQ
             ,SFTY_FCLTY_FILE_SEQ
             ,CRBN_EMSNS_FILE_SEQ
             ,SMRT_FCTRY_APPCTN_FILE_SEQ
             ,SMRT_FCTRY_SCRTY_FILE_SEQ
             ,EXAM_MSREMNT_FILE_SEQ
             ,CLBTN_FILE_SEQ
             ,SPLYCHN_STBLZTN_FILE_SEQ
             ,CAR_PART_APPCTN_FILE_SEQ
             ,FTRE_CAR_APPCTN_FILE_SEQ
             ,TTL_EDCTN_FILE_SEQ
             , (SELECT MAX(FILE_ORD) FROM CO_FILE_DTL WHERE USE_YN = 'Y' AND FILE_SEQ = A.SFTY_FCLTY_FILE_SEQ) AS FILE_ORD
             , (SELECT CONCAT(file_dsc,'.',file_extn) FROM co_file_dtl WHERE USE_YN = 'Y' AND file_seq = SFTY_FCLTY_FILE_SEQ) FILE_NM
        FROM SM_STY_MST A
        WHERE TYPE_CD = 'BUSINESS02'
    </select>


</mapper>



