<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.wb.wbg.WBGAExamMapper">


    <!--
         쿼리명 : WBGAExamMapper.selectCalibrationList
         설  명 : 게시판 리스트
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectCalibrationList" parameterType="wBGAExamSearchDTO" resultType="wBGAExamSearchDTO">
        SELECT /* WBGAExamMapper.selectCalibrationList */
        B.APPCTN_SEQ
        ,YEAR(A.YEAR) AS YEAR
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = C.RSUME_STTS_CD) AS RSUME_STTS_NM
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = C.MNG_STTS_CD) AS MNG_STTS_NM
        ,F.CMPN_NM
        ,F.BSNM_NO
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.CTGRY_CD ) AS CTGRY_NM
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.SIZE_CD) AS SIZE_NM
        ,D.NAME
        ,D.ID
        ,D.HP_NO
        ,D.EMAIL
        ,(SELECT SLS_PMT FROM CP_CMPN_MST WHERE BSNM_NO = F.BSNM_NO AND SLS_YEAR = A.YEAR) AS SLS_PMT
        ,(SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = PIC_CMSSR_SEQ) AS PIC_CMSSR_NM
        ,(SELECT TCHLG_NM FROM CX_APPCTN_TCHLG_DTL WHERE APPCTN_SEQ = C.APPCTN_SEQ AND TCHLG_ORD = 1) AS TCHLG_NM
        ,(SELECT SUM(TCHLG_CNT) FROM CX_APPCTN_TCHLG_DTL WHERE APPCTN_SEQ = C.APPCTN_SEQ) AS  TCHLG_CNT_SUM
        ,(SELECT MAX(TCHLG_ORD) FROM CX_APPCTN_TCHLG_DTL WHERE APPCTN_SEQ = C.APPCTN_SEQ) AS  TCHLG_ORD_MAX
        ,V.NVSTM_PMT
        ,V.FNDN_SPPRT_PMT
        ,V.REAL_GIVE_DT
        ,B.REG_ID
        ,(SELECT NAME FROM CO_ADM_MST WHERE ID = B.REG_ID) AS REG_NM
        ,B.REG_DTM
        ,B.MOD_ID
        ,(SELECT NAME FROM CO_ADM_MST WHERE ID = B.MOD_ID) AS MOD_NM
        ,B.MOD_DTM
        ,B.MEM_SEQ
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        JOIN CO_MEM_MST D ON B.MEM_SEQ = D.MEM_SEQ
        JOIN CP_CMPN_MST F ON  D.WORK_BSNM_NO = F.BSNM_NO
        LEFT JOIN CX_APPCTN_RSUME_TCHLG_DTL V ON C.RSUME_SEQ = V.RSUME_SEQ
        INNER JOIN (
        SELECT C.APPCTN_SEQ, MAX(C.RSUME_ORD) AS RSUME_ORD
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        WHERE BSN_CD = 'BSN07'
        GROUP BY APPCTN_SEQ
        ) ORD ON C.RSUME_ORD = ORD.RSUME_ORD AND C.APPCTN_SEQ = ORD.APPCTN_SEQ
        <include refid="selectCarbonListwhereSql" />
        ORDER BY B.APPCTN_SEQ DESC
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getCalibrationListTotCnt
         설  명 : 게시판 총 갯수
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="getCalibrationListTotCnt" parameterType="wBGAExamSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getCalibrationListTotCnt */ COUNT(*)
        FROM (
        SELECT
        B.APPCTN_SEQ
        ,YEAR(A.YEAR) AS YEAR
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = C.RSUME_STTS_CD) AS RSUME_STTS_NM
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = C.MNG_STTS_CD) AS MNG_STTS_NM
        ,F.CMPN_NM
        ,F.BSNM_NO
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.CTGRY_CD ) AS CTGRY_NM
        ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = F.SIZE_CD) AS SIZE_NM
        ,D.NAME
        ,D.ID
        ,D.HP_NO
        ,D.EMAIL
        ,(SELECT SLS_PMT FROM CP_CMPN_MST WHERE BSNM_NO = F.BSNM_NO AND SLS_YEAR = A.YEAR) AS SLS_PMT
        ,(SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = PIC_CMSSR_SEQ) AS PIC_CMSSR_NM
        ,V.NVSTM_PMT
        ,V.FNDN_SPPRT_PMT
        ,V.REAL_GIVE_DT
        ,B.REG_ID
        ,(SELECT NAME FROM CO_ADM_MST WHERE ID = B.REG_ID) AS REG_NM
        ,B.REG_DTM
        ,B.MOD_ID
        ,(SELECT NAME FROM CO_ADM_MST WHERE ID = B.MOD_ID) AS MOD_NM
        ,B.MOD_DTM
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        JOIN CO_MEM_MST D ON B.MEM_SEQ = D.MEM_SEQ
        JOIN CP_CMPN_MST F ON  D.WORK_BSNM_NO = F.BSNM_NO
        LEFT JOIN CX_APPCTN_RSUME_TCHLG_DTL V ON C.RSUME_SEQ = V.RSUME_SEQ
        INNER JOIN (
        SELECT C.APPCTN_SEQ, MAX(C.RSUME_ORD) AS RSUME_ORD
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        WHERE BSN_CD = 'BSN07'
        GROUP BY APPCTN_SEQ
        ) ORD ON C.RSUME_ORD = ORD.RSUME_ORD AND C.APPCTN_SEQ = ORD.APPCTN_SEQ
        <include refid="selectCarbonListwhereSql" />
        ) A
    </select>

    <!--
		쿼리명 : selectCarbonListwhereSql
		설  명 : 게시판 관리 where Sql
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.11.08    김대성       최초생성
    -->
    <sql id="selectCarbonListwhereSql">
        <where>
            AND BSN_CD = 'BSN07'
            <if test="carbonDate != null and carbonDate != ''.toString() ">
                <choose>
                    <when test="carbonDate == 1">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND B.REG_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND B.REG_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                    <when test="carbonDate == 2">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND B.REG_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND B.REG_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                    <when test="carbonDate == 3">
                        <if test="strtDt != null and strtDt != ''.toString() and endDt != null and endDt != ''.toString()">
                            AND B.MOD_DTM <![CDATA[ > ]]> STR_TO_DATE(#{strtDt}, '%Y-%m-%d')
                            AND B.MOD_DTM <![CDATA[ < ]]> DATE_ADD(str_to_date(#{endDt}, '%Y-%m-%d'), interval 1 day)
                        </if>
                    </when>
                </choose>
            </if>

            <if test="yearSearch != null and yearSearch != ''.toString() ">
                AND YEAR(A.YEAR) = #{yearSearch}
            </if>

            <if test="carbonCdList != null and carbonCdList.size() > 0">
                AND (
                <foreach collection="carbonCdList" item="carbonCdList" index="index" open="(" close=")" separator=" or ">
                    RSUME_STTS_CD = #{carbonCdList}
                </foreach>
                )
            </if>

            <if test="q != null and q != ''.toString() ">
                AND (
                EXISTS (SELECT ID FROM CO_MEM_MST WHERE MEM_SEQ = B.MEM_SEQ AND (NAME LIKE CONCAT('%', #{q}, '%') OR ID LIKE CONCAT('%', #{q}, '%') OR HP_NO LIKE CONCAT('%', #{q}, '%') ))
                OR
                EXISTS (SELECT BSNM_NO FROM CP_CMPN_MST WHERE BSNM_NO = D.WORK_BSNM_NO AND (CMPN_NM LIKE CONCAT('%', #{q}, '%') OR BSNM_NO LIKE CONCAT('%', #{q}, '%')))
                OR
                EXISTS (SELECT TCHLG_NM FROM CX_APPCTN_TCHLG_DTL WHERE APPCTN_SEQ = B.APPCTN_SEQ AND (TCHLG_NM LIKE CONCAT('%', #{q}, '%')))
                )
            </if>
        </where>
    </sql>

    <!--
         쿼리명 : WBGAExamMapper.selectExamValid
         설  명 : 옵션 마스터 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectExamValid" parameterType="wBGAExamSearchDTO" resultType="wBGAValidDTO">
        SELECT /* WBGAExamMapper.selectExamValid */
            VALID_SEQ
             ,STND_SLS_PMT
        FROM CX_APPCTN_VALID_MST
        WHERE BSN_CD = 'BSN07'
    </select>

    <!--
         쿼리명 : WBGAExamMapper.selectExamValidDtlList
         설  명 : 옵션 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectExamValidDtlList" parameterType="wBGAExamSearchDTO" resultType="wBGAValidDtlDTO">
        SELECT /* WBGAExamMapper.selectExamValidDtlList */
            B.OPTN_CD
             ,B.OPTN_NM
             ,B.OPTN_ORD
        FROM CX_APPCTN_VALID_MST A
                 JOIN CX_APPCTN_VALID_OPTN_DTL B ON A.VALID_SEQ = B.VALID_SEQ
        WHERE BSN_CD = 'BSN07'

    </select>

    <!--
     쿼리명 : WBGAExamMapper.examValidUpdate
     설  명 : 옵션 마스터 입력
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <update id="examValidInsert" parameterType="wBGAValidDTO">
        INSERT INTO /* WBGAExamMapper.examValidInsert */ CX_APPCTN_VALID_MST
        (
            VALID_SEQ
        ,BSN_CD
        ,STND_SLS_PMT
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
                #{validSeq}
            ,'BSN07'
            ,#{stndSlsPmt}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </update>

    <!--
     쿼리명 : WBGAExamMapper.examValidUpdate
     설  명 : 옵션 마스터 수정
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <update id="examValidUpdate" parameterType="wBGAValidDTO">
        UPDATE /* WBGAExamMapper.examValidUpdate */ CX_APPCTN_VALID_MST
        SET
            VALID_SEQ = #{validSeq}
          ,STND_SLS_PMT = #{stndSlsPmt}
          ,MOD_ID = #{modId}
          ,MOD_IP = #{modIp}
          ,MOD_DTM = NOW()
        WHERE BSN_CD = 'BSN07'
    </update>

    <!--
     쿼리명 : WBGAExamMapper.examValidDtlInsert
     설  명 : 옵션 상세 추가
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.08  김대성     최초 생성
    -->
    <insert id="examValidDtlInsert" parameterType="wBGAValidDtlDTO">
        INSERT /* WBGAExamMapper.examValidDtlInsert */  INTO CX_APPCTN_VALID_OPTN_DTL
        (
            VALID_SEQ
        ,OPTN_CD
        ,OPTN_NM
        ,OPTN_ORD
        ,REG_ID
        ,REG_IP
        ,REG_DTM
        )
        VALUES
            (
                #{validSeq}
            ,#{optnCd}
            ,#{optnNm}
            ,#{optnOrd}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </insert>

    <!--
       쿼리명 : WBGAExamMapper.deleteValidDtl
       설  명 : 상생신청 진행 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="deleteValidDtl" parameterType="wBGAValidDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteRsume */
        FROM CX_APPCTN_VALID_OPTN_DTL
        WHERE VALID_SEQ = #{validSeq}
    </delete>

    <!--
         쿼리명 : WBGAExamMapper.selectYearDtl
         설  명 : 연도 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectYearDtl" parameterType="wBGAExamSearchDTO" resultType="java.lang.String">
        SELECT /* WBGAExamMapper.selectYearDtl */
            DISTINCT(YEAR(YEAR)) AS YEAR
        FROM CX_EPISD_MST
        WHERE BSN_CD = 'BSN07'
        ORDER BY YEAR ASC
    </select>



    <!--
       쿼리명 : WBGAExamMapper.carbonCompanyDeleteTrnsf
       설  명 : 참여이관 로그 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteTrnsf" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteTrnsf */
        FROM CX_APPCTN_TRNSF_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    APPCTN_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    APPCTN_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
       쿼리명 : WBGAExamMapper.carbonCompanyDeleteTchlg
       설  명 : 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteTchlg" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteTchlg */
        FROM CX_APPCTN_TCHLG_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    APPCTN_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    APPCTN_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : WBGAExamMapper.selectRsumeSeq
         설  명 : 진행순번 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="selectRsumeSeq" parameterType="wBGAExamSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.selectRsumeSeq */ RSUME_SEQ
        FROM CX_APPCTN_RSUME_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    APPCTN_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    APPCTN_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
       쿼리명 : WBGAExamMapper.carbonCompanyDeletePbsn
       설  명 : 상생신청 진행 상세 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteRsumeTchlg" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeletePbsn */
        FROM CX_APPCTN_RSUME_TCHLG_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    RSUME_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    RSUME_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
       쿼리명 : WBGAExamMapper.carbonCompanyDeleteRsumeFile
       설  명 : 상생신청 진행 파일 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteRsumeFile" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteRsumeFile */
        FROM CX_APPCTN_RSUME_FILE_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    RSUME_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    RSUME_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
       쿼리명 : WBGAExamMapper.carbonCompanyDeleteRsume
       설  명 : 상생신청 진행 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteRsume" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteRsume */
        FROM CX_APPCTN_RSUME_DTL
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    APPCTN_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    APPCTN_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
       쿼리명 : WBGAExamMapper.carbonDeleteList
       설  명 : 신청 마스터 리스트 삭제
        수정일	 수정자     수정내용
       ==========   ======   =============
       2023.11.08  김대성     최초 생성
   -->
    <delete id="carbonCompanyDeleteMst" parameterType="wBGAExamSearchDTO">
        DELETE /* WBGAExamMapper.carbonCompanyDeleteMst */
        FROM CX_APPCTN_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    APPCTN_SEQ in
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    APPCTN_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!--
         쿼리명 : WBGAExamMapper.selectApplyMst
         설  명 : 신청업체관리 마스터 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectApplyMst" parameterType="wBGAExamSearchDTO" resultType="wBGAApplyMstDTO">
        SELECT /* WBGAExamMapper.selectApplyMst */
            APPCTN_SEQ,
            EPISD_SEQ,
            (SELECT DATE_FORMAT(YEAR,'%Y') FROM CX_EPISD_MST B WHERE A.EPISD_SEQ = B.EPISD_SEQ ) YEAR,
            (SELECT EPISD FROM CX_EPISD_MST B WHERE A.EPISD_SEQ = B.EPISD_SEQ ) EPISD,
            MEM_SEQ,
            APPCTN_BSNM_NO,
            ADM_MEMO,
            REG_ID,
            REG_IP,
            REG_DTM,
            MOD_ID,
            MOD_IP,
            MOD_DTM,
            (SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = A.PIC_CMSSR_SEQ ) NAME,
            (SELECT EMAIL FROM CO_MEM_MST WHERE MEM_SEQ = A.PIC_CMSSR_SEQ ) EMAIL,
            (SELECT HP_NO FROM CO_MEM_MST WHERE MEM_SEQ = A.PIC_CMSSR_SEQ ) HP_NO,
            (SELECT CMPN_NM FROM CP_CMPN_MST WHERE BSNM_NO = (SELECT WORK_BSNM_NO FROM CO_MEM_MST WHERE MEM_SEQ = A.PIC_CMSSR_SEQ)) AS PIC_CMSSR_CMPN_NM
        FROM CX_APPCTN_MST A
        WHERE APPCTN_SEQ = #{detailsKey}
    </select>

    <!--
         쿼리명 : WBGAExamMapper.selectApplyDtlList
         설  명 : 신청업체관리 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectApplyDtlList" parameterType="wBGAExamSearchDTO" resultType="wBGAApplyDtlDTO">
        SELECT /* WBGAExamMapper.selectApplyDtlList */
            RSUME_SEQ,
            RSUME_ORD,
            APPCTN_SEQ,
            RSUME_STTS_CD,
            (SELECT cd_nm FROM co_code_mst WHERE cd = RSUME_STTS_CD) AS RSUME_STTS_NM,
            APPCTN_STTS_CD,
            (SELECT cd_nm FROM co_code_mst WHERE cd = APPCTN_STTS_CD) AS APPCTN_STTS_NM,
            APPCTN_STTS_CHNG_DTM,
            MNG_STTS_CD,
            (SELECT cd_nm FROM co_code_mst WHERE cd = MNG_STTS_CD) AS MNG_STTS_NM,
            MNG_STTS_CHNG_DTM,
            RTRN_RSN_CNTN,
            REG_ID,
            REG_IP,
            REG_DTM
        FROM CX_APPCTN_RSUME_DTL
        WHERE APPCTN_SEQ = #{detailsKey}
        ORDER BY RSUME_ORD ASC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.selectEuipemtDtlList
         설  명 : 신청업체관리 대상장비 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectEuipemtDtlList" parameterType="wBGAExamSearchDTO" resultType="wBGAEuipmentDTO">
        SELECT /* WBGAExamMapper.selectEuipemtDtlList */
            APPCTN_SEQ
            , TCHLG_SEQ
            , TCHLG_ORD
            , TCHLG_NM
            , TCHLG_CNT
            , REG_ID
            , REG_IP
            , REG_DTM
            , MOD_ID
            , MOD_IP
            , MOD_DTM
        FROM CX_APPCTN_TCHLG_DTL
        WHERE APPCTN_SEQ = #{detailsKey}
        ORDER BY TCHLG_ORD ASC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.selectFileList
         설  명 : 신청업체관리 대상장비 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectFileList" parameterType="wBGAApplyDtlDTO" resultType="wBGAApplyDtlDTO">
        SELECT /* WBGAExamMapper.selectFileList */
            RSUME_SEQ
            , RSUME_ORD
            , FILE_CD
            , FILE_SEQ
            , (SELECT orgn_file_nm FROM CO_FILE_DTL WHERE USE_YN = 'Y' AND FILE_SEQ = A.FILE_SEQ) AS FILE_NM
            , REG_ID
            , REG_IP
            , REG_DTM
            , MOD_ID
            , MOD_IP
            , MOD_DTM
        FROM CX_APPCTN_RSUME_FILE_DTL A
        WHERE RSUME_SEQ = #{rsumeSeq} AND RSUME_ORD = #{rsumeOrd}
        ORDER BY RSUME_ORD ASC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.selectMsEuipmentList
         설  명 : 신청업체관리 계측장비 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="selectMsEuipmentList" parameterType="wBGAApplyDtlDTO" resultType="wBGAMsEuipmentDTO">
        SELECT /* WBGAExamMapper.selectMsEuipmentList */
            RSUME_SEQ
             , RSUME_ORD
             , SPPRT_CLLNG_YN
             , CHK_CMSSR_SEQ
             , (SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = CHK_CMSSR_SEQ) as CHK_CMSSR_NM
             , ACCS_DT
             , FORMAT(NVSTM_PMT,0) AS NVSTM_PMT
             , FORMAT(CLBTN_EXPNS_PMT,0) AS CLBTN_EXPNS_PMT
             , REAL_GIVE_DT
             , FORMAT(FNDN_SPPRT_PMT,0) AS FNDN_SPPRT_PMT
             , FORMAT(ENT_BRDN_PMT,0) AS ENT_BRDN_PMT
             , FORMAT(CAR_EXAM_LBRTY_SPPRT_PMT,0) AS CAR_EXAM_LBRTY_SPPRT_PMT
             , REG_ID
             , REG_IP
             , REG_DTM
             , MOD_ID
             , MOD_IP
             , MOD_DTM
        FROM CX_APPCTN_RSUME_TCHLG_DTL
        WHERE RSUME_SEQ = #{rsumeSeq} AND RSUME_ORD = #{rsumeOrd}
        ORDER BY RSUME_ORD ASC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getCompanyInfo
         설  명 : 부품사관리 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.12.11  김태훈     최초 생성
    -->
    <select id="getCompanyInfo" parameterType="wBGAExamSearchDTO" resultType="wBGACompanyDTO">
        SELECT /* WBGAExamMapper.getCompanyInfo */
            A.BSNM_NO
             , A.CMPN_NM
             , A.RPRSNT_NM
             , A.CTGRY_CD
             , (SELECT cd_nm FROM co_code_mst WHERE cd = CTGRY_CD) AS CTGRY_NM
             , A.SIZE_CD
             , (SELECT cd_nm FROM co_code_mst WHERE cd = SIZE_CD) AS SIZE_NM
             , A.STBSM_DT
             , A.TEL_NO AS COMP_TEL
             , A.ZIPCODE
             , A.BSC_ADDR
             , A.DTL_ADDR
             , A.SLS_PMT
             , A.SLS_YEAR
             , A.MPLE_CNT
             , A.MJR_PRDCT_1
             , A.MJR_PRDCT_2
             , A.MJR_PRDCT_3
             , A.QLTY_5_STAR_CD
             , (SELECT cd_nm FROM co_code_mst WHERE cd = NULLIF(A.QLTY_5_STAR_CD,'')) AS QLTY_5_STAR_NM
             , A.QLTY_5_STAR_YEAR
             , A.PAY_5_STAR_CD
             , (SELECT cd_nm FROM co_code_mst WHERE cd = NULLIF(A.PAY_5_STAR_CD,'')) AS PAY_5_STAR_NM
             , A.PAY_5_STAR_YEAR
             , A.TCHLG_5_STAR_CD
             , (SELECT cd_nm FROM co_code_mst WHERE cd = NULLIF(A.TCHLG_5_STAR_CD,'')) AS TCHLG_5_STAR_NM
             , A.TCHLG_5_STAR_YEAR
             , (SELECT ID FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) ID
             , (SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) NAME
             , (SELECT EMAIL FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) EMAIL
             , (SELECT DEPT_CD FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) DEPT_CD
             , (SELECT DEPT_DTL_NM FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) DEPT_DTL_NM
             , (SELECT PSTN_CD FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) PSTN_CD
             , (SELECT PSTN_NM FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) PSTN_NM
             , (SELECT HP_NO FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) HP_NO
             , (SELECT TEL_NO FROM CO_MEM_MST WHERE MEM_SEQ = #{memSeq}) TEL_NO
        FROM CP_CMPN_MST A
        WHERE A.BSNM_NO = #{bsnmNo}
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getUserInfo
         설  명 : 부품사관리 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.12.11  김태훈     최초 생성
    -->
    <select id="selectSqList" parameterType="wBGAExamSearchDTO" resultType="wBGACompanyDTO">
        SELECT /* WBGAExamMapper.selectSqList */
            CBSN_SEQ
             , NM
             , SCORE
             , YEAR
             , CRTFN_CMPN_NM
        FROM CP_CMPN_CBSN_DTL
        WHERE BSNM_NO = #{bsnmNo}
    </select>


    <!--
         쿼리명 : WBGAExamMapper.getTrnsfList
         설  명 : 상생사업 이관로그 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="getConsultingList" parameterType="wBGAConsultingDTO" resultType="wBGAConsultingDTO">
        SELECT /* WBGAExamMapper.getConsultingList */
            YEAR(A.BSN_YEAR) AS BSN_YEAR
             ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.CNSTG_CD) AS CNSTG_NM
             ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.RSUME_STTS_CD) AS RSUME_STTS_NM
             ,B.CMPN_NM
             ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = B.CTGRY_CD) AS CTGRY_NM
             ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.CMPN_SIZE_CD) AS SIZE_NM
             ,A.APPCTN_BSNM_NO
             ,CONCAT((SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.FIRST_RGNS_CD) , ' ' , (SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.SCND_RGNS_CD)) AS RGNS_NAME
             ,(SELECT CD_NM FROM CO_CODE_MST WHERE CD = A.APPCTN_FLD_CD) AS APPCTN_FLD_NM
             ,(SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = C.CMSSR_SEQ) AS CMSSR_NM
             ,A.REG_DTM
        FROM CP_CNSTG_APPCTN_MST A
                 JOIN CP_CMPN_MST B ON A.APPCTN_BSNM_NO = B.BSNM_NO
                 JOIN CP_CNSTG_RSUME_MST C ON A.CNSTG_SEQ = C.CNSTG_SEQ
        WHERE APPCTN_BSNM_NO = #{appctnBsnmNo}
        ORDER BY REG_DTM DESC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getTrnsfCount
         설  명 : 상생사업 이관로그 개수 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="getConsultingCount" parameterType="wBGAConsultingDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getConsultingCount */
            count(*)
        FROM CP_CNSTG_APPCTN_MST A
                 JOIN CP_CMPN_MST B ON A.APPCTN_BSNM_NO = B.BSNM_NO
                 JOIN CP_CNSTG_RSUME_MST C ON A.CNSTG_SEQ = C.CNSTG_SEQ
        WHERE APPCTN_BSNM_NO = #{appctnBsnmNo}
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getExisdDtl
         설  명 : 검교정 해당년도 회차 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.12.11  김태훈     최초 생성
    -->
    <select id="getExisdDtl" parameterType="wBGAApplyMstDTO" resultType="WBRoundMstSearchDTO">
        SELECT /* WBGAExamMapper.getExisdDtl */
            EPISD_SEQ
            , BSN_CD
            , YEAR
            , EPISD
            , ACCS_STRT_DTM
            , ACCS_END_DTM
            , BSN_STRT_DTM
            , BSN_END_DTM
            , EXPS_YN
        FROM CX_EPISD_MST
        WHERE BSN_CD = #{bsnCd} AND YEAR = #{year}
    </select>

    <!--
     쿼리명 : WBGAExamMapper.insetRound
     설  명 : 검교정 회차 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.11  김태훈     최초 생성
    -->
    <insert id="insetRound" parameterType="wbRoundMstSearchDTO">
        INSERT /* WBGAExamMapper.insetRound */ INTO CX_EPISD_MST
        (
            EPISD_SEQ
        , BSN_CD
        , YEAR
        , EPISD
        , ACCS_STRT_DTM
        , ACCS_END_DTM
        , BSN_STRT_DTM
        , BSN_END_DTM
        , EXPS_YN
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUE
        (
            #{episdSeq}
            ,#{bsnCd}
            ,#{year}
            ,#{episd}
            ,#{accsStrtDtm}
            ,#{accsEndDtm}
            ,#{bsnStrtDtm}
            ,#{bsnEndDtm}
            ,#{expsYn}
            ,#{regId}
            ,#{regIp}
            ,NOW()
        )
    </insert>

    <!--
     쿼리명 : WBGAExamMapper.insertApply
     설  명 : 검교정 신청 마스터 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertApply" parameterType="wBGAApplyMstDTO">
        INSERT /* WBGAExamMapper.insertApply */ INTO CX_APPCTN_MST
        (
            APPCTN_SEQ
            ,EPISD_SEQ
            ,MEM_SEQ
            ,APPCTN_BSNM_NO
            ,REG_ID
            ,REG_IP
            ,REG_DTM
        )
        VALUE
        (
            #{appctnSeq}
            ,#{episdSeq}
            ,#{memSeq}
            ,#{appctnBsnmNo}
            ,#{regId}
            ,#{regIp}
            ,NOW()
        )
    </insert>

    <!--
     쿼리명 : WBGAExamMapper.insertApplyDtl
     설  명 : 상생 신청 상세 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertApplyDtl" parameterType="wBGAApplyDtlDTO">
        INSERT /* WBGAExamMapper.insertApplyDtl */ INTO CX_APPCTN_RSUME_DTL
        (
            RSUME_SEQ
            , RSUME_ORD
            , APPCTN_SEQ
            , RSUME_STTS_CD
            , APPCTN_STTS_CD
            <if test='siteGubun != "admin"'>
                , APPCTN_STTS_CHNG_DTM
            </if>
            , MNG_STTS_CD
            <if test='siteGubun != "front"'>
                , MNG_STTS_CHNG_DTM
            </if>
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUE
        (
            #{rsumeSeq}
            ,#{rsumeOrd}
            ,#{appctnSeq}
            ,#{rsumeSttsCd}
            ,#{appctnSttsCd}
            <if test='siteGubun != "admin"'>
                ,NOW()
            </if>
            ,#{mngSttsCd}
            <if test='siteGubun != "front"'>
                , MNG_STTS_CHNG_DTM
            </if>
            ,#{regId}
            ,#{regIp}
            ,NOW()
        )
    </insert>

    <!--
     쿼리명 : WBGAExamMapper.insertEuipment
     설  명 : 상생신청대상장비 상세 등록
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertEuipment" parameterType="wBGAEuipmentDTO">
        INSERT /* WBGAExamMapper.insertEuipment */ INTO CX_APPCTN_TCHLG_DTL
        (
            APPCTN_SEQ
            , TCHLG_SEQ
            , TCHLG_ORD
            , TCHLG_NM
            , TCHLG_CNT
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUE
        (
            #{appctnSeq}
            ,#{tchlgSeq}
            ,#{tchlgOrd}
            ,#{tchlgNm}
            ,#{tchlgCnt}
            ,#{regId}
            ,#{regIp}
            ,NOW()
        )
    </insert>
    <!--
     쿼리명 : WBGAExamMapper.insertFileInfo
     설  명 : 상생 신청 파일정보 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertFileInfo" parameterType="wbbaApplyDtlDTO">
        INSERT /* WBGAExamMapper.insertFileInfo */ INTO CX_APPCTN_RSUME_FILE_DTL
        (
            RSUME_SEQ
            , RSUME_ORD
            , FILE_CD
            , FILE_SEQ
            , REG_ID
            , REG_IP
            , REG_DTM
        )
        VALUE
        (
            #{rsumeSeq}
            ,#{rsumeOrd}
            ,#{fileCd}
            ,#{fileSeq}
            ,#{regId}
            ,#{regIp}
            ,NOW()
        )
    </insert>

    <!--
         쿼리명 : WBGAExamMapper.updatePartsCompany
         설  명 : 부품사 회원 정보 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   김태훈       최초생성
    -->
    <update id="updatePartUser" parameterType="wBGACompanyDTO">
        UPDATE /* WBGAExamMapper.updatePartUser */ CO_MEM_MST
        SET
            dept_cd =#{deptCd}
          , dept_dtl_nm =#{deptDtlNm}
          , pstn_cd =#{pstnCd}
          , pstn_nm =#{pstnNm}
          , tel_no =#{telNo}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND MEM_SEQ = #{memSeq}
    </update>

    <!--
         쿼리명 : WBGAExamMapper.updatePartsCompany
         설  명 : 부품사를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   김태훈       최초생성
    -->
    <update id="updatePartsCompany" parameterType="wBGACompanyDTO">
        UPDATE /* WBGAExamMapper.updatePartsCompany */ CP_CMPN_MST
        SET
            CTGRY_CD = #{ctgryCd}
          , SIZE_CD = #{sizeCd}
          , STBSM_DT = #{stbsmDt}
          , TEL_NO = #{telNo}
          , ZIPCODE = #{zipcode}
          , BSC_ADDR = #{bscAddr}
          , DTL_ADDR = #{dtlAddr}
          , SLS_PMT = #{slsPmt}
          , SLS_YEAR = #{slsYear}
          , MPLE_CNT = #{mpleCnt}
          , MJR_PRDCT_1 = #{mjrPrdct1}
          , MJR_PRDCT_2 = #{mjrPrdct2}
          , MJR_PRDCT_3 = #{mjrPrdct3}
          , QLTY_5_STAR_CD = #{qlty5starCd}
          , QLTY_5_STAR_YEAR = #{qlty5starYear}
          , PAY_5_STAR_CD = #{pay5starCd}
          , PAY_5_STAR_YEAR = #{pay5starYear}
          , TCHLG_5_STAR_CD = #{tchlg5starCd}
          , TCHLG_5_STAR_YEAR = #{tchlg5starYear}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND BSNM_NO = #{bsnmNo}
    </update>

    <!--
         쿼리명 : WBGAExamMapper.insertPartsComSQInfo
         설  명 : 부품사의 SQ 정보를 등록한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   김태훈       최초생성
    -->
    <insert id="insertPartsComSQInfo" parameterType="wBGACompanyDTO">
        INSERT /* WBGAExamMapper.insertPartsComSQInfo */ INTO CP_CMPN_CBSN_DTL
        (
            BSNM_NO
        , CBSN_SEQ
        , NM
        , SCORE
        , YEAR
        , CRTFN_CMPN_NM
        , REG_ID
        , REG_IP
        , REG_DTM
        )
        VALUES
            (
                #{bsnmNo}
            , #{cbsnSeq}
            , #{nm}
            , #{score}
            , #{year}
            , #{crtfnCmpnNm}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>

    <!--
         쿼리명 : WBGAExamMapper.updatePartsComSQInfo
         설  명 : 부품사의 SQ 정보를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   김태훈       최초생성
    -->
    <update id="updatePartsComSQInfo" parameterType="wBGACompanyDTO">
        UPDATE /* WBGAExamMapper.updatePartsComSQInfo */ CP_CMPN_CBSN_DTL
        SET
             NM = #{nm}
          , SCORE = #{score}
          , YEAR = #{year}
          , CRTFN_CMPN_NM = #{crtfnCmpnNm}
          , MOD_ID = #{modId}
          , MOD_IP = #{modIp}
          , MOD_DTM = NOW()
        WHERE 1=1
          AND CBSN_SEQ = #{cbsnSeq} AND BSNM_NO = #{bsnmNo}
    </update>

    <!--
         쿼리명 : WBGAExamMapper.deletePartsComSQInfo
         설  명 : 부품사의 SQ 정보를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.11   김태훈       최초생성
    -->
    <delete id="deletePartsComSQInfo" parameterType="wBGAApplyDtlDTO">
        DELETE /* WBGAExamMapper.deletePartsComSQInfo */
        FROM CP_CMPN_CBSN_DTL
        WHERE BSNM_NO = #{bsnmNo}
    </delete>

    <!--
         쿼리명 : WBGAExamMapper.updateApply
         설  명 : 신청업체관리 마스터 수정
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.22   김태훈       최초생성
    -->
    <update id="updateApply" parameterType="wBGAApplyMstDTO">
        UPDATE /* WBGAExamMapper.updateApply */ CX_APPCTN_MST
        SET
            MEM_SEQ = #{memSeq},
            ADM_MEMO = #{admMemo},
            MOD_ID = #{modId},
            MOD_IP = #{modIp},
            MOD_DTM = NOW()
        WHERE APPCTN_SEQ = #{detailsKey}
    </update>

    <!--
         쿼리명 : WBGAExamMapper.updatePicCmssrSeq
         설  명 : 신청업체관리 마스터 수정
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.22   김태훈       최초생성
    -->
    <update id="updatePicCmssrSeq" parameterType="wBGAApplyMstDTO">
        UPDATE /* WBHACalibrationMapper.updatePicCmssrSeq */ CX_APPCTN_MST
        SET
            PIC_CMSSR_SEQ = #{chkCmssrSeq}
        WHERE APPCTN_SEQ = #{detailsKey}
    </update>

    <!--
     쿼리명 : WBGAExamMapper.deleteFileInfo
     설  명 : 신청업체관리 파일정보 삭제
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.22  김태훈     최초 생성
    -->
    <delete id="deleteFileInfo" parameterType="wBGAApplyDtlDTO">
        DELETE /* WBGAExamMapper.deleteFileInfo */
        FROM CX_APPCTN_RSUME_FILE_DTL
        WHERE RSUME_SEQ = #{rsumeSeq} AND RSUME_ORD = #{rsumeOrd}
    </delete>

    <!--
        쿼리명 : WBGAExamMapper.updateApplyStatus
        설  명 : 단계결과 수정
         수정일     수정자       수정내용
       ==========   ======    ==============
       2023.12.12   김태훈       최초생성
   -->
    <update id="updateApplyStatus" parameterType="wbbaApplyDtlDTO">
        UPDATE /* WBGAExamMapper.updateApplyStatus */ CX_APPCTN_RSUME_DTL
        SET
            <if test='siteGubun != "front"'>
                MNG_STTS_CHNG_DTM = NOW(),
                RTRN_RSN_CNTN = #{rtrnRsnCntn},
                MOD_ID = #{modId},
                MOD_IP = #{modIp},
                MOD_DTM = NOW(),
            </if>
            <if test='siteGubun != "admin"'>
                APPCTN_STTS_CHNG_DTM= NOW(),
            </if>
            APPCTN_STTS_CD = #{appctnSttsCd},
            MNG_STTS_CD = #{mngSttsCd}
        WHERE APPCTN_SEQ = #{appctnSeq}
          AND RSUME_SEQ = #{rsumeSeq}
          AND RSUME_ORD = #{rsumeOrd}
    </update>

    <!--
     쿼리명 : WBBBCompanyMapper.insertTransUserLog
     설  명 : 상생참여이관로그 생성
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.11.24  김태훈     최초 생성
    -->
    <insert id="insertTransUserLog" parameterType="wbbaTransDTO">
        INSERT /* WBBBCompanyMapper.insertTransUserLog */ INTO CX_APPCTN_TRNSF_DTL
        (
            TRNSF_SEQ
        , APPCTN_SEQ
        , BFRE_MEM_SEQ
        , AFTR_MEM_SEQ
        , REG_ID
        , REG_IP
        , REG_DTM
        )
            VALUE
            (
            #{trnsfSeq}
            ,#{appctnSeq}
            ,#{bfreMemSeq}
            ,#{aftrMemSeq}
            ,#{regId}
            ,#{regIp}
            ,NOW()
            )
    </insert>

    <!--
     쿼리명 : WBGAExamMapper.deleteEuipment
     설  명 : 신청업체관리 파일정보 삭제
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.22  김태훈     최초 생성
    -->
    <delete id="deleteEuipment" parameterType="wBGAApplyDtlDTO">
        DELETE /* WBGAExamMapper.deleteEuipment */
        FROM CX_APPCTN_TCHLG_DTL
        WHERE APPCTN_SEQ = #{appctnSeq}
    </delete>

    <!--
     쿼리명 : WBGAExamMapper.deleteMsEuipment
     설  명 : 신청업체관리 계측장비정보 삭제
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.22  김태훈     최초 생성
    -->
    <delete id="deleteMsEuipment" parameterType="wBGAApplyDtlDTO">
        DELETE /* WBGAExamMapper.deleteMsEuipment */
        FROM CX_APPCTN_RSUME_TCHLG_DTL
        WHERE RSUME_SEQ = #{rsumeSeq} AND RSUME_ORD = #{rsumeOrd}
    </delete>

    <!--
     쿼리명 : WBGAExamMapper.insertMsEuipment
     설  명 : 신청업체관리 계측장비정보 등록
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.22  김태훈     최초 생성
    -->
    <insert id="insertMsEuipment" parameterType="wBGAMsEuipmentDTO">
        INSERT INTO CX_APPCTN_RSUME_TCHLG_DTL (
            RSUME_SEQ,
            RSUME_ORD,
            SPPRT_CLLNG_YN,
            CHK_CMSSR_SEQ,
            ACCS_DT,
            NVSTM_PMT,
            REAL_GIVE_DT,
            FNDN_SPPRT_PMT,
            ENT_BRDN_PMT,
            REG_ID,
            REG_IP,
            REG_DTM
        ) VALUES (
            #{rsumeSeq},
            #{rsumeOrd},
            #{spprtCllngYn},
            #{chkCmssrSeq},
            <if test='siteGubun == "admin"'>
                #{accsDt},
            </if>
            <if test='siteGubun == "front"'>
                NOW(),
            </if>
            #{nvstmPmt},
            #{realGiveDt},
            #{fndnSpprtPmt},
            #{entBrdnPmt},
            #{regId},
            #{regIp},
            NOW()
        )
    </insert>

    <!--
     쿼리명 : WBGAExamMapper.updateMsEuipment
     설  명 : 신청업체관리 계측장비정보 수정
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.12.22  김태훈     최초 생성
    -->
    <update id="updateMsEuipment" parameterType="wBGAMsEuipmentDTO">
        UPDATE /* WBGAExamMapper.updateMsEuipment */ CX_APPCTN_RSUME_TCHLG_DTL
        SET NVSTM_PMT = #{nvstmPmt}
        WHERE RSUME_SEQ = #{rsumeSeq} AND RSUME_ORD = #{rsumeOrd}
    </update>

    <!--
         쿼리명 : WBGAExamMapper.getTrnsfList
         설  명 : 상생사업 이관로그 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.12.15  김태훈     최초 생성
    -->
    <select id="getTrnsfList" parameterType="wbbaTransDTO" resultType="wbbaTransDTO">
        SELECT /* WBGAExamMapper.getTrnsfList */
            TRNSF_SEQ
             ,APPCTN_SEQ
             ,BFRE_MEM_SEQ
             ,(SELECT ID FROM CO_MEM_MST WHERE MEM_SEQ = BFRE_MEM_SEQ) AS BFRE_MEM_ID
             ,(SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = BFRE_MEM_SEQ) AS BFRE_MEM_NM
             ,AFTR_MEM_SEQ
             ,(SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = AFTR_MEM_SEQ) AS AFTR_MEM_NM
             ,(SELECT ID FROM CO_MEM_MST WHERE MEM_SEQ = AFTR_MEM_SEQ) AS AFTR_MEM_ID
             ,REG_ID
             ,(SELECT NAME FROM CO_ADM_MST WHERE ID = REG_ID) AS REG_NM
             ,REG_IP
             ,REG_DTM
        FROM CX_APPCTN_TRNSF_DTL
        WHERE APPCTN_SEQ = #{detailsKey}
        ORDER BY REG_DTM DESC
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getTrnsfCount
         설  명 : 검교정 이관로그 개수 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.12.15  김태훈     최초 생성
    -->
    <select id="getTrnsfCount" parameterType="wbbaTransDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getTrnsfCount */
            count(*)
        FROM CX_APPCTN_TRNSF_DTL
        WHERE APPCTN_SEQ = #{detailsKey}
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getRsumePbsnCnt
         설  명 : 신청 진행단계 확인
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.08  김대성     최초 생성
    -->
    <select id="getRsumePbsnCnt" parameterType="wBGAExamSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getRsumePbsnCnt */
        COUNT(*)
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        JOIN CO_MEM_MST D ON B.MEM_SEQ = D.MEM_SEQ
        JOIN CP_CMPN_MST F ON  D.WORK_BSNM_NO = F.BSNM_NO
        INNER JOIN (
        SELECT C.APPCTN_SEQ, MAX(C.RSUME_ORD) AS RSUME_ORD
        FROM CX_EPISD_MST A
        JOIN CX_APPCTN_MST B ON A.EPISD_SEQ = B.EPISD_SEQ
        JOIN CX_APPCTN_RSUME_DTL C ON B.APPCTN_SEQ = C.APPCTN_SEQ
        WHERE BSN_CD = 'BSN07'
        GROUP BY APPCTN_SEQ
        ) ORD ON C.RSUME_ORD = ORD.RSUME_ORD AND C.APPCTN_SEQ = ORD.APPCTN_SEQ
        WHERE (ORD.RSUME_ORD != 1 OR MNG_STTS_CD != 'PRO_TYPE07001_02_001')
        <choose>
            <when test="delValueList != null and delValueList.size() > 0">
                AND B.APPCTN_SEQ IN
                <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                    #{delValueList}
                </foreach>
            </when>
        </choose>
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getRoundDtl
         설  명 : 최신 회차 상세 조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.11.24  김태훈     최초 생성
    -->
    <select id="getRoundDtl" parameterType="wBGAExamSearchDTO" resultType="wBGAExamSearchDTO">
        SELECT /* WBGAExamMapper.getRoundDtl */ *
        FROM (
                 SELECT
                     EPISD_SEQ
                      ,BSN_CD
                      ,YEAR
                      ,EPISD
                      ,ACCS_STRT_DTM
                      ,ACCS_END_DTM
                      ,BSN_STRT_DTM
                      ,BSN_END_DTM
                      ,EXPS_YN
                      , CASE WHEN NOW() <![CDATA[ < ]]> ACCS_STRT_DTM THEN 2
                     WHEN NOW() <![CDATA[ >= ]]> ACCS_STRT_DTM AND NOW() <![CDATA[ <= ]]> ACCS_END_DTM THEN 1
                     ELSE 3
                     END AS DATE_ORD
                 FROM CX_EPISD_MST A
                 WHERE       BSN_CD = 'BSN07' AND EXPS_YN = 'Y'
             ) A
        WHERE DATE_ORD = 1
        ORDER BY ACCS_STRT_DTM, BSN_STRT_DTM ASC
            LIMIT 1
    </select>

    <!--
        쿼리명 : WBGAExamMapper.getApplyCount
        설  명 : 회차사업 참여 카운트
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.01.03  김대성     최초 생성
   -->
    <select id="getApplyCount" parameterType="wBGAExamSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getApplyCount */ COUNT(*)
        FROM (SELECT EPISD_SEQ
              FROM cx_episd_mst
              WHERE BSN_CD = 'BSN07' AND YEAR = #{year}) cem
        JOIN cx_appctn_mst cam ON cem.EPISD_SEQ = cam.episd_seq AND cam.mem_seq = #{memSeq}
        JOIN CX_APPCTN_RSUME_DTL B ON cam.appctn_seq = B.appctn_seq AND B.rsume_ord = 1 AND APPCTN_STTS_CD != 'PRO_TYPE07001_01_004'
    </select>

    <!--
         쿼리명 : WBGAExamMapper.getApplyDtl
         설  명 : 신청자 정보조회
         수정일     수정자     수정내용
        ==========  ======  ==============
        2023.01.03  김대성     최초 생성
    -->
    <select id="getApplyDtl" parameterType="wBGAExamSearchDTO" resultType="wBGAExamSearchDTO">
        SELECT /* WBGAExamMapper.getApplyDtl */
            APPCTN_SEQ,
            EPISD_SEQ,
            MEM_SEQ,
            APPCTN_BSNM_NO,
            REG_DTM
        FROM CX_APPCTN_MST A
        WHERE EPISD_SEQ = #{episdSeq} AND MEM_SEQ = #{memSeq}
    </select>

    <!--
        쿼리명 : WBGAExamMapper.getApplyCompanyCnt
        설  명 : 해당년도 컨설팅 참여 카운트
        수정일     수정자     수정내용
       ==========  ======  ==============
       2023.01.03  김대성     최초 생성
   -->
    <select id="getApplyCompanyCnt" parameterType="wBGAExamSearchDTO" resultType="java.lang.Integer">
        SELECT /* WBGAExamMapper.getApplyCompanyCnt */ COUNT(*)
        FROM (
                SELECT A.CNSTG_SEQ
                FROM   cp_cnstg_appctn_mst A,cp_cnstg_rsume_mst B
                WHERE  a.cnstg_seq = b.cnstg_seq AND    a.cnstg_cd = 'CONSULT_GB01'
                AND    a.rsume_stts_cd IN ('MNGTECH_STATUS_08', 'MNGTECH_STATUS_09', 'MNGTECH_STATUS_13')
                AND    (Year(b.guide_bgn_dt) = Year(Now()) OR (Year(Now()) -1))
                AND    b.guide_type_cd = 'GUIDE_TYPE_CD02'
                AND    (( SELECT cd
                FROM   cp_cnstg_cbsn_dtl
                WHERE  cnstg_seq = a.cnstg_seq) IN (
                        <foreach collection="validDtlDTOList" item="validDtlDTO" index="index" separator=",">
                            #{validDtlDTO.optnCd}
                        </foreach>
                    ))
                AND appctn_bsnm_no = #{bsnmNo}
                UNION ALL
                SELECT A.CNSTG_SEQ
                FROM   cp_cnstg_appctn_mst a, cp_cnstg_rsume_mst b
                WHERE  a.cnstg_seq = b.cnstg_seq AND (a.cnstg_cd = 'CONSULT_GB02'
                AND    a.rsume_stts_cd IN ('MNGCNSLT_STATUS09','MNGCNSLT_STATUS12')
                AND    (year(b.guide_kickf_dt) = year(now()) OR (year(now()) -1)))
                AND    a.appctn_fld_cd IN (
                        <foreach collection="validDtlDTOList" item="validDtlDTO" index="index" separator=",">
                            #{validDtlDTO.optnCd}
                        </foreach>
                )
                AND    appctn_bsnm_no = #{bsnmNo}
        ) TMP
    </select>
</mapper>



