<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.COCommMapper">
    <!--
    쿼리명 : COCommMapper.getMemCmpnDtl
    설  명 : 신청자, 부품사 정보 조회
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.16    이옥정       최초생성
    -->
    <select id="getMemCmpnDtl" parameterType="java.lang.Integer" resultType="COUserCmpnDto">
        select /* COCommMapper.getMemCmpnDtl */
               mem.mem_seq mem_mem_seq
             , mem.mem_cd mem_mem_cd
             , mem.name mem_name
             , mem.id mem_id
             , mem.email mem_email
             , mem.dept_cd mem_dept_cd
             , mem.dept_dtl_nm mem_dept_dtl_nm
             , mem.pstn_cd mem_pstn_cd
             , mem.pstn_nm mem_pstn_nm
             , mem.hp_no mem_hp_no
             , mem.tel_no mem_tel_no
             , cmpn.bsnm_no cmpn_bsnm_no
             , cmpn.cmpn_nm cmpn_nm
             , cmpn.ctgry_cd cmpn_ctgry_cd
             , cmpn.size_cd cmpn_size_cd
             , cmpn.rprsnt_nm cmpn_rprsnt_nm
             , cmpn.stbsm_dt cmpn_stbsm_dt
             , cmpn.tel_no cmpn_tel_no
             , cmpn.zipcode cmpn_zipcode
             , cmpn.bsc_addr cmpn_bsc_addr
             , cmpn.dtl_addr cmpn_dtl_addr
             , cmpn.sls_pmt cmpn_sls_pmt
             , cmpn.sls_year cmpn_sls_year
             , cmpn.mple_cnt cmpn_mple_cnt
             , cmpn.mjr_prdct_1 cmpn_mjr_prdct_1
             , cmpn.mjr_prdct_2 cmpn_mjr_prdct_2
             , cmpn.mjr_prdct_3 cmpn_mjr_prdct_3
        from co_mem_mst mem left join cp_cmpn_mst cmpn on cmpn.bsnm_no = mem.work_bsnm_no
        where mem.mem_seq = #{memSeq}
    </select>

    <!--
    쿼리명 : COCommMapper.updateUserDtl
    설  명 : 신청자 정보 수정
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.16    이옥정       최초생성
    -->
    <update id="updateUserDtl" parameterType="COUserCmpnDto">
        update co_mem_mst
        set dept_cd = #{memDeptCd}
          , email = #{memEmail}
          , dept_dtl_nm =#{memDeptDtlNm}
          , pstn_cd =#{memPstnCd}
            <if test="memPstnCd eq 'MEM_CD01007'">
            , pstn_nm = #{memPstnNm}
            </if>
          , tel_no =#{memTelNo}
          , mod_id =#{modId}
          , mod_ip =#{modIp}
          , mod_dtm = now()
        where mem_seq =#{memMemSeq}
    </update>

    <!--
         쿼리명 : COCommMapper.updatePartsCompany
         설  명 : 부품사를 수정한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.16    이옥정       최초생성
    -->
    <update id="updatePartsCompany" parameterType="COUserCmpnDto">
        update /* COCommMapper.updatePartsCompany */ cp_cmpn_mst
        set
            ctgry_cd = #{cmpnCtgryCd}
          , size_cd = #{cmpnSizeCd}
          , rprsnt_nm = #{cmpnRprsntNm}
          , stbsm_dt = #{cmpnStbsmDt}
          , tel_no = #{cmpnTelNo}
          , zipcode = #{cmpnZipcode}
          , bsc_addr = #{cmpnBscAddr}
          , dtl_addr = #{cmpnDtlAddr}
          , sls_pmt = #{cmpnSlsPmt}
          , sls_year = #{cmpnSlsYear}
          , mple_cnt = #{cmpnMpleCnt}
          , mjr_prdct_1 = #{cmpnMjrPrdct1}
          , mjr_prdct_2 = #{cmpnMjrPrdct2}
          , mjr_prdct_3 = #{cmpnMjrPrdct3}
          , mod_id = #{modId}
          , mod_ip = #{modIp}
          , mod_dtm = now()
        WHERE bsnm_no = #{cmpnBsnmNo}
    </update>

    <!--
    쿼리명 : COCommMapper.getHeaderNtfyList
    설  명 : 사용자 상단 공지사항(3일전)
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.11.16    이옥정       최초생성
    2024.01.05    이옥정       중요공지 조건문에 상시 조건문 추가
    -->
    <select id="getHeaderNtfyList" resultType="COFrontHeaderNtfyDTO">
        select /* COCommMapper.getHeaderNtfyList */
              ntfy_seq
             , titl
             , reg_dtm
             , exps_strt_dtm
        from bd_ntfy_mst
        where exps_yn = 'Y'
          and ( IFNULL(odtm_yn, 'N') = 'Y' OR exps_strt_dtm <![CDATA[ <= ]]> (now()) and exps_end_dtm <![CDATA[ >= ]]> (now()))
        order by reg_dtm desc
        limit 0, 3
    </select>

    <!--
    쿼리명 : COCommMapper.quickTrendList
    설  명 : 사용자 퀵메뉴 트랜드 리스트
      수정일      수정자       수정내용
    ==========   ========   ==============
    2024.01.11    이옥정       최초생성
    -->
    <select id="quickTrendList" resultType="SMKTrendDTO">
        select /* SMKTrendMapper.selectTrendList */
        trnd_seq
        , type_cd
        , (case when A.type_cd = 'TYPE01' then '교육사업'
        when A.type_cd = 'TYPE02' then '컨설팅사업'
        when A.type_cd = 'TYPE03' then '상생사업'
        end)
        AS type_cd_nm -- 카테고리명
        , titl
        , url_url
        , exps_yn
        , exps_ord
        ,(SELECT web_path FROM CO_FILE_DTL  WHERE FILE_SEQ = A.thnl_file_seq ORDER BY FILE_ORD DESC LIMIT 1) WEB_PATH
        ,(SELECT file_dsc FROM CO_FILE_DTL  WHERE FILE_SEQ = A.thnl_file_seq ORDER BY FILE_ORD DESC LIMIT 1) FILE_DSC
        from sm_main_trend_mst A
        WHERE EXPS_YN = 'Y'
        order by
        exps_ord desc
        limit 0, 10
    </select>

</mapper>