<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.COGCntsMapper">

	<!--
		쿼리명 : COGCntsMapper.getCntsListCnt
		설  명 : CMS 목록을 갯수 카운팅
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2023.09.08    임서화       최초생성
    -->
	<select id="getCntsListCnt" parameterType="COGCntsDTO" resultType="java.lang.Integer">
		SELECT /* COGCntsMapper.getCntsListCnt */
			count(*)
		FROM
			CO_CNTS_MST
		WHERE
			MENU_SEQ = #{menuSeq}
	</select>

	<!--
		 쿼리명 : COGCntsMapper.selectCntsList
		 설  명 : CMS 목록을 조회
			 수정일	 수정자     수정내용
		==========   ======   =============
		2023.09.08   임서화     최초생성
	-->
	<select id="selectCntsList" parameterType="COGCntsDTO" resultType="COGCntsDTO">
		select /* COGCntsMapper.selectCntsList */
			menu_seq
		    , SEQ
			, VER
			, CNTS
			, JS_CNTS
			, PRCS_CD
			, REG_ID
		    , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
			, REG_DTM
			, MOD_ID
			, (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
			, MOD_DTM
		from
			CO_CNTS_MST A
		where
		    MENU_SEQ = #{menuSeq}
		order by
			REG_DTM desc
	</select>

	<!--
		쿼리명 : COGCntsMapper.updateUseCnts
		설  명 : CMS의 배포 여부 변경
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.09.08   임서화     최초생성
	-->
	<!--<update id="updateUseCnts" parameterType="COGCntsDTO">
		UPDATE  /*COGCntsMapper.updateUseCnts*/
			CO_CNTS_MST
		SET PRCS_CD = '20'
		  , MOD_ID = #{modId}
		  , MOD_IP = #{modIp}
		  , MOD_DTM = NOW()
		WHERE PRCS_CD = '10'
		  AND MENU_SEQ	= #{menuSeq}
	</update>-->

	<!--
		쿼리명 : COGCntsMapper.insertCnts
		설  명 : CMS 등록
		 수정일	 수정자     수정내용
		==========   ======   =============
		2023.09.08   임서화     최초생성
	-->
	<insert id="insertCnts" parameterType="COGCntsDTO">
		<selectKey keyProperty="ver" resultType="Integer" order="BEFORE">
			SELECT IFNULL(MAX(ver)+1,1) FROM CO_CNTS_MST WHERE MENU_SEQ = #{menuSeq}
		</selectKey>
		INSERT /* COGCntsMapper.insertCnts */ INTO CO_CNTS_MST
			( SEQ
			, MENU_SEQ
			, VER
			, CNTS
			, JS_CNTS
			, PRCS_CD
			, REG_ID
			, REG_IP
			, REG_DTM
			)
			VALUES
			( #{seq}
			, #{menuSeq}
			, #{ver}
			, #{cnts}
			, #{jsCnts}
			, '30'
			, #{regId}
			, #{regIp}
			, NOW()
			)
	</insert>

	<!--
	  쿼리명 : COGCntsMapper.selectCntsDtl
	  설  명 : CMS 컨텐츠의 상세 조회
	   수정일     수정자       수정내용
	 ==========   ======    ==============
	 2023.09.08   임서화       최초생성
	-->
	<select id="selectCntsDtl" parameterType="COGCntsDTO" resultType="COGCntsDTO">
		SELECT /* COGCntsMapper.selectCntsDtl */
			SEQ
			 , MENU_SEQ
		     , VER
			 , CNTS
			 , JS_CNTS
			 , PRCS_CD
			 , REG_ID
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
			 , REG_DTM
			 , MOD_ID
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
			 , MOD_DTM
		FROM
			CO_CNTS_MST A
		WHERE
			MENU_SEQ = #{menuSeq}
		<choose>
			<when test="'Y'.toString() == userYn">
				AND PRCS_CD = 10
			</when>
			<otherwise>
				AND	SEQ = #{detailsKey}
			</otherwise>
		</choose>
	</select>

	<!--
    쿼리명 : COGCntsMapper.updateCnts
    설  명 : CMS 컨텐츠의 내용을 수정
     수정일	 수정자     수정내용
    ==========   ======   =============
    2023.09.08   임서화     최초생성
	-->
	<update id="updateCnts" parameterType="COGCntsDTO">
		UPDATE  /*COGCntsMapper.updateCnts*/
			CO_CNTS_MST
		SET
		   CNTS = #{cnts}
		  , JS_CNTS = #{jsCnts}
		  , MOD_ID = #{modId}
		  , MOD_IP = #{modIp}
		  , MOD_DTM = NOW()
		WHERE
		    MENU_SEQ = #{menuSeq}
		AND	SEQ = #{detailsKey}
	</update>


	<!--
         쿼리명 : COGCntsMapper.deleteCnts
         설  명 : 컨텐츠 삭제
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.08   임서화       최초생성
    -->
	<delete id="deleteCnts" parameterType="COGCntsDTO">
		DELETE /* COGCntsMapper.deleteCnts */
		FROM
		CO_CNTS_MST
		<where>
			<choose>
				<when test="delValueList != null and delValueList.size() > 0">
					MENU_SEQ = #{menuSeq}
					AND SEQ IN
					<foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
						#{delValueList}
					</foreach>
					AND PRCS_CD != '10'
				</when>
				<otherwise>
					MENU_SEQ = #{menuSeq}
					AND	SEQ = #{detailsKey}
					AND PRCS_CD != '10'
				</otherwise>
			</choose>
		</where>
	</delete>

	<!--
         쿼리명 : COGCntsMapper.updateCntsExpr
         설  명 : 컨텐츠 만료
          수정일     수정자       수정내용 
        ==========   ======    ============== 
        2023.11.17   장두석       최초생성
    -->
	<update id="updateCntsExpr" parameterType="COGCntsDTO">
		UPDATE /* COGCntsMapper.updateCntsExpr */ CO_CNTS_MST
		SET PRCS_CD = '20'
			, MOD_ID = #{modId}
			, MOD_IP = #{modIp}
			, MOD_DTM = NOW()
		WHERE PRCS_CD = '10'
		  AND MENU_SEQ = #{menuSeq}
	</update>

	<!--
         쿼리명 : COGCntsMapper.updateCntsAprvl
         설  명 : 컨텐츠 배포
          수정일     수정자       수정내용 
        ==========   ======    ============== 
        2023.11.17   장두석       최초생성
    -->
	<update id="updateCntsAprvl" parameterType="COGCntsDTO">
		UPDATE /* COGCntsMapper.updateCntsAprvl */ CO_CNTS_MST
		SET PRCS_CD = '10'
		  , MOD_ID = #{modId}
		  , MOD_IP = #{modIp}
		  , MOD_DTM = NOW()
		WHERE MENU_SEQ = #{menuSeq}
		  AND SEQ = #{detailsKey}
	</update>

	<!--
         쿼리명 : COGCntsMapper.insertCntsCopy
         설  명 : 컨텐츠 복사
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.11.17   장두석       최초생성
    -->
	<insert id="insertCntsCopy" parameterType="COGCntsDTO">
		<selectKey keyProperty="ver" resultType="Integer" order="BEFORE">
			SELECT IFNULL(MAX(VER)+1,1) FROM CO_CNTS_MST WHERE MENU_SEQ = #{menuSeq}
		</selectKey>
		INSERT /* COGCntsMapper.insertCntsCopy */ INTO CO_CNTS_MST
		( SEQ
		, MENU_SEQ
		, VER
		, CNTS
		, JS_CNTS
		, PRCS_CD
		, REG_ID
		, REG_IP
		, REG_DTM
		)
		VALUES
		( #{seq}
		, #{menuSeq}
		, #{ver}
		, #{cnts}
		, #{jsCnts}
		, '30'
		, #{regId}
		, #{regIp}
		, NOW()
		)
	</insert>

	<select id="selectNewVer" resultType="Integer" parameterType="COGCntsDTO" >
		SELECT IFNULL(MAX(VER)+1,1) VER FROM CO_CNTS_MST WHERE MENU_SEQ = #{menuSeq}
	</select>

	<!--
		 쿼리명 : COGCntsMapper.getCmsDtl
		 설  명 : CMS 배포 목록을 조회
			 수정일	 수정자     수정내용
		==========   ======   =============
		2023.12.20   김태훈     최초생성
	-->
	<select id="getCmsDtl" parameterType="COGCntsDTO" resultType="COGCntsDTO">
		select /* COGCntsMapper.getCmsDtl */
			menu_seq
			 , SEQ
			 , VER
			 , CNTS
			 , JS_CNTS
			 , PRCS_CD
			 , REG_ID
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) AS REG_NAME
			 , REG_DTM
			 , MOD_ID
			 , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.MOD_ID) AS MOD_NAME
			 , MOD_DTM
		from
			CO_CNTS_MST A
		where
			MENU_SEQ = #{menuSeq} AND PRCS_CD = 10
	</select>
</mapper>


