<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.COScheduleMapper">

    <!--
        쿼리명 : COScheduleMapper.updateStrtEduPtcptStts
        설  명 : 교육 시작 후 해당 교육의 선발대기 상태인 신청자 상태 미선발로 변경
         수정일	 수정자     수정내용
        ==========   ======   =============
        2024.01.24   장두석     최초생성
    -->
    <update id="updateStrtEduPtcptStts">
        UPDATE /*EBHEduApplicantMapper.updateStrtEduPtcptStts*/
            EP_EDCTN_PTCPT_MST
        SET
            STTS_CD = 'EDU_STTS_CD05'
        WHERE
            1=1
            AND STTS_CD = 'EDU_STTS_CD04'
            AND EPISD_SEQ IN (SELECT EPISD_SEQ FROM ED_EDCTN_EPISD_MST WHERE EDCTN_STRT_DTM <![CDATA[ < ]]> NOW());
    </update>

    <!--
        쿼리명 : COScheduleMapper.updateStrtEduPtctpStts
        설  명 : 교육 시작 후 해당 교육의 선발대기 상태인 신청자 상태 미선발로 변경
         수정일	 수정자     수정내용
        ==========   ======   =============
        2024.01.24   장두석     최초생성
    -->
    <update id="updatAtndcInfo">
        UPDATE /* COScheduleMapper.updatAtndcInfo */
        EP_EDCTN_ATNDC_DTL A, (
            SELECT
                PTCPT_SEQ
                , EDCTN_DT
                , ATNDC_DTM
                , LVGRM_DTM
                , CONCAT(EDCTN_DT, ' 18:00:00') AS UPDATE_LVGRM_DTM
            FROM EP_EDCTN_ATNDC_DTL
            WHERE 1=1
                AND EDCTN_DT <![CDATA[<]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
                AND ATNDC_DTM IS NOT NULL
                AND LVGRM_DTM IS NULL
        ) B
        SET A.LVGRM_DTM = B.UPDATE_LVGRM_DTM
        , A.MOD_ID = 'schedule'
        , A.MOD_IP = '127.0.0.1'
        , A.MOD_DTM = NOW()
        WHERE 1=1
            /*AND A.PTCPT_SEQ  = 117*/
            AND A.ATNDC_DTM IS NOT NULL
            AND A.PTCPT_SEQ = B.PTCPT_SEQ
            AND A.EDCTN_DT = B.EDCTN_DT
    </update>


    <!--
		쿼리명 : COScheduleMapper.selectSubjectList
		설  명 : 교육 시작 3일 전 교육 일정 안내 대상자 조회
	      수정일      수정자       수정내용
        ==========   ========   ==============
        2024.02.05    장두석       최초생성
    -->
    <select id="selectSubjectList" resultType="EBScheduleGuideDTO">
        SELECT /* COScheduleMapper.selectSubjectList */
            (SELECT NAME FROM CO_MEM_MST WHERE MEM_SEQ = A.MEM_SEQ) NAME
            , (SELECT EMAIL FROM CO_MEM_MST WHERE MEM_SEQ = A.MEM_SEQ) EMAIL
            , (SELECT NM FROM ED_EDCTN_PRCS_MST WHERE EDCTN_SEQ = A.EDCTN_SEQ) NM
            , CASE (SELECT STDUY_MTHD_CD FROM ED_EDCTN_PRCS_MST WHERE EDCTN_SEQ = A.EDCTN_SEQ)
                WHEN 'STDUY_MTHD01' THEN (SELECT NM FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = B.PLACE_SEQ)
                WHEN 'STDUY_MTHD02' THEN '온라인'
                WHEN 'STDUY_MTHD03' THEN CONCAT((SELECT NM FROM ED_EDCTN_PLACE_MST WHERE PLACE_SEQ = B.PLACE_SEQ), ' + 온라인')
            END AS PLACE_NM
            , DATE_FORMAT(B.EDCTN_STRT_DTM, '%Y-%m-%d') EDCTN_STRT_DTM
            , DATE_FORMAT(B.EDCTN_END_DTM, '%Y-%m-%d') EDCTN_END_DTM
            , (SELECT CMPN_NM FROM CP_CMPN_MST WHERE BSNM_NO = A.PTCPT_BSNM_NO) CMPN_NM
        FROM
            EP_EDCTN_PTCPT_MST A
            JOIN ED_EDCTN_EPISD_MST B ON B.EDCTN_SEQ = A.EDCTN_SEQ AND B.EPISD_YEAR = A.EPISD_YEAR AND B.EPISD_ORD = A.EPISD_ORD AND B.EPISD_SEQ AND A.EPISD_SEQ
        WHERE
            A.STTS_CD = 'EDU_STTS_CD01'
            AND DATE_FORMAT(DATE_SUB(EDCTN_STRT_DTM, INTERVAL 3 DAY), '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    </select>




</mapper>