<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.COSystemLogMapper">
    <!--
         쿼리명 : COSystemLogMapper.logInsertSysLog
         설  명 : 시스템 로그정보를 생성한다.
       	  수정일	 수정자     수정내용
        ==========   ======   =============
        2020.10.20   허진영     최초생성
    -->
    <insert id="logInsertSysLog" parameterType="COSystemLogDTO">
        insert /* COSystemLogMapper.logInsertSysLog */ into co_sys_log
        (
            trgt_menu_nm
            , srvc_nm
            , fnc_nm
            , prcs_cd
            , rsn
            , reg_id
            , reg_ip
            , reg_dtm
        ) values (
            #{trgtMenuNm}
            , #{srvcNm}
            , #{fncNm}
            , #{prcsCd}
            , #{rsn}
            , #{regId}
            , #{regIp}
            , now()
        )
    </insert>
    <!--
         쿼리명 : COSystemLogMapper.logInsertErrLog
         설  명 : 에러 로그정보를 생성한다.
             수정일	 수정자     수정내용
        ==========   ======   =============
        2020.10.20   허진영     최초생성
    -->
    <insert id="logInsertErrLog" parameterType="COSystemLogDTO">
        insert /* COSystemLogMapper.logInsertErrLog */ into co_err_log
        (
            trgt_menu_nm
            , srvc_nm
            , fnc_nm
            , err_cd
            , err_cntn
            , reg_id
            , reg_ip
            , reg_dtm
        ) values (
            #{trgtMenuNm}
            , #{srvcNm}
            , #{fncNm}
            , #{errCd}
            , #{errCntn}
            , #{regId}
            , #{regIp}
            , now()
        )
    </insert>

    <!--
         쿼리명 : COSystemLogMapper.logInsertSysQuery
         설  명 : 시스템 쿼리 등록
       	  수정일	 수정자     수정내용
        ==========   ======   =============
        2020.10.20   허진영     최초생성
    -->
    <insert id="logInsertSysQuery" parameterType="COSystemLogDTO">
        insert /* COSystemLogMapper.logInsertSysQuery */ into co_query_mst
        (
          trgt_menu_nm
        , qury_cntn
        , reg_id
        , reg_ip
        , reg_dtm
        )
        values
       (
           #{trgtMenuNm}
         , #{quryCntn}
         , #{regId}
         , #{regIp}
         , now()
        )
    </insert>


    <!--
         쿼리명 : COSystemLogMapper.logInsertCrtfnNo
         설  명 : 관리자 인증번호 로그 등록
       	  수정일	 수정자     수정내용
        ==========   ======   =============
        2023.11.15   김학규     최초생성
    -->
    <insert id="logInsertCrtfnNo" parameterType="COSystemLogDTO">
        insert /* COSystemLogMapper.logInsertCrtfnNo */ into co_adm_crtfn_no_log
        (
        adm_crtfn_seq
        , adm_seq
        , crtfn_seq
        , reg_id
        , reg_ip
        , reg_dtm
        )
        values
            (
            #{admCrtfnSeq}
            , #{admSeq}
            , #{crtfnSeq}
            , #{regId}
            , #{regIp}
            , now()
            )
    </insert>




</mapper>