<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.COUserLgnMapper">

	<!--
         쿼리명 : COUserLgnMapper.getLoginInfo
         설  명 : 로그인 정보를 가져온다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<select id="getLoginInfo" parameterType="COLoginDTO" resultType="MPAUserDto">
		select  /* COUserLgnMapper.getLoginInfo */
			mem_seq
			 , mem_cd
			 , id
			 , name
			 , pwd
			 , birth
			 , hp_no
			 , email
			 , last_lgn_dtm
			 , pwd_chng_dtm
			 , wthdrw_yn
			 , lgn_fail_cnt
		     , pwd
			 , tmp_pwd_yn
		     , wthdrw_yn
		     , chng_xtnsn_cnt
		from
			co_mem_mst
		where id = #{id}
	</select>

	<!--
         쿼리명 : COUserLgnMapper.actionLogin
         설  명 : 사용자 정보를 가져온다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<select id="actionLogin" parameterType="MPAUserDto" resultType="COUserDetailsDTO">
		select /* COUserLgnMapper.actionLogin */
			  mem_seq as seq
			, mem_cd as auth_cd
		    , dept_cd
			, dept_dtl_nm as dept_nm
			, id
			, name
			, email
			, hp_no
			, chng_xtnsn_cnt
		from
			co_mem_mst a
		where 1=1
			and id = #{id}
		   	and pwd = #{pwd}
		   	and wthdrw_yn = 'Y'
	</select>

	<!--
         쿼리명 : COUserLgnMapper.updateLgnFailCntIncrs
         설  명 : 로그인 오류 횟수를 증가시킨다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<update id="updateLgnFailCntIncrs" parameterType="MPAUserDto">
		update /* COUserLgnMapper.updateLgnFailCntIncrs */ co_mem_mst
		set
			lgn_fail_cnt = ifnull(lgn_fail_cnt, 0) + 1
		where
			id = #{id}
	</update>

	<!--
         쿼리명 : COUserLgnMapper.updateLgnFailCntInit
         설  명 :  로그인 오류 횟수를 초기화한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<update id="updateLgnFailCntInit" parameterType="COUserDetailsDTO">
		update /* COUserLgnMapper.updateLgnFailCntInit */ co_mem_mst
		set
			lgn_fail_cnt = 0
		where
			id = #{id}
	</update>

	<!--
         쿼리명 : COUserLgnMapper.updateLastLgnDtm
         설  명 : 로그인 일시를 업데이트한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<update id="updateLastLgnDtm" parameterType="COUserDetailsDTO">
		update /* COUserLgnMapper.updateLastLgnDtm */ co_mem_mst
		set
			last_lgn_dtm = now()
		where
			mem_seq = #{seq}
	</update>

	<!--
         쿼리명 : COUserLgnMapper.updatePwdChng
         설  명 : 비밀번호를 변경한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.12.06   양현우       최초생성
    -->
	<update id="updatePwdChng" parameterType="MPAUserDto">
		update /* COUserLgnMapper.updatePwdChng */ co_mem_mst
		set
			  pwd = #{newEncPwd}
			, pwd_chng_dtm = now()
			, tmp_pwd_yn = 'N'
			, last_lgn_dtm = now()
		    , chng_xtnsn_cnt = 0
		WHERE
			mem_seq = #{memSeq}
	</update>

	<!--
     쿼리명 : COUserLgnMapper.updatePwdNextChng
     설  명 : 다음에 비밀번호를 변경한다.
      수정일     수정자       수정내용
    ==========   ======    ==============
    2023.12.06   양현우       최초생성
-->
	<update id="updatePwdNextChng" parameterType="MPAUserDto">
		update /* COUserLgnMapper.updatePwdNextChng */ co_mem_mst
		set
		   pwd_chng_dtm = DATE_SUB(NOW(), INTERVAL 2 MONTH)
		  , last_lgn_dtm = now()
		  , chng_xtnsn_cnt = ifnull(lgn_fail_cnt, 0) + 1
		WHERE
			mem_seq = #{memSeq}
	</update>


	<!--
     쿼리명 : COUserLgnMapper.idFind
     설  명 : 아이디 찾기
      수정일     수정자       수정내용
    ==========   ======    ==============
    2023.12.06   양현우       최초생성
-->
	<select id="getIdFind" parameterType="COIdFindDto" resultType="MPAUserDto">
		select /* COUserLgnMapper.idFind */
			a.mem_seq
		  , a.id
		  , a.email
		  , a.name
		from
			co_mem_mst a
		 inner join co_mem_dtl b
		  on a.mem_seq = b.mem_seq
		where 1=1
		<if test="name != null and name != ''.toString() ">
		  and a.name = #{name}
		</if>
		<if test="birthdate != null and birthdate != ''.toString() ">
		  and a.birth = #{birthdate}
		</if>
		<if test="mobile_no != null and mobile_no != ''.toString() ">
		  and a.hp_no =#{mobile_no}
		</if>
		<if test="email != null and email != ''.toString() ">
			and a.email =#{email}
		</if>
		<if test="id != null and id != ''.toString() ">
			and a.id = #{id}
		</if>
		<if test="ci != null and ci != ''.toString() ">
			and b.ci = #{ci}
		</if>
		  and wthdrw_yn = 'Y'
	</select>


</mapper>