<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kap.service.dao.um.UMAFtpUploadMapper">
    <!--
     쿼리명 : UMAFtpUploadMapper.selectUploadFileList
     설  명 : 게시판 리스트
     수정일     수정자     수정내용
    ==========  ======  ==============
    2023.09.18  임서화     최초 생성
    -->
    <select id="selectUploadFileList" parameterType="UMAFtpUploadDTO" resultType="UMAFtpUploadDTO">
        SELECT /* UMAFtpUploadMapper.selectUploadFileList */
            PUBC_SEQ
            , FILE_SEQ
            , 0 FILE_ORD
            , (SELECT ORGN_FILE_NM FROM CO_FILE_DTL WHERE FILE_SEQ = A.FILE_SEQ) AS ORGN_FILE_NM
            , (SELECT WEB_PATH FROM CO_FILE_DTL WHERE FILE_SEQ = A.FILE_SEQ) AS WEB_PATH
            , (SELECT PHY_PATH FROM CO_FILE_DTL WHERE FILE_SEQ = A.FILE_SEQ) AS PHY_PATH
            , (SELECT NAME FROM CO_ADM_MST WHERE ID = A.REG_ID) REG_NAME
            , REG_ID
            , REG_IP
            , REG_DTM
        FROM
            SM_FILE_PUBC_MST A
        WHERE 1=1
            ORDER BY
             REG_DTM DESC
    </select>

    <!--
    쿼리명 : UMAFtpUploadMapper.getFtpUploadListTotCnt
    설  명 : 게시물 목록을 갯수를 카운팅한다.
      수정일      수정자       수정내용
    ==========   ========   ==============
    2023.09.08    임서화       최초생성
    -->
    <select id="getFtpUploadListTotCnt" parameterType="UMAFtpUploadDTO" resultType="java.lang.Integer">
        SELECT /* UMAFtpUploadMapper.getFtpUploadListTotCnt */
            count(*)
        FROM
            SM_FILE_PUBC_MST
    </select>

    <insert id="insertUploadFile" parameterType="UMAFtpUploadDTO">
        INSERT /* UMAFtpUploadMapper.insertUploadFile */ INTO SM_FILE_PUBC_MST
            (
            PUBC_SEQ
            , FILE_SEQ
            , REG_ID
            , REG_IP
            , REG_DTM
            )
            VALUES
            (
            #{pubcSeq}
            , #{fileSeq}
            , #{regId}
            , #{regIp}
            , NOW()
            )
    </insert>
    <!--
         쿼리명 : UMAFtpUploadMapper.deleteUploadFile
         설  명 : 게시물을 삭제한다.
          수정일     수정자       수정내용
        ==========   ======    ==============
        2023.09.08   임서화       최초생성
        -->
    <delete id="deleteUploadFile" parameterType="UMAFtpUploadDTO">
        DELETE /* UMAFtpUploadDTO.deleteUploadFile */
        FROM
        SM_FILE_PUBC_MST
        <where>
            <choose>
                <when test="delValueList != null and delValueList.size() > 0">
                    PUBC_SEQ IN
                    <foreach collection="delValueList" item="delValueList" index="index" separator=", " open="(" close=")">
                        #{delValueList}
                    </foreach>
                </when>
                <otherwise>
                    AND	PUBC_SEQ = #{detailsKey}
                </otherwise>
            </choose>
        </where>
    </delete>
</mapper>


